<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $cadastro \Codando\Modulo\Cadastro */

$this->display('header', array('menuCurrent' => 'minhaconta'));
?>

    <section class="form-generic">
        <header class="title-section-container">
            <h1 class="title-section">MEU CADASTRO</h1>
        </header>

        <p class="text-sub">Preencha os campos para atualizar o seu cadastro na DogSafe</p>

        <div class="container">
            <div class="form-container cadastro meu-cadastro">
                <form data-controller="form" data-action="/meu-cadastro" data-upload="/upload">
                    
                    <span class="feedback"></span>
                    
                    <div class="dados">
                        <span><span>CPF: </span><?= $cadastro->getCpf(); ?></span>
                        <span><span>NOME COMPLETO:</span> <?= $cadastro->getNome(); ?></span>
                    </div>
                    
                    <label for="email" class="none">e-mail</label>
                    <input type="text" id="email" name="email" class="form-control" value="<?= $cadastro->getEmail(); ?>" placeholder="E-mail*" required>

                    <label for="celular" class="none">Celular</label>
                    <input type="text" id="celular" name="celular" class="form-control" data-celular value="<?= $cadastro->getCelular(); ?>" placeholder="Celular*" required>

                    <label for="cep" class="none">CEP</label>
                    <input type="text" id="cep" name="cep" class="form-control" placeholder="Cep*" value="<?= $cadastro->getCep(); ?>" required>

                    <label for="endereco" class="none">endereco</label>
                    <input type="text" id="endereco" name="endereco" class="form-control" placeholder="Endereco*" value="<?= $cadastro->getEndereco(); ?>" required>

                    <div class="select-personalizado">
                        <span class="label">Cidade</span>
                        <i class="seta"></i>
                        <select id="boarging" name="id_cidade" placeholder="Cidade" class="selected cidade" data-selected="<?= $cadastro->getCidade()->getId(); ?>">
                            <option class="primeiro">Cidade *</option>
                        </select>
                    </div>

                    <div class="wrapper">
                        <div class="select-personalizado">
                            <span class="label">Estado</span>
                            <i class="seta"></i>
                            <select id="estado" name="estado" placeholder="ESTADO" class="selected estado">
                                <option class="primeiro">Estado*</option>
                                <?php
                                $estadoList = app()->listModulo('estado');

                                /* @var $estado \Codando\Modulo\Estado */
                                foreach ($estadoList as $estado) {
                                    ?>
                                <option <?= $estado->isEquals($cadastro->getCidade()->getEstado()) ? ' selected ':'NULL'; ?> value="<?= $estado->getId(); ?>" data-sigla="<?= $estado->getSigla(); ?>" ><?= $estado->getSigla(); ?></option>
                                <? } ?>
                            </select>
                        </div>

                        <label for="senha" class="none">Senha</label>
                        <input type="text" id="senha" name="senha" class="form-control" placeholder="Senha*">
                    </div>
                    <a class="btn-icon btn-icon-camera file-uploader" id="perfil-uploaded" data-name="perfil" data-text="<span class='label'>INSERIR FOTO DE PERFIL</span>"></a>
                    <button type="submit" class="btn-icon btn-icon-flecha">ATUALIZAR CADASTRO</button>
                </form>

                <span>Ao atualizar o seu cadastro, você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
            </div>
            <div class="widgets-container">
                <a href="/minha-conta" class="btn-border">voltar</a>
            </div>
        </div>
    </section>

<?php

$this->display('footer', array('menuCurrent' => 'minhaconta'));