<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $pet \Codando\Modulo\Pet */
$pet;

$this->display('header', array('menuCurrent' => $menuCurrent));
?>

    <section class="form-generic cadastro-pet">
        <header class="title-section-container">
            <h1 class="title-section">Alterar do pet</h1>
        </header>

        <p class="text-sub">Preencha os campos para realizar o cadastro do seu Pet na DogSafe</p>

        <div class="container">
            <form data-action="/editar-pet/<?= $pet->getId(); ?>" data-controller="form" class="form-container">
                <div class="form-wrapper">
                    <div class="feedback c-white absolute"></div>
                    <div class="input-holder">
                        <label for="nome" class="none">NOME DO PET *</label>
                        <input type="text" id="nome" name="nome" class="form-control input-big" value="<?= $pet->getNome(); ?>" placeholder="NOME DO PET *">
                        <label for="idade" class="none">Idade *</label>
                        <input type="text" id="idade" name="idade" class="form-control input-holder" value="<?= $pet->getIdade() ?>" placeholder="Idade *">
                    </div>

                    <div class="input-holder">
                        <label for="tipo" class="none">TIPO *</label>
                        <div class="select-personalizado s-tipo">
                            <span class="label">TIPO *</span>
                            <i class="seta"></i>
                            <select id="tipo" name="tipo" class="selected">
                                <option value="">TIPO *</option>
                                <option value="1" <?= $pet->getTipo() == 1 ? ' selected':NULL; ?>>Cachorro</option>
                                <option value="2" <?= $pet->getTipo() == 2 ? ' selected':NULL; ?>>Gato</option>
                            </select>
                        </div>

                        <label for="id_tamanhopet" class="none">TAMANHO DO PET *</label>
                        <div class="select-personalizado">
                            <span class="label">TAMANHO DO PET *</span>
                            <i class="seta"></i>
                            <select id="id_tamanhopet" name="id_tamanhopet" class="selected">
                                <option value="">TAMANHO DO PET *</option>
                                <?php
                                /* @var $tamanhopet \Codando\Modulo\Tamanhopet */
                                foreach ($tamanhopetList as $tamanhopet) {
                                    ?>
                                <option value="<?= $tamanhopet->getId(); ?>" <?= $tamanhopet->isEquals($pet->getTamanhopet()) ? ' selected':NULL; ?>><?= $tamanhopet->getTitulo(); ?></option>
                                <? } ?>
                            </select>
                        </div>

                        <label for="castrado" class="none">CASTRADO</label>
                        <div class="select-personalizado">
                            <span class="label">CASTRADO</span>
                            <i class="seta"></i>
                            <select id="castrado" name="castrado" class="selected">
                                <option value="">CASTRADO</option>
                                <option value="1" <?= $pet->getCastrado() == 1 ? ' selected':NULL; ?>>SIM</option>
                                <option value="2" <?= $pet->getCastrado() == 2 ? ' selected':NULL; ?>>NÃO</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-holder">
                        <input type="text" id="raca" name="raca"  class="form-control input-holder" data-toggle="tooltip" value="<?= $pet->getRaca(); ?>" data-placement="top" title="Raça" placeholder="Raça">

                        
                        <label for="sexo" class="none">SEXO</label>
                        <div class="select-personalizado">
                            <span class="label">SEXO</span>
                            <i class="seta"></i>
                            <select id="sexo" name="sexo" class="selected">
                                <option value="">SEXO</option>
                                <option value="1" <?= $pet->getCastrado() == 1 ? ' selected':NULL; ?>>Macho</option>
                                <option value="2" <?= $pet->getCastrado() == 2 ? ' selected':NULL; ?>>Fêmea</option>
                            </select>
                        </div>

                        <label for="planodesaude" class="none">PLANO DE SAÚDE</label>
                        <textarea type="text" id="planodesaude" name="planodesaude" class="form-control" value="<?= $pet->getPlanodesaude(); ?>" data-celular placeholder="PLANO DE SAÚDE VETERINÁRIO?       Se sim, cadastre o telefone do plano"></textarea>
                    </div>

                    <div class="input-holder big">
                        <label for="alergia" class="none">POSSUI ALERGIA? ESPECIFIQUE</label>
                        <textarea type="text" id="alergia" name="alergia" class="form-control" value="<?= $pet->getAlergia(); ?>" placeholder="POSSUI ALERGIA? ESPECIFIQUE"></textarea>

                        <label for="doenca" class="none">POSSUI DOENÇA PRÉVIA OU CRÔNICA? ESPECIFIQUE</label>
                        <textarea type="text" id="doenca" name="doenca" class="form-control" placeholder="POSSUI DOENÇA PRÉVIA OU CRÔNICA? ESPECIFIQUE">
                            <?= $pet->getDoenca() ?>
                        </textarea>

                        <label for="medicacao" class="none">FAZ USO DE MEDICAÇÃO? (Caso sim, por favor descrever a medicação, dosagem e horários)</label>
                        <textarea type="text" id="medicacao" name="medicacao" class="form-control" placeholder="FAZ USO DE MEDICAÇÃO? (Caso sim, por favor descrever a medicação, dosagem e horários)">
                            <?= $pet->getMedicacao() ?>
                        </textarea>
                    </div>

                    <div class="input-holder big">
                        <label for="reqcuidado" class="none">REQUER CUIDADO ESPECIAL? DESCREVA</label>
                        <textarea type="text" id="reqcuidado" name="reqcuidado" class="form-control" placeholder="REQUER CUIDADO ESPECIAL? DESCREVA">
                            <?= $pet->getReqcuidado() ?>
                        </textarea>

                        <div class="select-personalizado">
                            <span class="label">CARTEIRA DE VACINAÇÃO ATUALIZADA COM A ANTIRRÁBICA? </span>
                            <i class="seta"></i>
                            <select id="carteira" name="carteira" class="selected">
                                <option value="">CARTEIRA DE VACINAÇÃO ATUALIZADA</option>
                                <option value="1" <?= $pet->getCarteira() == 1 ? ' selected':NULL; ?>>SIM</option>
                                <option value="2" <?= $pet->getCarteira() == 2 ? ' selected':NULL; ?>>NÃO</option>
                            </select>
                        </div>

                        <div class="select-personalizado">
                            <span class="label">FEZ USO RECENTE DE ANTI PULGAS e CARRAPATOS </span>
                            <i class="seta"></i>
                            <select id="rapaticidapulga" name="rapaticidapulga" class="selected">
                                <option value="">FEZ USO RECENTE DE ANTI PULGAS e CARRAPATOS</option>
                                <option value="1" <?= $pet->getRapaticidapulga() == 1 ? ' selected':NULL; ?>>SIM</option>
                                <option value="2" <?= $pet->getRapaticidapulga() == 2 ? ' selected':NULL; ?>>NÃO</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-holder big ultimo">
                
                        <div class="select-personalizado">
                            <span class="label">Para regiões com Leishmaniose: Possui vacina ou faz uso da coliera específica</span>
                            <i class="seta"></i>
                            <select id="regleishmaniose" name="regleishmaniose" class="selected">
                                <option value="">Para regiões com Leishmaniose: Possui vacina ou faz uso da coliera específica?</option>
                                <option value="1" <?= $pet->getRegleishmaniose() == 1 ? ' selected':NULL; ?>>SIM</option>
                                <option value="2" <?= $pet->getRegleishmaniose() == 2 ? ' selected':NULL; ?>>NÃO</option>
                            </select>
                        </div>
                        
                        <label for="sobre" class="none">FALE UM POUCO A RESPEITO DE SEU CÃOZINHO: Como por exemplo se é sociável com outros cães e crianças, se gosta de brincar ou dorme bastante. Esse é um espaço para você descrevê-lo e colocar as considerações que achar importantes.</label>
                        <textarea type="text" id="sobre" name="sobre" class="form-control input-big" placeholder="FALE UM POUCO A RESPEITO DE SEU CÃOZINHO: Como por exemplo se é sociável com outros cães e crianças, se gosta de brincar ou dorme bastante. Esse é um espaço para você descrevê-lo e colocar as considerações que achar importantes.">
                            <?= $pet->getSobre() ?>
                        </textarea>
                    </div>

                    <div class="btn-wrapper">
                        <div class="text-container">
                            <span>Ao realizar o cadastro do seu Pet, você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
                        </div>

                        <div class="btn-content">
                            <button type="submit" class="btn-icon btn-icon-flecha">alterar</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-sub">
                <span class="text"><i class="sprite i-pata-small"></i>Não se esqueça de imprimir a ficha e entregar ao anfitrião no momento da hospedagem ou DayCare.</span>
                <span class="text"><i class="sprite i-pata-small"></i>Lembramos que nós da DogSafe recomendamos fortemente a carteira de vacinação atualizada, uso de anti pulgas e carrapatos além de vacina ou coleira contra Leishmaniose para regiões afetadas.</span>
            </div>

            <div class="widgets-container">
                <a href="/" class="btn-border">voltar</a>
            </div>
        </div>
    </section>

<?
$this->display('footer', array('menuCurrent' => $menuCurrent));