<?php

/* @var $pet \Codando\Modulo\Pet */
$pet;

?>
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <link type="text/plain" rel="author" href="/humans.txt" />
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
            <script src="/js/respond.js"></script>
        <![endif]-->
    </head>
<body>
<section id="ficha_pet">
    <div class="container"> 
        <img class="logo" src="/img/logo-dogsafe-grande.png" alt="Dog Safe">
        <span class="titulo">Detalhes do(s) pet(s)</span>
        <div class="pet">
            <strong>Nome</strong>: <?= $pet->getNome(); ?><br>
            <strong>Tipo</strong>: <?= $pet->getTipo() == 1 ? 'Cachorro':'Gato'; ?><br>
            <strong>Idade</strong>: <?= $pet->getIdade() ?><br>
            <strong>Tamanho</strong>: <?= $pet->getTamanhopet(); ?><br>
            <strong>Raça</strong>: <?= $pet->getRaca(); ?><br>
            <strong>Castrado</strong>: <?= $pet->getCastrado() == 1 ? 'Sim':'Não' ?><br>
            <strong>Possui Alergia?</strong>: <?= $pet->getAlergia(); ?><br>
            <strong>Possui Doença Grave ou Crônica?</strong>:  <?= $pet->getAlergia(); ?><br>
            <strong>Faz uso de medicação</strong>: <?= $pet->getMedicacao(); ?><br>
            <strong>Requer cuidado especial</strong>: <?= $pet->getReqcuidado() == 1 ? 'Sim':'Não' ?><br>
            <strong>Carteira de vacinação atualizada com a antirrábica?</strong>: <?= $pet->getCarteira() == 1 ? 'Sim':'Não' ?><br>
            <strong>Fez uso recente de anticarrapaticida e antipulgas?</strong>: <?= $pet->getRapaticidapulga() == 1 ? 'Sim':'Não' ?><br>
            <strong>Possui vacina ou fez uso de coleira de Leishmaniose?</strong>: <?= $pet->getRegleishmaniose() ?><br>
            <strong>Fale um pouco sobre o seu cãozinho?</strong>: <?= $pet->getSobre(); ?><br>
        </div>
        <a class="btn-imprimir" href=javascript:print();>Imprimir</a>
    </div>
</section>
</body>
</html>