<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$countreserva = $countconversa = 0;

$lastlogincadastro = input()->getSession('lastlogincadastro');
$logadocadastro = input()->getSession('logadocadastro');
$datacadastro = current( @explode('in', end( @explode('@', $lastlogincadastro) ) ) );

$countconversa = app()->countModulo('chatconversa', array(' tipo = 1 AND data > :dataanfitriao AND id_chat IN ( SELECT h.id_chat FROM chat h WHERE h.id_cadastro = :ref ) ', array('ref' => $logadocadastro, 'dataanfitriao' => $datacadastro)));

$this->display('header', array('menuCurrent' => 'minhaconta'));
?>

<section class="form-generic minha-conta-anfitriao">
    <header class="title-section-container">
        <h1 class="title-section">Minha Conta</h1>
    </header>
    
    <div class="container">
        <div class="form-container">
            <div class="usuario">
                <span class="nome">Oi, <span><?= ucwords( input()->getSession('nome') ); ?></span></span>
                <span>Seja bem-vindo a Dog Safe</span>
                <?php
                if($countReserva >= 1 && $countDepoimento < 1){
                ?>
                <div class="texto-depoimento">
                    Notamos que você utilizou a Dogsafe, caso queira deixa um depoimento<br>
                    <a class="link" data-rel="fancybox-depoimento" rel="fancybox-depoimento" href="#depoimento">Clique aqui</a>
                </div>
                <?php } ?>
            </div>

            <nav class="nav-generic">
                <ul>
                    <li><a href="/meu-cadastro">Atualizar Cadastro</a></li>
                    <li><a href="/meus-pets">Meu Pets</a></li>
                    <li><a href="/minhas-reservas">Minhas Reservas</a></li>
                    <li>
                        <a href="/chat">Chat</a>
                        <? if($countconversa  > 0){ ?>
                            <span class="contador"><?= $countconversa; ?></span>
                        <? } ?>
                    </li>
                    <li><a href="/sair" class="link-sair">Sair do sistema</a></li>
                </ul>
            </nav>
        </div>
      
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<section class="form-generic container none">
    <div id="depoimento" class="form-container fale-conosco">
        <form data-action="/depoimento/novo" data-controller="form">
            <div class="input-wrapper">
                <label for="mensagem" class="none">Mensagem</label>
                <textarea class="form-control" id="mensagem" name="texto" type="text" placeholder="Mensagem*" required></textarea>
            </div>
            <div class="input-wrapper">
                <div class="holder">
                    <button type="submit" class="btn-icon btn-icon-flecha">Enviar</button>
                </div>
                <div class="feedback c-white"></div>
            </div>
        </form>
    </div>
</section>
<?php

$this->display('footer', array('menuCurrent' => 'minhaconta'));
