<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */


$this->display('header', array('menuCurrent' => $menuCurrent));
?>

<section class="form-generic meus-pets">
    <header class="title-section-container">
        <h1 class="title-section">Meus Pets</h1>
    </header>

    <p class="text-sub">Faça o cadastro ou edite as informações do seu Pet na Dog Safe</p>

    <div class="container">
        <div class="form-container" data-controller="player|petlist" data-notloadimg>

            <div class="usuario">
                <span class="nome">Oi, <span><?= input()->getSession('nome'); ?></span></span>
                <span>Adicione o seu melhor amigo na Dog Safe</span>
            </div>

            <nav class="nav-generic" data-list>
                <?php
                $towhile = 0;
                $count = count($petList);
                while($count > 0){
                ?>
                <ul data-item>
                    <?php
                    
                    /* @var $pet \Codando\Modulo\Pet */
                    foreach($petList as $pet) {
                       
                    ?>
                        <li>
                            <span><?= $pet->getNome(); ?></span>
                            <div class="options">
                                <a href="/editar-pet/<?= $pet->getId(); ?>">editar</a>
                                <a href="/ficha-pet/<?= $pet->getId(); ?>" target="_blank">imprimir ficha</a>
                                <a class="excluir-pet" data-rel="<?= $pet->getId(); ?>">excluir</a>
                            </div>
                        </li>
                    <?php
                    $count--;
                    
                    if(++$towhile > 4){
                        $towhile = 0;
                        break;
                    }
                
                    } ?>

                    <li class="ultimo"><a href="/adicionar-pet" class="btn btn-big btn-escuro">cadastrar novo pet</a></li>
                </ul>
                <? } ?>
                
                <? if(count($petList) === 0){ ?>
                    <ul data-item>
                        <li class="ultimo"><a href="/adicionar-pet" class="btn btn-big btn-escuro">cadastrar novo pet</a></li>
                    </ul>
                <? } ?>
 
            </nav>
            
            <? if(count($petList) === 0){ ?>
            <div class="paginacao-form">
                <span class="prev" data-prev></span>
                <span class="next" data-next></span>
            </div>
            <? } ?>
        </div>

        <div class="widgets-container">
            <a href="/minha-conta" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?
$this->display('footer', array('menuCurrent' => $menuCurrent));
