<?php

/*
 * @var $app \Codando\App
 * @var $this \Codando\System\Template
 * @var $anfitriao \Codando\Modulo\Anfitriao
 */

$this->display('header', array('menuCurrent' => $menuCurrent));
?>


    <section class="form-generic minhas-reservas" data-controller='minhareserva'>
        <header class="title-section-container">
            <h1 class="title-section">Minhas reservas</h1>
        </header>

        <p class="text-sub">Nesta sessão será possível acompanhar todas as reservas realizadas em nosso site</p>

        <div class="container minha-agenda" id='reservas'>
            <div class="lista-wrapper">
                <div class="table-header">
                    <div class="col-data">
                        <span>Data da Reserva</span>
                    </div>
                    <div class="col-pet">
                        <span>Pet</span>
                    </div>
                    <div class="col-anfitriao">
                        <span>Anfitrião</span>
                    </div>
                    <div class="col-valor">
                        <span>Valor</span>
                    </div>
                    <div class="col-status">
                        <span>Status</span>
                    </div>
                     <div class="col-info to-right">
                        <span>Info</span>
                    </div>
                </div>

                <div class="table-body">
                    <?php
                    
                    /* @var $reserva \Codando\Modulo\Reserva */
                    foreach ((array)$reservaList as $reserva) {
                        
                        $reservapetList = app()->listModulo('reservapet', ' id_reserva = ' . $reserva->getId());
                        
                    ?>
                    <div data-id="<?=$reserva->getId(); ?>" class="table-row">
                        <div class="table-column-name">
                            <div class="col-data">
                                <span>Data da Reserva</span>
                            </div>
                            <div class="col-pet">
                                <span>Pet</span>
                            </div>
                            <div class="col-anfitriao">
                                <span>Anfitrião</span>
                            </div>
                            <div class="col-valor">
                                <span>Valor</span>
                            </div>
                            <div class="col-status">
                                <span>Status</span>
                            </div>
                            <div class="col-info">
                                <span>Info</span>
                            </div>
                        </div>
                        <div class="col-data">
                            <span><?= $reserva->getDatainicio(); ?></span>
                        </div>
                        <div class="col-pet">
                            <?php
                            
                            $pets = array();
                            /* @var $reservapet \Codando\Modulo\Reservapet */
                            foreach ($reservapetList as $reservapet) {
                                $pets[] = $reservapet->getPet();
                            }
                            
                            ?>
                            <span>
                                <?= implode(', ', $pets); ?>
                            </span>
                        </div>
                        <div class="col-anfitriao">
                            <span><?= $reserva->getAnfitriao()->getNome(); ?></span>
                        </div>
                        <div class="col-valor">
                            <span>R$ <?= $reserva->getValor(); ?></span>
                        </div>
                        <div class="col-status">
                            <?php
                                switch ($reserva->getStatus()) {
                                    case 1:
                                        echo '<a class="confirmada">Aguardando Confirmação</a>';
                                    break;
                                    case 2: //ta confirmada
                                    case 3: //aguardando
                                        echo '<a class="pagar confirmar">Realizar Pagamento</a>';
                                    break;
                                    case 7:
                                        echo '<a href="'. $reserva->getPaypalurl() .'" target="_blank" class="aguardando">Concluir o pagamento</a>';
                                    break;
                                    case 4:
                                        echo '<a class="confirmada btn-info">Pagamento efetuado</a>';
                                    break;
                                    case 5:
                                        echo '<a class="concluida btn-info">Concluída</a>';
                                    break;
                                    case 6:
                                        echo '<a class="cancelada" data-toggle="tooltip" data-placement="top" title="Verifique as políticas de cancelamento em termos de uso">Cancelada</a>';
                                    break;
                                }
                            ?>   
                        </div>
                        
                        <div class="col-info">
                            <span class="btn btn-big btn-add"></span>
                        </div>
                                                
                        <div class="detalhes-pet">
                            <?php

                            switch ($reserva->getStatus()) {
                                case 4:
                                    echo '<span class="titulo"><a  data-toggle="tooltip" data-placement="top" title="Verifique as políticas de cancelamento em termos de uso" class="cancelada cancelar">Cancelar Reserva</a></span>';
                                break;
                            }
                                
                            if($reserva->getStatus() != 6){
                            ?>

                            <span class="titulo">Detalhes do pagamento</span>
                            <div class="info-wrapper">
                                <? if(is_null($reserva->getDatapagamento()) === false){?>
                                <div class="wrapper">
                                    <span class="strong">Data do pagamento: </span> <?= $reserva->getDatapagamento(); ?>
                                </div>
                                <? } ?>
                                
                            </div>
                            <? } ?>
                         
                        </div>
                        
                    </div>
                    <? } ?>
                </div>
            </div>

            <div class="widgets-container">
                <a href="/encontre-um-anfitriao" class="btn btn-big btn-escuro">FAZER NOVA RESERVA</a>
            </div>

            <?= $paginacao; ?>
        </div>
    </section>

<?php

$this->display('footer', array('menuCurrent' => $menuCurrent));
