/*
    Banners Padrões - http://abraweb.com.br/banners.php
    - 300 x 250 (Medium Rectangle)
    - 250 x 250 - (Square Pop-Up)
    - 240 x 400 - (Vertical Rectangle)
    - 336 x 280 - (Large Rectangle)
    - 180 x 150 - (Rectangle) 
    - 300 x 100 - (3:1 Rectangle)
    - 720 x 300 - (Pop-Under)
    - 728 x 90 - (Leaderboard)
    - 468 x 60 - (Full Banner)
    - 234 x 60 - (Half Banner)
    - 88 x 31 - (Micro Bar)
    - 120 x 240 - (Vertical Banner) 
    - 160 x 600 - (Wide Skyscraper)
    - 120 x 600 - (Skyscraper)
    - 300 x 600 - (Half Page Ad)
*/

$backcolor: #DDD;

@mixin banner($name, $w, $h, $m : 0px) {
    
  .boxb-#{$name}{
    width: $w;
    height: $h;
    background:$backcolor;
    display: block;
    text-align: center;
    overflow: hidden;
    margin: $m auto;

    a{
        width: $w;
        height: $h;
        display: block;
        text-align: center;
        z-index: 5;
    }
  }
}