@import "helpers/mixin";
@import "helpers/toolset";
//Base stuff
@import "base/reset";
//Global Variables 
@import "config";
// Components and modules
@import "layout/content";
@import "module/text";
@import "module/buttons";
@import "module/forms";
@import "module/lists"; 
@import "module/widget";
@import "module/icones";
@import "module/como-funciona";
@import "module/depoimentos";
@import "module/view-generic";
@import "module/grid";
@import "module/chosen";
//Layout related stylesheets
@import "layout/header";
@import "layout/menu";
@import "layout/footer";
// Page-specific stylesheets
@import "pages/home";
@import "pages/parceiros";
@import "pages/sessao-depoimentos";
@import "pages/dicas";
@import "pages/blog";
@import "pages/page-como-funciona";
@import "pages/form-generic";
@import "pages/perguntas-frequentes";
@import "pages/encontre-um-anfitriao"; 
@import "pages/pedido-de-reserva";
@import "pages/sessao-chat";
@import "pages/anfitriao-interna";
@import "pages/imprimir-ficha";


@media(max-width: 991px) {}
@media(max-width: 479px) {}

.casa-uploaded{

    p a.fancybox{
        margin-right: 35px;
    }

    .seta-cima:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid white;
    }


    .seta-baixo:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
    }


    .seta-cima, .seta-baixo{
        background: #008C69;
        border-radius: 5px;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        margin: 10px;
    }

    p:first-child a.seta-cima, p:last-child a.seta-baixo{
        display: none;
    }
}

