.btn {
    display: inline-block;
    font-family: $proxima-nova-semibold;
    text-align: center;
    @include border-radius(7px);
    border: 0;
    text-transform: uppercase;
    @include transition(all 0.5s);
    &-big {
        height: 50px;
        line-height: 52px;
        font-size: 14px;
        padding: 0 18px;
    }
    &-extra-big {
        height: 50px;
        line-height: 52px;
        font-size: 14px;
        padding: 0 40px;
    }
    &-small {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
    }
    &-escuro {
        background: $cor-principal;
        color: $cor-base-principal;
        &:hover {
            color: $cor-base-principal;
            background: darken($cor-principal, 7%);
        }
    }
    &-claro {
        background: #55C8D3;
        color: $cor-base-principal;
        &:hover {
            color: $cor-base-principal;
            background: darken(#55C8D3, 10%);
        }
    }
    &-laranja {
        background: #FFB973;
        color: $cor-base-principal;
        &:hover {
            color: $cor-base-principal;
            background: darken(#FFB973, 10%);
        }
    }
    &-danger {
        background: #FF4D4D;
        color: $cor-base-principal;
        &:hover {
            color: $cor-base-principal;
            background: darken(#FF4D4D, 10%);
        }
    }
}

.btn-border {
    display: inline-block;
    border: 2px solid #888;
    background: transparent;
    color: #666;
    font: 18px $proxima-nova-bold;
    text-transform: uppercase;
    text-align: center;
    width: 151px;
    height: 54px;
    padding: 15px 0;
    position: relative;
    @include transition(all .5s);
    @include border-radius(7px);
    &:hover {
        color: #fff;
        background-color: #888;
    }
}

.btn-icon {
    display: inline-block;
    vertical-align: middle;
    width: 212px;
    height: 50px;
    position: relative;
    color: #fff;
    border: none;
    font: 14px $proxima-nova-semibold;
    text-transform: uppercase;
    @include border-radius(7px);
    @include transition(all 0.5s);
    &:after {
        content: "";
        display: block;
        @extend .sprite;
        position: absolute;
        top: 50%;
    }
}

.btn-icon-flecha,
.btn-icon-flecha-cima {
    background: #1B8692;
    text-align: left;
    padding-left: 31px;
    &:after {
        @extend .i-flecha;
        margin-top: -6px;
        right: 32px;
    }
    &:hover {
        background-color: darken(#1B8692, 5%);
    }
}

.btn-icon-flecha-cima {
    padding-top: 17px;
    &:after {
        @extend .i-flecha-cima;
        margin-top: -8px;
        right: 32px;
    }
}

.btn-icon-facebook {
    width: 250px;
    background: #4463A6;
    text-align: right;
    padding-top: 17px;
    padding-right: 25px;
    &:after {
        width: 10px;
        height: 20px;
        background-position: -231px -76px;
        margin-top: -10px;
        left: 28px;
    }
    &:hover {
        background-color: darken(#4463A6, 5%);
    }
}

.btn-icon-camera {
    font: 12px $proxima-novasemibold-italic;
    width: 250px;
    background: #008C69;
    text-align: left;
    padding: 18px 25px 0 23px;
    &:after {
        @extend .i-camera;
        margin-top: -9px;
        right: 20px;
    }
    &:hover {
        background-color: darken(#008C69, 5%);
    }
}

.btn-icon-fale {
    width: 238px;
    background: #004C66;
    text-align: center;
    padding-top: 17px;
    padding-left: 25px;
    &:after {
        width: 22px;
        height: 23px;
        background-position: -190px -118px;
        margin-top: -10px;
        left: 18px;
    }
    &:hover {
        background-color: darken(#004C66, 5%);
    }
}
