.como-funciona {
    max-width: 987px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include clearfix;
    .descricao {
        position: relative;
        width: 31.66667%;
        float: left;
        margin-left: .83333%;
        margin-right: .83333%;
        &.ultimo {
            margin-right: 0;
        }
    }
    .imagem {
        display: inline-block;
        max-width: 214px;
        width: 100%;
        max-height: 214px;
        margin-bottom: 63px;
        overflow: hidden;
        @include border-radius(50%);
        background: #fff;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        .passo-um,
        .passo-dois,
        .passo-tres {
            position: absolute;
            top: 173px;
            left: 50%;
            margin-left: -22px;
        }
        .passo-dois {
            margin-left: -34px;
        }
        .passo-tres {
            margin-left: -34px;
        }
        &:hover {
            img {
                @include transform(scale(1.02));
            }
        }
    }
    .title {
        margin: 0 12% 25px;
    }
    .text-italic {
        margin: 0 14%;
    }
}

@media(max-width: 479px) {
    .como-funciona {
        .descricao {
            width: 100%;
            margin: 0 0 25px;
        }
    }
}
