.depoimentos {
    background: url(../../img/depoimentos-fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    @include css3-prefix(background-size, cover);
    max-width: 100%;
    width: 100%;
    height: 572px;
    @include clearfix;
    .depoimento {
        width: 48.8%;
        float: left;
        height: 50%;
        padding: 7.6% 4% 0 2.1%;
        position: relative;
        text-align: justify;
        font-family: $proxima-novasemibold-italic;
        color: #fff;
        font-size: 16px;
        .text-sub+.text-sub {
            margin-top: 22px;
        }
        .autor-container {
            width: 120px;
            float: left;
            text-align: center;
            margin: 0 8.6% 13% 0;
            .text-sub {
                text-align: center;
                display: block;
            }
        }
        .text-wrapper {
            margin-top: 25px;
            max-height: 152px;
            overflow: hidden;
        }
        .imagem-autor {
            display: inline-block;
            width: 80px;
            height: 80px;
            background-color: #fff;
            @include border-radius(50%);
            overflow: hidden;
            margin-bottom: 13px;
            img {
                display: inline-block;
                width: 70px;
                height: 70px;
                margin-top: 5px;
                @include border-radius(50%);
                @include transition(all .2s);
            }
            &:hover {
                img {
                    @include opacity(0.8);
                }
            }
        }
        .i-mensagem-container {
            width: 23px;
            border-bottom: 5px solid #6FD3DE;
            padding-bottom: 10px;
            margin-bottom: 21px;
            position: absolute;
            top: 53px;
            left: 189px;
            text-align: center;
        }
        &-principal {
            width: 51.2%;
            float: left;
            height: 100%;
            padding: 53px 6% 0;
            border-right: 30px solid #fff;
            +.depoimento {
                border-bottom: 15px solid #fff;
            }
            .autor-container {
                width: 120px;
                float: none;
                position: absolute;
                bottom: 71px;
                left: 50%;
                margin-left: -63px;
                margin-bottom: 0;
                .text-sub {
                    text-align: center;
                    display: block;
                    margin-top: 0;
                }
            }
            .text-wrapper {
                margin-top: 0;
                max-height: 250px;
            }
            .i-mensagem-container {
                position: static;
            }
        }
        &.ultimo {
            padding-top: 6.3%;
            border-top: 15px solid #fff;
            .i-mensagem-container {
                top: 39px;
            }
        }
        .link{
            margin-top: 25px;
            display: block;
            font-size: 12px;
        }
    }
}

.depoimento-view{
    font:400 16px $proxima-novasemibold-italic;
    display:none;
    width: 300px;
    color: #000;
    h2{
        font:400 24px $proxima-nova-semibold;
    }
}

@media(max-width: 991px) {
    .depoimentos {
        height: 763px;
        .depoimento-principal {
            border-width: 20px;
        }
        .depoimento.ultimo {
            border-width: 10px;
            padding: 30px 30px 0;
        }
        .depoimento {
            padding: 30px 30px 0;
            .i-mensagem-container {
                position: static;
            }
            .autor-container {
                margin: 0;
                position: absolute;
                bottom: 30px;
                left: 50%;
                margin-left: -63px;
            }
            .text-wrapper {
                margin-top: 0;
                max-height: 114px;
            }
            .link{
                margin-top: 15px;
            }
        }
        .depoimento-principal {
            +.depoimento {
                border-width: 10px;
            }
            .autor-container {
                bottom: 71px;
                left: 50%;
                margin-left: -63px;
                margin-bottom: 0;
            }
            .text-wrapper {
                max-height: 397px;
            }
        }
    }
}

@media(max-width: 479px) {
    .depoimentos {
        height: auto;
        background-position: 54% 49%;
        .depoimento,
        .depoimento.ultimo,
        .depoimento-principal {
            float: none;
            width: 100%;
            height: 418px;
            border: none;
            padding-bottom: 155px;
            .text-wrapper {
                max-height: 136px;
                font-size: 14px;
            }
            .autor-container {
                bottom: 45px;
            }
        }
        .depoimento-principal {
            height: 645px;
            +.depoimento {
                border: none;
            }
            .text-wrapper {
                max-height: 390px;
            }
        }
        .depoimento+.depoimento {
            border-top: 30px solid #fff;
        }
    }
}
