input[type="text"],
textarea {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 64px;
    border: 2px solid #ddd;
    @include border-radius(7px);
    padding-left: 24px;
    font: 14px $proxima-nova-semibold;
    color: #fff;
    text-align: left;
    background: transparent;
    position: relative;
    z-index: 2;
    @include input-placeholder {
        color: #fff;
        text-transform: uppercase;
    }
}

.input-placeholder {
    text-transform: uppercase;
    font: 14px $proxima-nova-semibold;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 27px;
    left: 37px;
    width: 160px;
}

textarea.form-control {
    height: 235px;
    resize: none;
    padding: 20px 14px 0 21px;
}

.input {
    display: inline-block;
    border: 2px solid #fff;
    @include border-radius(7px);
    padding-left: 17px;
    text-transform: uppercase;
    font-family: $proxima-nova-semibold;
    text-align: left;
    background: transparent;
    color: #fff;
    @include input-placeholder {
        color: #fff;
    }
    &-small {}
    &-medium {
        width: 170px;
        height: 50px;
        font-size: 14px;
    }
}

.input-icon {
    display: inline-block;
    position: relative;
    &-calendar {
        &:after {
            content: "";
            display: block;
            width: 16px;
            height: 18px;
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: -324px -72px;
            position: absolute;
            z-index: 5;
            top: 50%;
            margin-top: -8px;
            right: 30px;
            pointer-events: none;
        }
    }
}



.select-personalizado {
    display: inline-block;
    border: 2px solid #fff;
    @include border-radius(7px);
    font: 14px $proxima-nova-semibold;
    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;
    background: transparent;
    color: #fff;
    position: relative;
    max-width: 170px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    .label {
        width: 92%;
        position: absolute;
        z-index: 2;
        @include opacity(1);
        top: 50%;
        padding-left: 17px;
        margin-top: -8px;
    }
    .seta {
        position: absolute;
        top: 50%;
        margin-top: -8.5px;
        right: 14px;
        width: 18px;
        height: 19px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        background-position: -103px -1px;
    }
    select {
        @include opacity(0);
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0%;
        height: 100%;
        width: 100%;
        display: block;
        cursor: pointer;
    }
    &:hover,
        &:active,
        &:focus {
        .seta {
            background-position: -121px -21px;
        }
    }
}

#ui-datepicker-div {
    width: 421px;
    max-width: 100%;
    z-index: 5 !important;
    padding: .2em 0 0;
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: none;
        background: #379e45;
        color: #f4f4f4;
        font-family: $proxima-nova-regular !important;
    }
    .ui-datepicker-title,
    table {
        font-family: $proxima-nova-regular !important;
    }
    table {
        margin: 0;
    }
    table thead tr {
        border: 1px solid #E6E6E6;
    }
    th {
        padding: 1.1em .3em;
        text-transform: uppercase;
        font-weight: normal;
        color: #5D686D;
    }
    td {
        padding: 0;
        border: 1px solid #E6E6E6;
    }
    td span,
    td a {
        width: 59px;
        height: 49px;
        padding: 17px;
        padding-top: 18px;
        text-align: center;
        &:hover {
            background: #2693FF !important;
            color: #fff !important;
        }
    }
    .ui-widget-content {
        border: none;
        border-top: 1px solid #E6E6E6;
    }
    .ui-widget-header {
        border: none;
        border-left: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
        background: #fff;
        color: #5D686D;
        font-weight: bold;
        text-transform: uppercase;
    }
    table.ui-datepicker-calendar td.ui-datepicker-week-end:nth-child(1) a {
        color: white;
        background: #379E45;
    }
    table.ui-datepicker-calendar td.ui-datepicker-week-end:nth-child(7) a {
        color: white;
        background: #379E45;
    }
    .ui-state-disabled {
        background: #FAF9F8;
        border: 1px solid #E6E6E6;
        cursor: not-allowed;
    }
}

#datepicker .ui-datepicker {
    width: 100%;
    z-index: 5 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border: none;
        background: #379E45;
        color: white;
        font-family: $proxima-nova-regular !important;
        &.ui-indisponivel {
            color: #7F7E7E;
            background: #CECDCD;
        }
    }
    .ui-datepicker-title {
        font-family: $proxima-nova-semibold !important;
    }
    table {
        margin: 0;
        font-family: $proxima-nova-regular !important;
    }
    table thead tr {
        border: 1px solid #E6E6E6;
    }
    th {
        padding: 1.2em .3em;
        text-transform: uppercase;
        font-weight: normal;
        color: #5D686D;
    }
    td {
        padding: 0;
        border: 1px solid #E6E6E6;
    }
    td span,
    td a {
        text-align: center;
        width: 59px;
        height: 49px;
        padding: 17px;
        padding-top: 18px;
        &:hover {
            background: #2693FF !important;
            color: #fff !important;
        }
    }
    .ui-widget-content {
        border: none;
        border-top: 1px solid #E6E6E6;
    }
    .ui-datepicker-title {
        font: 18px $proxima-nova-semibold;
        color: #198592;
        display: block;
        text-align: center;
        text-transform: capitalize;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -42px;
        left: 0;
    }
    .ui-widget-header {
        border: none;
        border-left: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
        background: #fff;
        color: #5D686D;
        font-weight: bold;
        text-transform: uppercase;
        position: static;
        padding: 0;
    }
    .ui-icon-circle-triangle-e {
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 11px;
        height: 20px;
        background-position: -456px -36px;
        cursor: pointer;
    }
    .ui-icon-circle-triangle-w {
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 11px;
        height: 20px;
        background-position: -442px -36px;
        cursor: pointer;
    }
    .ui-datepicker-next,
    .ui-datepicker-prev {
        top: 147px
    }
    .ui-datepicker-next {
        right: -44px;
    }
    .ui-datepicker-prev {
        left: -44px;
    }
    .ui-datepicker-next,
    .ui-datepicker-prev {
        &:hover {
            background: transparent;
            border: none;
        }
    }
    .ui-state-disabled {
        background: #FAF9F8;
        border: 1px solid #E6E6E6;
    }
}

@media(max-width: 991px) {
    #ui-datepicker-div,
    #datepicker .ui-datepicker {
        width: 304px;
        margin: 0 auto 0 !important;
    }
    #datepicker .ui-datepicker td span,
    #datepicker .ui-datepicker td a,
    #ui-datepicker-div td span,
    #ui-datepicker-div td a {
        width: 42px;
        height: 39px;
        padding: 12px;
        padding-top: 12px;
    }
}

@media(max-width: 479px) {
    #ui-datepicker-div,
    #datepicker .ui-datepicker {
        width: 295px;
    }
    #datepicker .ui-datepicker td span,
    #datepicker .ui-datepicker td a,
    #ui-datepicker-div td span,
    #ui-datepicker-div td a {
        width: 41px;
    }
    #datepicker .ui-datepicker {
        .ui-datepicker-next,
        .ui-datepicker-prev {
            top: -47px;
            z-index: 5;
        }
        .ui-datepicker-next {
            right: 0;
        }
        .ui-datepicker-prev {
            left: 0;
        }
    }
}
