$grid: 12;
//$margem: calcularPorcentagemMargem(30%, 12);
$margem: 2.750%;
//$margem: 2.6528%;

/* retorno = margem em porcentagem / mp = margem em pixel / mc = máximo de colunas */

@function calcularPorcentagemMargem($mp, $mc) {
    @return ($mp / $mc);
}


/* retorno = largura da coluna única / m = margem em porcentagem / mc = máximo de colunas (12) */

@function calcularLarguraDeUmaColuna($mc, $m) {
    @return (100 - ($m * ($mc - 1))) / $mc;
}


/* retorno = largura da coluna / scw = largura da coluna única (6.86666666667%) / cs = column span (1-12) / m = margin (1.6%) */

@function calcularLarguraDasColunaRestantes($m, $cs, $scw) {
    @return ($scw * $cs)+($m * ($cs - 1));
}

@mixin coluna($cs) {
    $umaColuna: calcularLarguraDeUmaColuna($grid, $margem);
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: $margem;
    width: calcularLarguraDasColunaRestantes($margem, $cs, $umaColuna);
    &:first-child {
        margin-left: 0;
    }
}

@mixin linha {
    margin-bottom: 15px;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.row {
    @include linha()
}

.col {
    @include clearfix();
}

.col-1 {
    @include coluna(1);
}

.col-2 {
    @include coluna(2);
}

.col-3 {
    @include coluna(3);
}

.col-4 {
    @include coluna(4);
}

.col-5 {
    @include coluna(5);
}

.col-6 {
    @include coluna(6);
}

.col-7 {
    @include coluna(7);
}

.col-8 {
    @include coluna(8);
}

.col-9 {
    @include coluna(9);
}

.col-10 {
    @include coluna(10);
}

.col-11 {
    @include coluna(11);
}

.col-12 {
    @include coluna(12);
}

@media(max-width: 667px) {
    .row {
        margin-bottom: 0;
    }
    .col {
        margin-bottom: 15px;
    }
    .col-3,
    .col-4,
    .col-8 {
        margin-left: 0;
        width: 100%;
    }
}
