.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.link-icone {
    font-size: 0;
    color: transparent;
}

.i-calendar {
    width: 36px;
    height: 34px;
    background-position: -218px -99px;
}

.i-facebook-small, [href*="facebook.com"] {
    width: 34px;
    height: 34px;
    background-position: -32px -1px;
}

.i-instagram-small {
    width: 34px;
    height: 34px;
    background-position: -68px -1px;
}

.i-pata-small {
    width: 17px;
    height: 15px;
    background-position: -293px -1px;
    vertical-align: middle;
}

.i-pata {
    width: 28px;
    height: 27px;
    background-position: -142px -2px;
    vertical-align: middle;
}

.i-pata-small {
    width: 19px;
    height: 17px;
    background-position: -292px 0px;
    vertical-align: middle;
}

.i-calendario {
    width: 32px;
    height: 29px;
    background-position: -173px -1px;
    vertical-align: middle;
}

.i-caderno {
    width: 35px;
    height: 34px;
    background-position: -208px -1px;
    vertical-align: middle;
}

.i-c-small {
    width: 50px;
    height: 31px;
    background-position: -310px -97px;
    margin-top: 25px;
}

.i-c-medium {
    width: 55px;
    height: 43px;
    background-position: -360px -98px;
    margin-top: 13px;
}

.i-c-big {
    width: 76px;
    height: 48px;
    background-position: -419px -98px;
    margin-top: 8px;
}

.i-c-verybig {
    width: 78px;
    height: 55px;
    background-position: -419px -148px;
}

.i-sim {
    width: 18px;
    height: 13px;
    background-position: -309px -131px;
}

.i-nao {
    width: 15px;
    height: 14px;
    background-position: -329px -131px;
}

.i-celular {
    width: 27px;
    height: 31px;
    background-position: -245px -2px;
    vertical-align: middle;
}

.i-selo {
    background: url('../../img/selo-seguranca.png') no-repeat;
    background-size: cover;
    width: 224px;
    height: 284px;
    vertical-align: middle;
}

.i-localizacao-branco {
    width: 12px;
    height: 16px;
    background-position: -124px -2px;
    vertical-align: middle;
}

.i-facebook-big, [href*="facebook.com"] {
    width: 18px;
    height: 34px;
    background-position: -327px 0px;
}

.i-instagram-big {
    width: 38px;
    height: 36px;
    background-position: -346px 0px;
}

.i-paypal {
    width: 97px;
    height: 29px;
    background-position: -385px -2px;
}

.passo-um {
    width: 45px;
    height: 60px;
    background-position: -1px -37px;
}

.passo-dois {
    width: 67px;
    height: 61px;
    background-position: -49px -38px;
}

.passo-tres {
    width: 68px;
    height: 58px;
    background-position: -121px -41px;
}

.i-mensagem {
    width: 18px;
    height: 18px;
    background-position: -274px -1px;
}

.i-seta-e {
    width: 33px;
    height: 34px;
    background-position: -194px -39px;
}

.i-seta-d {
    width: 33px;
    height: 34px;
    background-position: -231px -38px;
}

.i-prev {
    width: 11px;
    height: 20px;
    background-position: -442px -36px;
}

.i-next {
    width: 11px;
    height: 20px;
    background-position: -456px -36px;
}

.i-flecha {
    width: 19px;
    height: 14px;
    background-position: -265px -29px;
}

.i-flecha-cima {
    width: 13px;
    height: 18px;
    background-position: -215px -76px;
}

.i-camera {
    width: 18px;
    height: 17px;
    background-position: -257px -94px;
}

.i-telefone {
    width: 18px;
    height: 18px;
    background-position: -266px -46px;
}

.i-interrogacao {
    width: 88px;
    height: 88px;
    background-position: -410px -207px;
}

.i-email {
    width: 23px;
    height: 18px;
    background-position: -251px -74px;
}

.i-btn-facebook {
    width: 18px;
    height: 18px;
    background-position: -279px -95px;
}

.i-btn-twitter {
    width: 20px;
    height: 19px;
    background-position: -281px -71px;
}

.i-btn-googleplus {
    width: 21px;
    height: 21px;
    background-position: -282px -121px;
}

.i-btn-whats {
    width: 43px;
    height: 35px;
    background-position: -371px -180px;
}

.share-button {
    display: inline-block;
    font-family: $proxima-nova-bold, Arial;
    text-transform: uppercase;
    letter-spacing: 0;
    min-width: 40px;
    vertical-align: bottom;
    text-align: center;
    padding-left: 4px;
    a {
        color: #fff;
        padding: 7px 10px 8px;
        display: block;
        height: 20px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-decoration: none;
        -moz-box-shadow: rgba(0, 0, 0, .25) 0 -2px 0 inset;
        -webkit-box-shadow: rgba(0, 0, 0, .25) 0 -2px 0 inset;
        box-shadow: rgba(0, 0, 0, .25) 0 -2px 0 inset;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }
    span {
        line-height: 21px;
        display: inline-block;
        vertical-align: middle;
        font-size: 11px;
        color: #fff;
        width: 70px;
        text-align: center;
    }
}

.share-facebook a {
    background-color: #325c99;
    &:hover {
        background-color: #284a85;
    }
}

.share-twitter a {
    background-color: #02acec;
    &:hover {
        background-color: #029be8;
    }
}

.share-googleplus a {
    background-color: #dd4b39;
    &:hover {
        background-color: #d63c2e;
    }
}

@media(max-width: 479px) {
    .share-button span {
        display: none;
    }
}
