$proxima-nova-semibold:'proxima_novasemibold',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$proxima-nova-regular:'proxima_nova_rgregular',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$pn-regular-italic:'proxima_novaregular_italic',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$proxima-nova-bold:'proxima_nova_rgbold',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$proxima-nova-extrabold:'proxima_novaextrabold',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$proxima-novasemibold-italic:'proxima_novasemibold_italic',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$proxima-novabold-italic:'proxima_nova_rgbold_italic',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
$titilliumweb-italic:'titilliumweb_italic',
'Source Sans Pro',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;

/* proxima_nova_rgbold */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/font/proximanova-bold-webfont.eot');
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/font/proximanova-bold-webfont.eot');
    src: url('/font/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-bold-webfont.ttf') format('truetype'), url('/font/proximanova-bold-webfont.woff2') format('woff2'), url('/font/proximanova-bold-webfont.woff') format('woff'), url('/font/proximanova-bold-webfont.svg#titillium_webblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* proxima_nova_rgregular */

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/font/proximanova-regular-webfont.eot');
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/font/proximanova-regular-webfont.eot');
    src: url('/font/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-regular-webfont.ttf') format('truetype'), url('/font/proximanova-regular-webfont.woff2') format('woff2'), url('/font/proximanova-regular-webfont.woff') format('woff'), url('/font/proximanova-regular-webfont.svg#titillium_webblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('/font/proximanova-regularitalic-webfont.eot');
    src: url('/font/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-regularitalic-webfont.ttf') format('truetype'), url('/font/proximanova-regularitalic-webfont.woff2') format('woff2'), url('/font/proximanova-regularitalic-webfont.woff') format('woff'), url('/font/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* proxima_nova_rgregular */

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('/font/proximanova-semibold-webfont.eot');
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('/font/proximanova-semibold-webfont.eot');
    src: url('/font/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-semibold-webfont.ttf') format('truetype'), url('/font/proximanova-semibold-webfont.woff2') format('woff2'), url('/font/proximanova-semibold-webfont.woff') format('woff'), url('/font/proximanova-semibold-webfont.svg#titillium_webblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* proxima_nova_rgregular */

@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('/font/proximanova-semibolditalic-webfont.eot');
}

@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('/font/proximanova-semibolditalic-webfont.eot');
    src: url('/font/proximanova-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-semibolditalic-webfont.ttf') format('truetype'), url('/font/proximanova-semibolditalic-webfont.woff2') format('woff2'), url('/font/proximanova-semibolditalic-webfont.woff') format('woff'), url('/font/proximanova-semibolditalic-webfont.svg#titillium_webblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* alex_brush */

@font-face {
    font-family: 'alex_brush';
    src: url('/font/alexbrush-regular-webfont.eot');
    src: url('/font/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/alexbrush-regular-webfont.woff2') format('woff2'), url('/font/alexbrush-regular-webfont.woff') format('woff'), url('/font/alexbrush-regular-webfont.ttf') format('truetype'), url('/font/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('/font/proximanova-extrabold-webfont.eot');
    src: url('/font/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-extrabold-webfont.woff2') format('woff2'), url('/font/proximanova-extrabold-webfont.woff') format('woff'), url('/font/proximanova-extrabold-webfont.ttf') format('truetype'), url('/font/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgbold_italic';
    src: url('/font/proximanova-boldit-webfont.eot');
    src: url('/font/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'), url('/font/proximanova-boldit-webfont.woff2') format('woff2'), url('/font/proximanova-boldit-webfont.woff') format('woff'), url('/font/proximanova-boldit-webfont.ttf') format('truetype'), url('/font/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


/* titilian web italic */

@font-face {
    font-family: 'titilliumweb_italic';
    src: url('/font/titilliumweb-italic-webfont.eot');
    src: url('/font/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/titilliumweb-italic-webfont.woff2') format('woff2'), url('/font/titilliumweb-italic-webfont.woff') format('woff'), url('/titilliumweb-italic-webfont.ttf') format('truetype'), url('/font/titilliumweb-italic-webfont.svg#titilliumweb_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* MyriadPro_it */

@font-face {
    font-family: 'MyriadPro_it';
    src: url('/font/MyriadPro-It.otf');
}

.link {
    font: 14px $proxima-nova-semibold;
    color: $cor-principal;
    text-transform: uppercase;
    &:hover {
        color: lighten($cor-principal, 5%);
    }
    &-very-small {
        font-size: 13px;
    }
    &-claro {
        color: $cor-base-principal;
        &:hover {
            color: darken($cor-base-principal, 15%);
        }
    }
    &-lowercase {
        text-transform: lowercase;
        color: #85DAE5;
        &:hover {
            color: darken(#85DAE5, 10%);
        }
    }
    &-bold {
        font-family: $proxima-nova-bold;
    }
}

.title {
    display: inline-block;
    font-family: $proxima-nova-bold;
    color: $cor-base-principal;
    text-transform: uppercase;
    &-small {
        font-size: 18px;
        line-height: 21px;
    }
    &-medium {
        font-size: 20px;
    }
    &-big {
        font-size: 27px;
    }
    &-extra-big {
        font-size: 34px;
    }
    &-escuro {
        color: $cor-principal;
    }
    &-border {
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid $cor-principal-claro;
    }
}

.title-bigger {
    display: inline-block;
    font-family: $proxima-nova-regular;
    color: #2C99A5;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 36px;
    strong {
        color: #186C86;
        font-family: $proxima-nova-extrabold;
    }
}

.text-destaque {
    display: inline-block;
    font-family: $proxima-nova-semibold;
    color: $cor-base-principal;
    text-transform: uppercase;
    font-weight: normal;
    strong {
        font-family: $proxima-nova-bold;
    }
    &-small {
        font-size: 13px;
    }
    &-medium {
        font-size: 15px;
        font-family: $proxima-nova-regular;
    }
    &-big {
        font-size: 26px;
        font-family: $proxima-nova-regular;
    }
    &-claro {
        color: #FFF3B7;
    }
}

.text-sub {
    font-family: $proxima-novasemibold-italic;
    color: #666;
    font-size: 16px;
    &-branco {
        color: #fff;
    }
    &-small {
        font-size: 12px;
    }
}

.text-italic {
    font: 16px $titilliumweb-italic;
    line-height: 20px;
    color: #666;
    &-small {
        font-size: 14px;
    }
}

.title-section-container {
    text-align: center;
    background: url('/img/faixa-topo.jpg') repeat;
    @include css3-prefix(background-size,
    cover);
    margin-bottom: 50px;
    width: 100%;
    height: 153px;
    @include clearfix();
}

.title-section {
    font: 40px $proxima-nova-extrabold;
    color: #fff;
    text-transform: uppercase;
    line-height: 153px;
}

.subtitle-view {
    font: 17px $proxima-nova-regular;
    color: #999;
}

.title-view {
    font: 36px $proxima-nova-bold;
    color: #333;
    line-height: 34px;
    display: block;
    @include transition(all 0.3s ease);
    &-small {
        font-size: 20px;
    }
}

.text-date {
    font: 11px Arial, sans-serif;
    color: #666;
    display: block;
    margin-bottom: 17px;
}

.title-page {
    font: 24px $proxima-nova-extrabold;
    color: #186C85;
    text-transform: uppercase;
    text-align: center;
}

@media(max-width: 991px) {
    .title-view {
        font-size: 30px;
    }
    .subtitle-view {
        font-size: 16px;
        line-height: 1.2;
    }
}

@media(max-width: 479px) {
    .title-section-container {
        height: 74px;
        margin-bottom: 40px;
    }
    .title-section {
        font-size: 20px;
        line-height: 74px;
    }
}

.descricao{
    *{
        max-width: 98%;
        word-wrap: break-word;
    }
}