.view-generic {
    position: relative;
    .imagens-container {
        max-width: 470px;
        width: 470px;
        overflow: hidden;
        width: 100%;
        float: left;
        position: relative;
        margin-right: 30px;
        margin-bottom: 22px;
        @include clearfix();
        .next,
        .prev {
            position: absolute;
            top: 50%;
            margin-top: -20px;
            z-index: 12;
            cursor: pointer;
        }
        .next {
            right: 15px;
        }
        .prev {
            left: 15px;
        }
    }
    .title-view {
        margin-bottom: 22px;
    }
    .subtitle-view {
        margin-bottom: 15px;
        padding-bottom: 33px;
        margin-bottom: 21px;
        border-bottom: 1px solid #eee;
    }
    .creditos {
        font: 11px Arial;
        color: #666;
        display: block;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .imagens {
        width: 100%;
        max-height: 358px;
        overflow: hidden;
        position: relative;
        .imagem {
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            img {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .mask-player {
            display: block;
            width: 100%;
            height: auto;
            img {
                width: 100%;
            }
        }
        .descricao-imagem {
            position: absolute;
            bottom: 17px;
            left: 0;
            right: 0;
            width: 92%;
            margin: 0 auto;
            font: 14px $proxima-nova-regular;
            color: #fff;
            padding: 17px 21px;
            @include border-radius(5px);
            background: #222;
            background: rgba(34, 34, 34, 0.62);
        }
        .fonte-imagem {
            font: 11px Arial, sans-serif;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #666;
            padding: 22px 35px;
            background: #eee;
        }
    }
    .descricao {
        font: 16px "Arial", sans-serif;
        color: #535353;
        line-height: 1.4;
        .sub-title {
            display: block;
            font-weight: bold;
            margin: 30px 0;
        }
    }
    .item {
        @include clearfix();
        .i-wrapper {
            display: block;
            width: 31px;
            height: 100%;
            float: left;
            &:before {
                content: "";
                @extend .sprite;
                @extend .i-pata-small;
                margin-right: 10px;
                vertical-align: top;
                margin-top: 1px;
            }
        }
        .text {
            display: block;
        }
    }
    .widgets-container {
        @include clearfix();
        clear: both;
        margin-top: 41px;
        margin-bottom: 52px;
        .btn {
            display: block;
            float: left;
        }
        .sprite {
            vertical-align: middle;
        }
        .i-btn-whats,
        .share-button {
            margin-left: 9px;
        }
        .icones-compartilhar {
            float: right;
            background: #eee;
            padding: 10px 22px;
            @include border-radius(4px);
            >span {
                font: 12px $proxima-nova-semibold;
                color: #666;
                text-transform: uppercase;
            }
        }
        .icone-compartilhar+.icone-compartilhar {
            margin-left: 8px
        }
    }
    .privacidade {
        margin-top: 32px;
        margin-bottom: 48px;
    }
    form {
        margin-top: 30px;
    }
    .checkbox-content {
        font: 14px $proxima-novabold-italic;
        color: #000;
        input[type="checkbox"] {
            vertical-align: top;
            margin-right: 20px;
        }
        &:first-child {
            float: left;
        }
    }
}

@media(max-width: 991px) {
    .view-generic {
        .text-date {
            margin-bottom: 5px;
        }
        .title-view {
            margin-bottom: 17px;
        }
        .imagens-container {
            max-width: 300px;
            margin-right: 23px;
            margin-bottom: 10px;
        }
        .descricao {
            font-size: 14px;
        }
        .item {
            .text {
                width: 88%;
                float: left;
            }
            +.item {
                margin-top: 5px;
            }
        }
    }
}

@media(max-width: 479px) {
    .view-generic {
        padding-bottom: 0;
        .text-date {
            margin-bottom: 7px;
        }
        .title-view {
            font-size: 16px;
            line-height: 1.3;
            margin-bottom: 11px;
        }
        .subtitle-view {
            font-size: 14px;
            padding-bottom: 21px;
        }
        .imagens-container {
            max-width: 100%;
            margin: 0 auto 25px;
            float: none;
        }
        .widgets-container {
            margin-top: 35px;
            .i-btn-whats,
            .share-button {
                margin-left: 12px;
            }
            .icones-compartilhar {
                text-align: center;
                float: none;
                padding: 23px 0 21px;
                margin-top: 40px;
                >span {
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
