.paginacao {
    @include clearfix();
    text-align: center;
    margin: 31px 0 54px;
    .btn-border {
        float: left;
    }
    .pag {
        float: right;
    }
    .qtd {
        font: 16px $proxima-nova-regular;
        color: #999;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 19px;
    }
    .atual {
        margin: 0 10px;
    }
    .prev,
    .atual,
    .next {
        background: transparent;
        border: 2px solid #888;
        color: #666;
        display: block;
        float: left;
        height: 54px;
        width: 59px;
        padding: 16px 24px;
        @include border-radius(7px);
        @include transition(all 0.5s ease);
    }
    .prev,
    .next {
        cursor: pointer;
        &:hover {
            color: #fff;
            background: #888;
        }
    }
    .atual {
        padding: 16px 10px;
        text-align: center;
    }
    .prev,
    .next {
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4px;
        }
    }
    .prev {
        &:before {
            margin-left: -5px;
            border-width: 5px 9px 5px 0;
            border-color: transparent #888 transparent transparent;
        }
        &:hover {
            &:before {
                border-color: transparent #fff transparent transparent;
            }
        }
    }
    .next {
        &:before {
            margin-left: -4px;
            border-width: 5px 0 5px 9px;
            border-color: transparent transparent transparent #888;
        }
        &:hover {
            &:before {
                border-color: transparent transparent transparent #fff;
            }
        }
    }
}

@media(max-width: 479px) {
    .paginacao {
        position: relative;
        padding-top: 25px;
        .btn-border {
            width: 67px;
            height: 64px;
            padding: 25px 0;
            font-size: 0;
            &:before,
            &:after {
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 9px 5px 0;
                border-color: transparent #888 transparent transparent;
            }
        }
        .qtd {
            margin-top: 0;
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -54px;
        }
        .prev,
        .atual,
        .next {
            width: 67px;
            height: 64px;
            padding: 21px 0;
        }
    }
}

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.noUi-target {
    position: relative;
    width: 285px;
    @include clearfix();
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0
}

.noUi-handle {
    position: relative;
    z-index: 1
}

.noUi-stacking .noUi-handle {
    z-index: 10
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s
}

.noUi-state-drag * {
    cursor: inherit !important
}

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.noUi-horizontal {
    height: 9px
}

.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    left: -4px;
    top: -3px
}

.noUi-background {
    background: #DDD;
    border-radius: 2px
}

.noUi-connect {
    background: #19B3C1;
    -webkit-transition: background 450ms;
    transition: background 450ms
}

.noUi-origin {
    border-radius: 4px
}

.noUi-target {
    border-radius: 4px;
    border: none
}

.noUi-target.noUi-connect {}

.noUi-draggable {
    cursor: w-resize
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize
}

.noUi-handle {
    border-radius: 20px;
    background: #1B9DB6;
    background: rgb(27, 157, 182);
    background: -moz-linear-gradient(top, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    background: -webkit-linear-gradient(top, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    background: linear-gradient(to bottom, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9db6', endColorstr='#00698c', GradientType=0);
    cursor: default
}

.noUi-active {
    background: rgb(27, 157, 182);
    background: -moz-linear-gradient(top, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    background: -webkit-linear-gradient(top, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    background: linear-gradient(to bottom, rgb(27, 157, 182) 0%, rgb(0, 105, 140) 62%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b9db6', endColorstr='#00698c', GradientType=0)
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn,
body {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.fancybox{
   
}