


<?php

if($texto=='bemvindo'){
    
    $texto = 'Seu cadastro foi realizado com sucesso! Bem-Vindo a DOGSAFE!<br>
              Como próximo passo, preencha o cadastro com os dados do seu <a href="https://dogsafe.com.br/meus-pets" target="_blank">Pet</a>.<br>
              Não se esqueça de realizar o cadastro de seus dados no site da <a href="https://www.paypal.com/br/signup/account" target="_blank">PayPal</a>. O cadastro é necessário para que você possa realizar os pagamentos referentes à hospedagem e receber reembolso em caso de cancelamento.<br>
              Visualize sua página exclusive no site da <a href="https://dogsafe.com.br/minha-conta" target="_blank">DOGSAFE</a> você poderá realizar os pagamentos, ter acesso a seu perfil, histórico de hospedagens entre outras informações.<br>
              Dúvidas? Entre em contato conosco <a href="mailto:atendimento@dogsafe.com.br">atendimento@dogsafe.com.br</a> ou acesse a página de <a href="https://dogsafe.com.br/perguntas-frequentes" target="_blank">Perguntas Frequentes</a> em nosso site.<br>
              Conectamos pessoas que amam animais!<br>';
    
}

if($texto=='bemvindoanfitriao'){
    
    $texto = 'Seu cadastro de acesso ao site foi realizado com sucesso! Bem-Vindo a DOGSAFE!<br>
              Como próximo passo, preencha a ficha com as informações detalhadas a respeito de sua disponibilidade para <a href="https://dogsafe.com.br/meu-perfil" target="_blank">Hospedagem e/ou DayCare</a>. Lembre-se que as informações fornecidas nesta ficha são muito importantes e serão visualizadas em seu perfil por pessoas que buscam Hospedagem ou DayCare para seus Pets.<br>
              Não se esqueça de outro passo muito importante, o cadastro de seus dados na plataforma <a href="https://www.paypal.com/br/signup/account" target="_blank">PayPal</a>. A realização do cadastro é necessária para que você possa receber os pagamentos referentes à Hospedagem e/ou DayCare, além de receber reembolso em caso de cancelamento por parte do hóspede veja <a href="https://dogsafe.com.br/privacidade" target="_blank">nossas Políticas</a> em <a href="https://dogsafe.com.br/termos" target="_blank">Termos de Uso</a>. <br>
              Ficha de Perfil preenchida? Cadastro na PayPal realizado? Entraremos em contato na data e horário agendados por você para o nosso Bate Papo! <br>
              Conectamos pessoas que amam animais!<br>';
    
}

if($texto == 'aprovado'){
    
    $texto = 'Bem-Vindo! Estamos muito felizes por você fazer parte da DOGSAFE!<br>
              Acesse a sua página no site da <a href="https://dogsafe.com.br/minha-conta" target="_blank">DOGSAFE</a> e tenha acesso a seu perfil, histórico de hospedagens, calendário, entre outras informações. <br>
              Já realizou o cadastro de seus dados na <a href="https://www.paypal.com/br/signup/account" target="_blank">PayPal?</a>  Não se esqueça deste passo importante! A realização do cadastro é necessária para que você possa receber os pagamentos referentes à Hospedagem e/ou DayCare.<br>
              Agora é só avisar seus amigos, vizinhos e começar a receber seus hóspedes caninos em casa!<br>
              Poste fotos de seus hóspedes e marque a DOGSAFE. Siga-nos nas redes sociais.<br>
              Dúvidas? Entre em contato conosco atendimento@dogsafe.com.br ou acesse a página de Perguntas Frequentes em nosso site.<br>
              Conectamos pessoas que amam animais!<br>';
}

if($texto == 'naofoiaprovado'){
    
    $texto = 'Nós da DOGSAFE utilizamos uma série de critérios para avaliar o perfil de um futuro Anfitrião.<br>
              Neste momento, avaliamos que você ainda não atingiu todos os requisito necessários. Reveja a sua ficha de inscrição, se prepare um pouco mais e tente novamente!<br>
              A DOGSAFE agradece seu contato! ';
}

?>

<table cellpadding="0" cellspacing="0" border="0" style="display: inline-table;width: 700px;min-width: 700px;background-color:#fff;" width="700" id="backgroundTable">
   
        <tr>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="61" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="2" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="180" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="39" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="186" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="21" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="42" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="9" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="43" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="51" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="1" height="1" alt=""/></td>
            <td><img src="https://dogsafe.com.br/img/email/spacer.gif" style="display:block;" width="65" height="1" alt=""/></td>
        </tr>
        <tr>
            <td colspan="12">
                <img src="https://dogsafe.com.br/img/email/r1_c1.png" style="display:block;" border="0" width="700" height="36" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <img src="https://dogsafe.com.br/img/email/r2_c1.png" style="display:block;" border="0" width="468" height="88" alt=""/>
            </td>
            <td rowspan="2" colspan="5">
                <a href="https://dogsafe.com.br/" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r2_c6.png" style="display:block;" border="0" width="166" height="144" alt=""/>
                </a>
            </td>
            <td rowspan="2" colspan="2">
                <img src="https://dogsafe.com.br/img/email/r2_c11.png" style="display:block;" border="0" width="66" height="144" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <img src="https://dogsafe.com.br/img/email/r3_c1.png" style="display:block;" border="0" width="468" height="56" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://dogsafe.com.br/img/email/r4_c1.png" style="display:block;" border="0" width="61" height="316" alt=""/>
            </td>
            <td colspan="9" style="background-color:#fff;">
                <!-- texto -->
                <div style="width: 573px;display:block;">
                    <?= $texto ?>
                </div>
            </td>
            <td colspan="2">
                <img src="https://dogsafe.com.br/img/email/r4_c11.png" style="display:block;" border="0" width="66" height="316" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://dogsafe.com.br/img/email/r5_c1.png" style="display:block;" border="0" width="61" height="72" alt=""/>
            </td>
            <td colspan="3">
                <a href="https://dogsafe.com.br/" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r5_c2.png" style="display:block;" border="0" width="221" height="72" alt=""/>
                </a>
            </td>
            <td colspan="8">
                <img src="https://dogsafe.com.br/img/email/r5_c5.png" style="display:block;" border="0" width="418" height="72" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <img src="https://dogsafe.com.br/img/email/r6_c1.png" style="display:block;" border="0" width="700" height="109" alt=""/>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <img src="https://dogsafe.com.br/img/email/r7_c1.png" style="display:block;" border="0" width="700" height="36" alt=""/>
            </td>
        </tr>
        <tr>
            <td rowspan="4" colspan="2">
                <img src="https://dogsafe.com.br/img/email/r8_c1.png" style="display:block;" border="0" width="63" height="91" alt=""/>
            </td>
            <td>
                <a href="https://dogsafe.com.br/privacidade" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r8_c3.png" style="display:block;" border="0" width="180" height="20" alt=""/>
                </a>
            </td>
            <td colspan="8">
                <img src="https://dogsafe.com.br/img/email/r8_c4.png" style="display:block;" border="0" width="392" height="20" alt=""/>
            </td>
            <td rowspan="3">
                <img src="https://dogsafe.com.br/img/email/r8_c12.png" style="display:block;" border="0" width="65" height="63" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://dogsafe.com.br/termos" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r9_c3.png" style="display:block;" border="0" width="180" height="21" alt=""/>
                </a>
            </td>
            <td rowspan="2" colspan="3">
                <img src="https://dogsafe.com.br/img/email/r9_c4.png" style="display:block;" border="0" width="246" height="43" alt=""/>
            </td>
            <td rowspan="2">
                <a href="https://www.facebook.com/dogsafe.com.br/" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r9_c7.png" style="display:block;" border="0" width="42" height="43" alt=""/>
                </a>
            </td>
            <td rowspan="2">
                <img src="https://dogsafe.com.br/img/email/r9_c8.png" style="display:block;" border="0"width="9" height="43" alt=""/>
            </td>
            <td rowspan="2">
                <a href="https://www.instagram.com/dog.safe/" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r9_c9.png" style="display:block;" border="0" width="43" height="43" alt=""/>
                </a>
            </td>
            <td rowspan="2" colspan="2">
                <img src="https://dogsafe.com.br/img/email/r9_c10.png" style="display:block;" width="52" height="43" alt=""/>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://dogsafe.com.br/fale-conosco" target="_blank">
                    <img src="https://dogsafe.com.br/img/email/r10_c3.png" style="display:block;" width="180" height="22" alt=""/>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <img src="https://dogsafe.com.br/img/email/r11_c3.png" style="display:block;" width="637" height="28" alt=""/>
            </td>
        </tr>

</table>  