/* TOOLSET */

a,
label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

:focus {
    outline: 0;
}

*,
*:hover,
*:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

noscript{
    text-align: center;
    width: 100%;
    height: 50px;
    display: block;
    font-size: 16px;
    padding: 15px;
    border: red 1px solid;
    text-decoration: underline;
    font-family: arial;
    background: white;
    color: black;
}
/* Sem margem */

.no-margin {
    margin: 0 !important;
}

.no-right {
    margin-right: 0 !important;
}

.no-left {
    margin-left: 0 !important;
}

.no-top {
    margin-top: 0 !important;
}

.no-botton {
    margin-bottom: 0 !important;
}


/* Lista sem Marcadores */

.clear-list {
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.clear-list li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-size: medium;
}

.clearfix {
    display: block;
}


/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* Text Justify */

.text-justify {
    text-align: justify !important;
    text-indent: 0px !important;
}


/* Text Center */

.text-center {
    text-align: center !important;
    text-indent: 0px !important;
}

.text-left {
    text-align: left !important;
    text-indent: 0px !important;
}

.text-right {
    text-align: right !important;
    text-indent: 0px !important;
}

.text-bottom {
    vertical-align: text-bottom;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-strike {
    text-decoration: line-through;
}


/* Font Italic */

.font-italic {
    font-style: italic !important;
}

.font-bold {
    font-style: bold !important;
}


/* Bloco */

.block {
    display: block !important;
}

.i-block {
    display: inline-block !important;
    *display: inline;
}


/*None*/

.none {
    display: none !important;
}


/* Relativo */

.relative {
    position: relative !important;
}


/* IMG Replacement */

.replace {
    overflow: hidden !important;
    text-indent: -999em;
}


/* Visualizações */

.show {
    display: block !important;
    visibility: visible;
}

.hide,
.qq-upload-list {
    display: none !important;
    visibility: hidden;
}

.no-hand {
    cursor: default;
}

.no-border {
    border: none !important;
}


/* Flutuações */

.to-left {
    float: left !important;
}

.to-right {
    float: right !important;
}

.to-none{
    float: none !important;
}


/* Text Overflow Ellipsis  */

.text-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

/* margin */

.mt-0{
    margin-top: 0px !important;
}

.mt-10{
    margin-top: 10px !important;
}
/* wid */

.w-100p {
    width: 100% !important;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
}

.hidden,
[hidden],
template {
    display: none !important;
    visibility: hidden !important;
}

@media print {
    .no-print {
        display: none !important;
    }
    .container_12 .print_12 {
        width: 940px !important;
    }
    .print {
        display: block !important;
    }
}

.pont {
    pointer-events: none;
}

.no-padding {
    padding: 0px !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.bottom-none {
    border-bottom: none !important;
}

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.b-black {
    background-color: black;
}

.b-white {
    background-color: white;
}

.feedback {
    margin-bottom: 10px;
    font: 13px/10px Arial;
}

.fb-comments.fb_iframe_widget_loader.fb_iframe_widget.fb_hide_iframes {
    left: 0px !important;
}
