.anfitriao-interna {
    font: 16px $proxima-nova-regular;
    color: #666;
    .container {
        @include clearfix();
    }
    .titulo {
        font: 18px $proxima-nova-semibold;
        color: #198592;
        display: block;
    }
    .header-wrapper {
        text-align: center;
        background: url('../../img/faixa-topo.jpg') repeat;
        @include css3-prefix(background-size,
        cover);
        margin-bottom: 50px;
        width: 100%;
        height: 153px;
        font: 13px $proxima-novasemibold-italic;
        color: #fff;
        position: relative;
        @include clearfix();
        .patas .pata {
            background-position: -178px -98px;
            &.active {
                background-position: -197px -98px;
            }
        }
    }
    .h-title {
        font: 40px $proxima-nova-extrabold;
        color: #fff;
        text-transform: uppercase;
    }
    .text-wrapper {
        display: inline-block;
        position: absolute;
        top: 51px;
        left: 50%;
        margin-left: -72px;
    }
    .tipo {
        font-size: 13px;
    }
    .patas-wrapper {
        float: right;
        margin-top: 57px;
        margin-right: 13px;
    }
    .btn-icon-fale {
        float: left;
        margin-top: 50px;
        line-height: 6px;
        
        .agende-tx{
            position: relative;
            font-size: 10px;
            display: block;
            width: 100px;
            margin-left: 52px;
            color: #ffbf00;
            margin-top: 10px;
        }
    }
    
    .patas {
        margin-bottom: 10px;
        @include clearfix();
        .pata {
            @extend .sprite;
            width: 19px;
            height: 17px;
            background-position: -159px -101px;
            float: left;
            +.pata {
                margin-left: 5px;
            }
            &.active {
                background-position: -292px 0px;
            }
        }
    }
    .galeria {
        //width: 570px;
        width: 48.71794871%;
        float: left;
        .foto-maior {
            display: block;
            width: 100%;
            max-height: 418px;
            img {
                max-width: 100%;
            }
        }
        .wrapper {
            @include clearfix();
            //width: 498px;
            width: 87.37%;
            max-height: 80px;
            overflow: hidden;
            white-space: nowrap;
            float: left;
        }
        .carrossel {
            display: block;
            width: 100%;
            margin-bottom: 7px;
            margin-top: 15px;
            @include clearfix();
        }
        .imagem-wrapper {
            display: inline-block;
            vertical-align: top;
            //width: 109px;
            width: 21.89%;
            max-height: 80px;
            height: auto;
            //margin-left: 11px;
            margin-left: 2.5%;
            overflow: hidden;
            @include transition(all .5s);
            &:hover {
                @include opacity(.43);
            }
            img {
                max-width: 100%;
            }
        }
        .i-wrapper {
            display: block;
            background: #ddd;
            //width: 28px;
            width: 4.919%;
            max-height: 80px;
            height: auto;
            float: left;
            //margin-left: 16px;
            margin-left: 2.6%;
            position: relative;
            cursor: pointer;
            @include transition(all .5s);
            img {
                max-width: 100%;
            }
            &:hover {
                background-color: darken(#ddd, 10%);
            }
            &:first-child {
                margin-left: 0px;
            }
        }
        .i-prev,
        .i-next {
            position: absolute;
            top: 28px;
            left: 8px;
        }
    }
    .form-wrapper {
        min-height: 209px;
        padding: 46px 0 0 52px;
        background: #444;
        @include clearfix();
    }
    .agendar {
        padding: 80px 0 0 52px;
    }
    .form-wrapper,
    .reserva-wrapper {
        width: 48.71794871%;
        float: left;
        margin-left: 2.5641025641%;
    }
    .widgets-container {
        clear: both;
    }
    .input-holder {
        font: 13px $proxima-novasemibold-italic;
        color: #fff;
        text-align: center;
        @include clearfix();
        &:first-child {
            float: left;
            width: 268px;
            max-width: 100%;
            margin-right: 31px;
            +.input-holder {
                float: left;
                width: 168px;
            }
        }
        .input-icon,
        .input-medium {
            display: block;
            width: 100%;
        }
        .input-icon {
            margin-bottom: 17px;
        }
        .input-medium {
            background: #555;
            border-color: #555;
        }
        .input-icon-calendar:after {
            margin-top: -9px;
            right: 23px;
            background-position: -307px -73px;
        }
    }
    .box-price {
        display: block;
        vertical-align: top;
        position: relative;
        color: #999999;
        margin-bottom: 17px;
        @include clearfix();
        >span {
            display: block;
        }
        .preco {
            font: 22px $proxima-nova-regular;
            color: #198592;
            height: 34px;
            color: #fff;
            span {
                font: 46px $proxima-nova-extrabold;
                line-height: 0.8;
                margin-left: 5px;
            }
        }
    }
    .btn-danger {
        width: 100%;
        margin-bottom: 14px;
        +.text {
            display: block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .reserva-wrapper {
        margin-top: 31px;
    }
    .garantia {
        padding-left: 62px;
        margin-bottom: 34px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            @extend .sprite;
            width: 42px;
            height: 40px;
            background-position: -235px -136px;
        }
    }
    .perfil-wrapper {
        font-size: 14px;
        margin-top: 34px;
        .topico {
            display: inline-block;
            vertical-align: top;
            width: 48%;
            margin-bottom: 24px;
            padding-left: 39px;
            position: relative;
            &:after {
                content: "";
                display: block;
                background: url(../img/sprite.png) no-repeat;
                background-position: -325px -39px;
                position: absolute;
                left: 0;
                top: 50%;
            }
        }
        .casa {
            &:after {
                width: 25px;
                height: 26px;
                background-position: -363px -66px;
                top: -8px;
            }
        }
        .olho {
            &:after {
                width: 28px;
                height: 22px;
                background-position: -390px -68px;
                top: -3px;
            }
        }
        .cachorro {
            &:after {
                width: 31px;
                height: 28px;
                background-position: -422px -63px;
                top: -9px;
            }
        }
        .pilula {
            &:after {
                width: 24px;
                height: 27px;
                background-position: -455px -63px;
                top: -6px;
            }
        }
        .cancelamento {
            &:after {
                width: 27px;
                height: 26px;
                background-position: -454px -209px;
                top: -5px;
            }
        }
    }
    .text-content {
        clear: both;
        padding-top: 28px;
        padding-bottom: 27px;
        .titulo {
            margin-bottom: 29px;
        }
    }
    .info-content {
        @include clearfix();
        padding-bottom: 42px;
        border-bottom: 1px solid #ddd;
        .bloco {
            width: 570px;
            max-width: 100%;
            float: left;
            border-top: 1px solid #ddd;
            padding-top: 30px;
            +.bloco {
                margin-left: 30px;
            }
        }
    }
    .box-agenda {
        width: 570px;
        max-width: 100%;
        background: #eee;
        padding-bottom: 64px;
        margin: 30px auto 0;
        float: none;
        padding-top: 1px;
        .mes {
            margin: 42px 0 42px;
        }
        .wrapper {
            text-align: left;
        }
        .disponivel {
            margin-bottom: 6px;
        }
        .disponivel,
        .indisponivel {
            margin-left: 0;
            display: block;
        }
        .i-next,
        .i-prev {
            top: 225px;
        }
        .i-prev {
            left: 32px;
        }
        .i-next {
            right: 32px;
        }
    }
    .hospedagem-icons {
        @include clearfix();
        width: 361px;
        max-width: 100%;
        font-size: 14px;
        margin: 30px 0;
        .item {
            float: left;
            width: 25%;
            height: 119px;
            text-align: center;
            span {
                display: block;
                margin-bottom: 15px;
                margin-top: 8px;
            }
        }
        .img-wrapper {
            width: 78px;
            height: 55px;
            margin: 0 auto;
            position: relative;
            img {
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
    .hospedagem-text,
    .diferenciais-text,
    .pets-anfitriao {
        font-size: 14px;
    }
    .diferenciais-text {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 27px 0 30px;
        margin: 30px 0;
    }
    .pets-anfitriao,
    .diferenciais-text {
        .titulo {
            margin-bottom: 22px;
        }
    }
    .regiao-anfitriao {
        border-bottom: 1px solid #ddd;
        padding: 34px 0 46px;
        .mapa-wrapper {
            width: 100%;
            height: 238px;
            margin-top: 33px;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
    .form-comentario {
        padding: 34px 0 46px;
        @include clearfix();
        .titulo {
            margin-bottom: 34px;
        }
        .input-wrapper {
            width: 100%;
            height: 144px;
            padding: 23px 0 23px 16px;
            margin-bottom: 32px;
            background: #eee;
            @include border-radius(7px);
            @include clearfix();
        }
        .votacao-wrapper {
            font: 14px $proxima-nova-semibold;
            color: #198592;
            border-left: 1px solid #ddd;
            float: right;
            width: 210px;
            height: 96px;
            padding: 18px 42px 0;
            .patas {
                padding-left: 8px;
                margin-bottom: 0;
                margin-top: 24px;
            }
        }
        textarea {
            float: left;
            border: none;
            background: transparent;
            resize: none;
            width: 78%;
            height: 97px;
            font: 14px $proxima-nova-regular;
            color: #666;
            @include input-placeholder {
                color: #666;
            }
        }
        .patas .pata {
            cursor: pointer;
        }
        .aviso {
            font: 14px $pn-regular-italic;
            color: #666;
            float: left;
            margin-top: 15px;
        }
        .btn-icon {
            float: right;
        }
    }
    .comentarios {
        .titulo {
            margin-bottom: 28px;
        }
    }
    .comentario {
        font-size: 14px;
        .nome {
            font-family: $proxima-nova-bold;
            display: block;
            margin-bottom: 12px;
        }
        .patas {
            margin-bottom: 14px;
        }
        .comentario-text {}
        +.comentario {
            border-top: 1px solid #ddd;
            padding-top: 30px;
            margin-top: 30px;
        }
    }
    .widgets-container {
        @include clearfix();
        clear: both;
        margin-top: 52px;
        margin-bottom: 52px;
        .btn {
            display: block;
            float: left;
        }
        .sprite {
            vertical-align: middle;
        }
        .i-btn-whats,
        .share-button {
            margin-left: 9px;
        }
        .icones-compartilhar {
            float: right;
            background: #eee;
            padding: 10px 22px;
            @include border-radius(4px);
            >span {
                font: 12px $proxima-nova-semibold;
                color: #666;
                text-transform: uppercase;
            }
        }
        .icone-compartilhar+.icone-compartilhar {
            margin-left: 8px
        }
    }
}

@media(max-width: 991px) {
    .anfitriao-interna {
        font-size: 14px;
        .galeria {
            .carrossel {
                margin-top: 10px;
            }
            .i-prev,
            .i-next {
                position: absolute;
                top: 16px;
                left: 3px;
            }
        }
        .patas-wrapper {
            margin-right: 0;
        }
        .form-wrapper {
            padding-left: 0;
            padding-bottom: 48px;
            .box {
                width: 168px;
                float: left;
                margin-left: 12.5%;
            }
        }
        .agendar {
            padding: 95px 0 76px 0;
            .box {
                width: 100%;
                margin: 0 0;
            }
            .input-holder:first-child+.input-holder {
                margin: 10px auto 0;
            }
        }
        .input-holder:first-child {
            width: 297px;
            max-width: 100%;
            margin: 0 auto 0;
            float: none;
            +.input-holder {
                width: 297px;
                max-width: 100%;
                margin: 20px auto 0;
                float: none;
            }
        }
        .box-price {
            float: left;
            margin-bottom: 0;
            padding-top: 20px;
        }
        .reserva-wrapper {
            width: 100%;
            margin-left: 0;
            margin-top: 24px;
        }
        .text-content {
            padding-top: 20px;
            .titulo {
                margin-bottom: 28px;
            }
        }
        .info-content .bloco {
            width: 100%;
            &:first-child {
                padding-bottom: 40px;
            }
            +.bloco {
                margin-left: 0;
            }
        }
        .form-comentario textarea {
            width: 55%;
        }
    }
}

@media(max-width: 479px) {
    .anfitriao-interna {
        .header-wrapper {
            margin-bottom: 30px;
            height: 165px;
            .btn-icon-fale {
                float: none;
                margin-top: 10px;
            }
            .text-wrapper {
                position: static;
                display: block;
                margin-left: 0;
                margin-top: 13px;
            }
            .patas-wrapper {
                margin-top: 15px;
                display: block;
                float: none;
                width: 100%;
                text-align: center;
                .patas {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 0;
                    margin-right: 45px;
                }
                >span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 2px;
                }
            }
            .h-title {
                font-size: 20px;
            }
        }
        .galeria,
        .form-wrapper {
            float: none;
            width: 100%;
            margin-left: 0;
        }
        .galeria {
            margin-bottom: 30px;
            .i-prev,
            .i-next {
                top: 12px;
            }
        }
        .form-wrapper {
            padding: 46px 30px 46px;
            .box {
                width: 140px;
                float: right;
                margin-left: 0;
            }
            .btn-danger {
                padding: 0 31px;
            }
        }
        .agendar {
            .box {
                width: 100%;
                margin: 0 0;
            }
            .input-holder:first-child+.input-holder {
                margin: 5px auto 0;
            }
        }
        .input-holder {
            width: 100%;
            margin-bottom: 23px;
            &:first-child {
                width: 100%;
            }
        }
        .box-agenda {
            padding-bottom: 27px;
        }
        .perfil-wrapper {
            .topico {
                width: 100%;
                margin-bottom: 21px;
            }
        }
        .form-comentario {
            .input-wrapper {
                height: 284px;
                padding-left: 0;
            }
            textarea,
            .votacao-wrapper {
                width: 100%;
                float: none;
                display: block;
            }
            textarea {
                height: 150px;
                padding: 0 15px 0;
            }
            .votacao-wrapper {
                width: 85%;
                margin: 0 auto 0;
                padding: 18px 0 0;
                border-left: 0;
                border-top: 1px solid #ddd;
                text-align: center;
                span {
                    display: block;
                }
                .patas {
                    display: inline-block;
                    padding-left: 0;
                    margin-top: 21px;
                }
            }
            .aviso,
            .btn-icon {
                float: none;
                display: block;
                width: 100%;
            }
            .btn-icon {
                max-width: 300px;
                margin: 20px 0 0;
            }
        }
        .widgets-container {
            margin-top: 35px;
            .i-btn-whats,
            .share-button {
                margin-left: 12px;
            }
            .icones-compartilhar {
                text-align: center;
                float: none;
                padding: 23px 0 21px;
                margin-top: 40px;
                >span {
                    display: block;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
