.blog {
    .text-sub {
        text-align: center;
        margin: 62px 0 62px;
    }
    .postagens {
        @include clearfix;
    }
    .postagem {
        margin-bottom: 40px;
        font: 16px "Arial", sans-serif;
        color: #545454;
        line-height: 1.3;
        @include clearfix;
        .imagem {
            float: left;
            width: 48.719%;
            max-height: 427px;
            overflow: hidden;
            margin-right: 30px;
            img {
                max-width: 100%;
            }
        }
        .btn {
            width: 122px;
            margin-top: 30px;
        }
    }
    .text-wrapper {
        @include addReticenciasVariasLinhas(120px, 6);
    }
    .title-view {
        margin-bottom: 30px;
    }
    .paginacao {
        margin: 11px 0 50px;
    }
}

@media(max-width: 991px) {
    .blog {
        .text-sub {}
        .text-date {
            margin-bottom: 8px;
        }
        .title-view {
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 8px;
        }
        .text-wrapper {
            font-size: 14px;
            max-height: 108px;
        }
        .postagem {
            .imagem {
                width: 300px;
                margin-right: 18px;
            }
            .btn {
                margin-top: 15px;
            }
        }
    }
}

@media(max-width: 479px) {
    .blog {
        .text-sub {
            font-size: 14px;
            padding: 0 10px;
            margin: 30px 0 23px;
        }
        .text-date {
            margin-bottom: 11px;
        }
        .title-view {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 12px;
        }
        .text-wrapper {
            max-height: 180px;
            -webkit-line-clamp: 10;
        }
        .postagem {
            .imagem {
                width: 100%;
                float: none;
                display: block;
                max-height: none;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .btn {
                margin-top: 19px;
            }
        }
        .paginacao {
            margin: 18px 0 50px;
        }
    }
}
