.sessao-dicas {
    .text-sub {
        text-align: center;
        margin: 62px 0 48px;
    }
    .dica-link {
        font: 16px $proxima-nova-semibold;
        color: #198592;
        display: block;
        width: 100%;
        height: 38px;
        @include addReticenciasVariasLinhas(38px, 2);
    }
    .dicas {
        @include clearfix;
        .dica {
            float: left;
            width: 22.5%;
            margin: 1.25%;
            margin-bottom: 5px;
        }
        .imagem {
            display: block;
            width: 100%;
            max-height: 200px;
            max-height: 200px;
            margin-bottom: 17px;
            overflow: hidden;
            img {
                max-width: 100%;
            }
        }
    }
    .paginacao {
        margin: 54px 0 50px;
    }
}

@media(max-width: 991px) {
    .sessao-dicas {
        .dicas {
            .dica {
                width: 30.734%;
                margin: 1.25%;
                margin-bottom: 2.25%;
            }
        }
        .dica-link {
            height: 57px;
            max-height: 57px;
            -webkit-line-clamp: 3;
        }
        .paginacao {
            margin: 34px 0 66px;
        }
    }
}

@media(max-width: 479px) {
    .sessao-dicas {
        .text-sub {
            font-size: 14px;
            margin: 42px 0 34px;
            padding: 0 10px;
        }
        .dicas {
            .dica {
                width: 93.75%;
                margin: 3.125%;
                margin-bottom: 5.125%;
            }
            .imagem {
                max-height: none;
                img {
                    width: 100%;
                }
            }
        }
        .dica-link {
            height: 38px;
            max-height: 38px;
            -webkit-line-clamp: 2;
        }
        .paginacao {
            margin: 25px 0 59px;
        }
    }
}
