.encontre-um-anfitriao {
    .input,
    .select-personalizado {
        border-color: #bbb;
        color: #666;
        @include input-placeholder {
            color: #666;
        }
        .seta {
            background-position: -305px -46px;
        }
    }
    .input-icon,
    .select-personalizado,
    #cep,
    .range-wrapper {
        float: left;
        max-width: none;
        width: 22.334%;
        margin: 14px 1.25%;
    }
    .range-wrapper {
        width: 47.668%;
        font: 14px $proxima-nova-semibold;
        color: #333;
        .valor {
            font-family: $proxima-nova-regular;
            color: #666;
        }
    }
    .input-icon {
        .input {
            width: 100%;
        }
    }
    .input-icon-calendar:after {
        right: 19px;
        background-position: -308px -73px;
    }
    .range-wrapper {
        height: 50px;
        padding-top: 15px;
        .input-range,
        span {
            float: left;
        }
        .text {
            margin-right: 29px;
        }
    }
    .input-range {
        margin: 2px 20px 0 13px;
    }
    .btn-wrapper {
        clear: both;
        width: 97.5%;
        margin: 0 1.25%;
        padding-top: 13px;
        @include clearfix();
        .btn {
            float: right;
            position: relative;
            padding: 0 49px 0 68px;
            @include border-radius(3px);
            &:after {
                content: "";
                display: block;
                @extend .sprite;
                position: absolute;
                top: 50%;
                width: 16px;
                height: 16px;
                background-position: -284px -23px;
                margin-top: -9px;
                left: 34px;
            }
        }
    }
    form {
        margin-bottom: 45px;
    }
    .dados-resultado {
        font: 14px $proxima-nova-semibold;
        color: #666;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 63px;
        line-height: 63px;
        margin-bottom: 45px;
        position: relative;
        @include clearfix();
        .total {
            float: left;
            text-transform: uppercase;
        }
        .cidade {
            color: #198592;
        }
        .limpar {
            font-family: $proxima-novasemibold-italic;
            float: right;
            font-size: 12px;
            position: relative;
            padding-right: 28px;
            &:after {
                content: "";
                display: block;
                @extend .sprite;
                position: absolute;
                top: 50%;
                width: 15px;
                height: 19px;
                background-position: -304px -20px;
                margin-top: -11px;
                right: 0;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            width: 110px;
            height: 1px;
            left: 0;
            top: -1px;
            background-color: #1B8692;
        }
    }
    .resultados-wrapper {
        position: relative;
        float: left;
        width: 65.81167%;
        margin-bottom: 24px;
    }
    .mapa-wrapper {
        position: relative;
        float: left;
        margin-left: 2.565%;
        width: 31.62333%;
        max-width: 100%;
        iframe {
            width: 100%;
            height: 400px;
        }
    }
    .container {
        clear: both;
        @include clearfix();
    }
}

.resultado {
    background: #eee;
    padding: 30px 30px 21px 30px;
    @include clearfix();
    position: relative;
    +.resultado {
        margin-top: 30px;
    }
    .box-img {
        text-align: center;
        margin-right: 30px;
    }
    .box-img,
    .box-info,
    .box-price {
        display: inline-block;
        vertical-align: top;
        position: relative;
        @include clearfix();
        >span {
            display: block;
        }
    }
    .box-info {
        width: 478px;
        max-width: 100%;
        min-height: 101px;
    }
    .box-price {
        float: right;
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: center;
    }
    .box-avaliacao {
        margin-top: 19px;
        padding-left: 6px;
    }
    .imagem {
        display: block;
        width: 109px;
        height: 101px;
        @include border-radius(6px);
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    .estrelas {
        display: inline-block;
        vertical-align: middle;
        margin-right: 38px;
        @include clearfix();
        .estrela {
            float: left;
            @extend .sprite;
            width: 16px;
            height: 16px;
            background-position: -422px -39px;
            cursor: pointer;
            &.active {
                background-position: -404px -39px;
            }
            +.estrela {
                margin-left: 5px;
            }
        }
    }
    .preco {
        font: 18px $proxima-nova-regular;
        color: #198592;
        height: 34px;
        span {
            font: 36px $proxima-nova-extrabold;
            line-height: 0.8;
            margin-left: 5px;
        }
    }
    .periodo {
        font: 14px $proxima-nova-semibold;
        color: #666;
        text-transform: uppercase;
    }
    .nome {
        font: 28px $proxima-nova-bold;
        color: #198592;
        line-height: 1;
        @include addReticenciasVariasLinhas(56px, 2);
    }
    .local {
        margin-bottom: 16px;
        margin-top: 14px;
    }
    .local,
    .possui-animais {
        font: 14px $proxima-nova-regular;
        color: #666;
        padding-left: 30px;
        position: relative;
        &:before {
            content: "";
            @extend .sprite;
            position: absolute;
            top: 50%;
        }
    }
    .avaliacoes {
        font: 14px $proxima-novasemibold-italic;
        color: #666;
        width: 116px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 3px;
    }
    .local {
        &:before {
            width: 16px;
            height: 21px;
            background-position: -358px -41px;
            left: 0;
            margin-top: -11px;
        }
    }
    .possui-animais {
        &:before {
            width: 25px;
            height: 20px;
            background-position: -377px -39px;
            left: -6px;
            margin-top: -13px;
        }
    }
}

@media(max-width: 991px) {
    .encontre-um-anfitriao {
        .input-icon,
        .select-personalizado,
        #cep {
            width: 31.2%;
            margin: 9px 1%;
        }
        .range-wrapper {
            width: 72.5%;
            padding-top: 10px;
            .text {
                margin-right: 13px;
            }
        }
        .btn-wrapper {
            width: 170px;
            float: left;
            clear: none;
            padding-top: 11px;
        }
        .resultados-wrapper {
            width: 100%;
        }
        .resultado+.resultado {
            margin-top: 26px;
        }
        .mapa-wrapper {
            margin: 18px 0 0;
            width: 370px;
        }
        .paginacao {
            margin-bottom: 65px;
        }
    }
    .resultado .estrelas {
        margin-right: 33px;
    }
}

@media(max-width: 479px) {
    .encontre-um-anfitriao {
        .input-icon,
        .select-personalizado,
        #cep,
        .range-wrapper {
            width: 93.75%;
            margin: 3.125%;
        }
        .range-wrapper {
            height: auto;
            >.text {
                display: block;
                float: none;
                margin-right: 0;
                margin-bottom: 20px;
            }
            .noUi-target {
                width: 181px;
                margin: 2px 16px 0 1px;
            }
        }
        form {
            margin-bottom: 35px;
        }
        .btn-wrapper {
            float: none;
            clear: both;
            width: 100%;
            max-width: 300px;
            margin: 0 auto 0;
            padding-top: 15px;
            .btn {
                float: none;
                width: 100%;
                &:after {
                    left: 97px;
                }
            }
        }
        .dados-resultado {
            line-height: normal;
            min-height: 63px;
            height: auto;
            padding: 19px 0;
            margin-bottom: 30px;
            .total {
                float: none;
                display: block;
                margin-bottom: 15px;
            }
            .limpar {
                width: 110px;
                float: none;
                display: block;
                &:after {
                    right: 13px;
                }
            }
        }
        .mapa-wrapper {
            iframe {
                height: 325px;
            }
        }
        .paginacao {
            margin-top: 45px;
        }
    }
    .resultado {
        width: 93.75%;
        margin: 0 auto;
        padding-bottom: 30px;
        .box-img {
            width: 100%;
            margin-right: 0;
            .imagem {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                }
            }
        }
        .box-price {
            float: none;
            position: static;
        }
        .box-info {
            width: 100%;
            padding: 25px 0 15px;
        }
        .box-avaliacao {
            text-align: center;
            float: right;
            margin-top: 5px;
        }
        .estrelas {
            display: block;
            margin-right: 0;
        }
        .avaliacoes {
            display: block;
            width: auto;
            padding-top: 7px;
        }
    }
}
