.form-generic {
    >.text-sub {
        text-align: center;
        margin: 62px 0 65px;
    }
    .form-container {
        display: block;
        width: 100%;
        min-height: 572px;
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .form-control {
        margin-bottom: 22px;
    }
    .email,
    .telefone {
        color: #fff;
        text-transform: uppercase;
        display: block;
        padding-left: 35px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            @extend .sprite;
        }
    }
    .email {
        font: 14px $proxima-nova-semibold;
        display: block;
        margin-bottom: 11px;
        &:last-child{
            margin-bottom: 0;
        }
        &:before {
            @extend .i-email;
            margin-top: -11px;
            left: -1px;
        }
    }
    .telefone {
        font: 27px $proxima-nova-extrabold;
        margin-bottom: 12px;
        &:before {
            @extend .i-telefone;
            margin-top: -9px;
        }
    }
    .aviso {
        font: 12px $pn-regular-italic;
        color: #6ED2DE;
        display: inline-block;
        margin-top: 19px;
        +.btn-icon {
            float: right;
        }
    }
    .widgets-container {
        clear: both;
        margin-top: 50px;
        margin-bottom: 52px;
    }
    .nav-generic {
        float: left;
        width: 296px;
        min-height: 379px;
        margin-left: 92px;
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        background: #000;
        background: rgba(0, 0, 0, 0.45);
        font: 18px $proxima-nova-semibold;
        color: #fff;
        ul {
            padding: 29px 36px;
            li {
                position: relative;
                padding-left: 7px;
                @include transition(all 0.5s ease);
                &:hover {
                    color: #00BFFF;
                }
            }
            li+li {
                padding-top: 22px;
                border-top: 1px solid #444;
                margin-top: 22px;
            }
        }
        .contador {
            @include border-radius(50%);
            display: block;
            width: 27px;
            height: 27px;
            padding-top: 5px;
            background: #186C85;
            color: #fff;
            font-size: 16px;
            text-align: center;
            position: absolute;
            bottom: -3px;
            left: 110%;
            cursor: pointer;
            @include transition(all 0.3s ease);
            &:hover {
                background-color: darken(#186C85, 5%);
            }
        }
        .link-sair {
            font-size: 14px;
            background: #FF4D4D;
            padding: 3px 18px;
            margin-top: 16px;
            display: inline-block;
            @include border-radius(4px);
            @include transition(all 0.3s ease);
            &:hover {
                background-color: darken(#FF4D4D, 5%);
            }
        }
    }
    .usuario {
        margin-top: -48px;
        right: 12%;
        text-align: center;
        position: absolute;
        top: 50%;
        color: #fff;
        .nome {
            font: 30px $proxima-nova-regular;
            span {
                font-family: $proxima-nova-extrabold;
            }
            +span {
                font: 18px $proxima-novasemibold-italic;
                color: #ccc;
            }
        }
        .texto-depoimento{
            font: 14px $proxima-novasemibold-italic;
            color: #ccc;
            margin-top: 5px;
            .link{
                margin-top: 5px;
                font-family: $proxima-nova-extrabold;
            }
        }
        >span {
            display: block;
        }
    }
}

@import "form-generic/fale-conosco";
@import "form-generic/cadastro";
@import "form-generic/identificacao";
@import "form-generic/tornar-se-anfitriao";
@import "form-generic/meu-cadastro";
@import "form-generic/minha-conta";
@import "form-generic/cadastro-pet";
@import "form-generic/minha-perfil";
@import "form-generic/minhas-reservas";
@import "form-generic/minha-agenda";

@media(max-width: 991px) {
    .form-generic {
        >.text-sub {}
        .widgets-container {
            margin-top: 42px;
            margin-bottom: 72px;
        }
        .usuario {
            margin-right: 72px;
        }
        .nav-generic {
            margin-left: 60px;
        }
    }
}

@media(max-width: 479px) {
    .form-generic {
        >.text-sub {
            font-size: 14px;
            margin: 22px 0 40px;
            padding: 0 10px;
        }
        .usuario {
            float: none;
            margin: 0 auto 55px;
            padding-top: 55px;
        }
        .nav-generic {
            float: none;
            margin: 0 auto 0;
            width: 248px;
        }
        .widgets-container {
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
}
