$bg-home-top: #ffc926;
$bg-home-bottom: #58c9d4;
.home-container {
    max-width: 1920px;
    width: 100%;
    height: 629px;
    background-color: #58C9D4;
    overflow: hidden;
    text-align: center;
    padding-top: 356px;
    position: relative;
    .img-fundo {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat !important;
        background-position: center !important;
        @include css3-prefix(background-size, cover);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .home {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 5;
    }
    .title-extra-big {
        line-height: 31px;
    }
    .text-destaque {
        display: block;
    }
    .btn {
        margin-left: 28px;
    }
    .form-banner {
        width: 100%;
        height: 50px;
        margin-top: 72px;
        padding-left: 59px;
        .input,
        .input-icon,
        .select-personalizado,
        .btn {
            float: left;
        }
        .input,
        .select-personalizado {
            float: left;
            margin-right: 17px;
        }
        .input-icon {
            margin-right: 17px;
            .input {
                margin-right: 0px;
            }
        }
        .input-icon-calendar:after {
            right: 17px;
        }
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        @include gradiente-banner();
    }
}

.home-como-funciona {
    text-align: center;
    background: url(../../img/como-funciona-fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    @include css3-prefix(background-size, cover);
    margin-top: 103px;
    margin-bottom: 113px;
    padding-bottom: 123px;
    >.title {
        margin-bottom: 37px;
    }
    >.text-sub {
        margin-bottom: 80px;
    }
    .cao-seguro {
        @extend .container;
        @include clearfix;
        max-height: 391px;
        background: #fff;
        margin-top: 70px;
        position: relative;
        .imagem {
            float: left;
            max-width: 585px;
            width: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                max-height: 100%;
                @include transition(all .3s);
            }
            &:hover {
                img {
                    @include transform(scale(1.02));
                }
            }
        }
        .detalhes {
            width: 50%;
            float: left;
        }
        .detalhes-container {
            padding-left: 25%;
            text-align: left;
        }
        .title-bigger {
            margin-top: 54px;
            margin-bottom: 33px;
            padding-left: 70px;
            strong {
                display: block;
            }
        }
        .text-container {
            height: 50px;
            overflow: hidden;
        }
        .i-container {
            display: inline-block;
            vertical-align: middle;
            width: 8%;
            margin-right: 4%;
        }
        .i-selo {
            position: absolute;
            top: 50%;
            margin-top: -142px;
            left: 50%;
            margin-left: -112px;
        }
        .text-sub {
            width: 86.84%;
            display: inline-block;
            vertical-align: middle;
            max-height: 39px;
            overflow: hidden;
        }
    }
}

.home-depoimentos {
    background: #fff;
    text-align: center;
    padding-bottom: 123px;
    >.title {
        margin-bottom: 37px;
    }
    >.text-sub {
        margin-bottom: 80px;
    }
}

.no-cssgradients .home-container:after {
    background: none;
    background: url('../../img/home-banner/Untitled-7.png') !important;
}

@media(max-width: 991px) {
    .home-container {
        height: 459px;
        padding-top: 218px;
        .title-extra-big {
            line-height: 25px;
            font-size: 30px;
            .text-destaque {
                font-size: 20px;
            }
        }
        label[for='data-fim']+.input-icon {
            margin-right: 0;
        }
        .home {
            max-width: 991px;
            width: 97.395833%;
            margin: 0 auto;
        }
        .form-banner {
            padding-left: 0;
            margin-top: 22px;
            .btn {
                float: none;
                margin-left: 0;
                margin-top: 25px;
            }
            .input,
            .input-icon,
            .select-personalizado {
                margin-right: 19px;
            }
        }
    }
    .home-como-funciona {
        margin-top: 65px;
        margin-bottom: 64px;
        padding-bottom: 74px;
        .cao-seguro {
            .title-bigger {
                font-size: 20px;
                line-height: 19px;
                margin-top: 10px;
                margin-bottom: 6px;
            }
            .text-sub {
                font-size: 14px;
            }
            .i-selo {
                width: 123px;
                height: 155px;
                margin-left: -61px;
                margin-top: -71px;
            }
            .detalhes-container {
                padding-left: 22.5%;
            }
            .text-container {
                height: 37px;
            }
            .text-container+.text-container {
                margin-top: 10px;
            }
            .i-container {
                margin-right: 8px;
            }
        }
        .i-pata {
            width: 22px;
            height: 21px;
            background-position: -1px -117px;
        }
        .i-calendario {
            width: 23px;
            height: 21px;
            background-position: -29px -117px;
        }
        .i-caderno {
            width: 21px;
            height: 20px;
            background-position: -55px -116px;
        }
        .i-celular {
            width: 17px;
            height: 20px;
            background-position: -80px -117px;
        }
    }
    .home-depoimentos {
        max-width: 991px;
        width: 97.395833%;
        padding-bottom: 10px;
        >.title {
            margin-bottom: 31px;
        }
        >.text-sub {
            margin-bottom: 60px;
        }
    }
}

@media(max-width: 479px) {
    .home-container {
        height: 626px;
        padding-top: 230px;
        &:after {
            bottom: 228px;
        }
        .home {
            width: 93.75%;
        }
        .img-fundo {
            height: 397px;
        }
        .title-extra-big {
            line-height: 20px;
            font-size: 20px;
        }
        .form-banner {
            margin-top: 37px;
            .input,
            .input-icon,
            .select-personalizado,
            .btn {
                max-width: none;
                width: 100%;
                float: none;
            }
            .input,
            .select-personalizado {
                margin-bottom: 10px;
            }
            .btn {
                margin-top: 0;
            }
            .select-personalizado .seta,
            .input-icon-calendar:after {
                right: 21px;
            }
            .input-icon-calendar:after {
                margin-top: -13px;
            }
        }
    }
    .home-como-funciona {
        margin-top: 51px;
        >.text-sub {
            font-size: 14px;
            margin: 0 10px 40px;
        }
        .cao-seguro {
            width: 93.75%;
            max-height: none;
            margin-top: 5px;
            .imagem,
            .detalhes {
                width: 100%;
            }
            .i-selo {
                width: 85px;
                height: 108px;
                margin-left: -42px;
                margin-top: -165px;
            }
            .title-bigger {
                font-size: 40px;
                line-height: 36px;
                padding-left: 0;
                margin-top: 105px;
                margin-bottom: 35px;
            }
            .text-container {
                height: 52px;
            }
            .detalhes-container {
                padding: 0 25px;
            }
            .text-sub {
                max-height: 51px;
            }
        }
    }
    .home-depoimentos {
        width: 93.75%;
        padding-bottom: 40px;
        >.text-sub {
            margin-bottom: 30px;
        }
    }
}
