#ficha_pet{
    .logo{
        display: block;
        margin: 15px auto;
    }
    .pet{
        margin-top: 15px;
        display: block;
    }
    .btn-imprimir{
        margin-top: 2px;
        height: 30px;
        line-height: 30px;
        margin: 15px 0;
        color: #FFF;
        padding: 0 10px;
        background-color: #666;
        display: block;
        float: left;
    }
}