.sessao-como-funciona {
    >.text-sub {
        text-align: center;
        margin: 62px 0 62px;
    }
    .como-funciona-wrapper {
        .imagens {
            .imagem {
                width: 50%;
                float: left;
                position: relative;
                img {
                    max-width: 100%;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 195px;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    background: url('../../img/como-funciona/mask-como-funciona.png') repeat;
                }
            }
        }
        .text {
            font: 20px $proxima-nova-bold;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            z-index: 2;
            bottom: 13%;
            left: 0;
            text-align: center;
            width: 100%;
        }
        .descricao {
            font: 16px $proxima-nova-regular;
            color: #525252;
            background: #ddd;
            padding: 5% 5.5% 9%;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 71px;
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                background: url('../../img/como-funciona/como-funciona-patas.png') repeat;
            }
        }
    }
    .widgets-container {
        clear: both;
        margin-top: 47px;
        margin-bottom: 51px;
    }
}

.opcoes {
    background: #eee;
    position: relative;
    padding-top: 75px;
    padding-bottom: 65px;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        background: url('../../img/como-funciona/fundo-opcoes.png') repeat;
    }
    .opcao,
    .title-page {
        position: relative;
        z-index: 2;
    }
    .title-page {
        &:after {
            content: "";
            display: block;
            width: 120px;
            height: 3px;
            background: #198592;
            position: absolute;
            bottom: -28px;
            left: 50%;
            margin-left: -60px;
        }
    }
    .opcao {
        width: 879px;
        max-width: 100%;
        margin: 99px auto 0;
        @include clearfix();
        +.opcao {
            border-top: 1px solid #ccc;
            padding-top: 55px;
            margin-top: 55px;
        }
        .imagem {
            display: block;
            width: 190px;
            float: left;
            position: relative;
            img {
                max-width: 100%;
            }
        }
        .desc {
            display: block;
            font: 18px $proxima-nova-bold;
            color: #545454;
            text-transform: uppercase;
            margin-left: 240px;
            margin-bottom: 26px;
        }
        .text-content {
            font-size: 15px;
            color: #666;
            line-height: 1.3;
            margin-left: 240px;
        }
        .circle {
            display: block;
            width: 60px;
            height: 60px;
            background: #FFB973;
            color: #fff;
            font: 35px $proxima-nova-bold;
            text-align: center;
            padding-top: 10px;
            @include border-radius(50%);
            position: absolute;
            top: 50%;
            margin-top: -30px;
            left: -30px;
        }
    }
}

@media(max-width: 991px) {
    .sessao-como-funciona {
        >.text-sub {
            margin: 62px 0 38px;
        }
        .como-funciona-wrapper {
            .text {
                font-size: 14px;
            }
            .descricao {
                font-size: 14px;
                padding-bottom: 13%;
            }
        }
    }
    .opcoes {
        .title-page {
            font-size: 18px;
        }
        .opcao {
            width: 93%;
            .imagem {
                margin-left: 25px;
            }
            .desc {
                font-size: 16px;
                margin-left: 255px;
            }
            .text-content {
                font-size: 14px;
                margin-left: 255px;
            }
        }
    }
}

@media(max-width: 479px) {
    .sessao-como-funciona {
        >.text-sub {
            font-size: 14px;
            margin: 40px 10px 39px;
        }
        .como-funciona-wrapper {
            .imagens .imagem {
                width: 100%;
                float: none;
            }
            .text {
                padding: 0 42px;
                bottom: 9%;
            }
            .descricao {
                padding: 45px 22px 122px;
                line-height: 1.3;
            }
        }
    }
    .opcoes {
        padding-bottom: 40px;
        .title-page {
            font-size: 14px;
            padding: 0 10px;
            &:after {
                bottom: -34px;
            }
        }
        .opcao {
            margin-top: 74px;
            padding-right: 0;
            width: 90%;
            .imagem {
                float: none;
                margin: 0 auto 35px;
            }
            .desc,
            .text-content {
                margin-left: 0;
                width: 100%;
            }
            +.opcao {
                padding-top: 40px;
                margin-top: 40px;
            }
        }
    }
}
