.parceiros {
    .text-sub {
        text-align: center;
        margin: 57px 0 48px;
    }
    .parceiro {
        @include clearfix();
        float: left;
        width: 47.397%;
        max-height: 170px;
        margin: 1.25%;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .logo {
        //width: 270px;
        width: 47.475%;
        height: 170px;
        line-height: 170px;
        margin-right: 5.275%;
        background: url('../../img/parceiros/mask-parceiros.png') no-repeat center center;
        @include css3-prefix(background-size,
        cover);
        float: left;
        text-align: center;
        img {
            max-width: 77%;
            max-height: 77%;
        }
    }
    .nome {
        font: 16px $proxima-nova-semibold;
        color: #1A8592;
        display: block;
        margin-bottom: 13px;
    }
    .descricao {
        font: 14px "Arial", sans-serif;
        color: #555;
        line-height: 1.49;
    }
}

@media(max-width: 991px) {
    .parceiros {
        .text-sub {
            margin: 54px 0 25px;
        }
        .parceiro {
            width: 30.834%;
            height: 310px;
            margin: 2.25% 1.25%;
            margin-top: 0;
            max-height: none;
        }
        .logo {
            width: 100%;
            float: none;
            display: block;
            margin-bottom: 25px;
        }
    }
}

@media(max-width: 479px) {
    .parceiros {
        .text-sub {
            font-size: 14px;
            margin: 54px 0 25px;
        }
        .parceiro {
            width: 93.75%;
            margin: 3.125%;
            height: auto;
        }
        .logo {
            height: 189px;
            line-height: 189px;
        }
    }
}
