.pedido-de-reserva {
    padding-bottom: 54px;
    .container {
        @include clearfix();
    }
    .row {
        margin-bottom: 23px;
    }
    .resultado-content {
        position: relative;
        float: left;
        width: 570px;
        margin-left: 15px;
        @include clearfix();
    }
    .resultado {
        padding: 36px 30px 36px 30px;
        .box-info {
            width: 285px;
            height: 102px;
        }
        .nome {
            margin-bottom: 3px;
        }
        .dog {
            font: 16px $proxima-nova-semibold;
            color: #666;
            margin-bottom: 25px;
        }
    }
    form {
        position: relative;
        float: right;
        margin-left: 0;
        width: 600px;
        font: 14px $proxima-nova-regular;
        color: #666;
        .form-group {
            float: left;
            width: 270px;
            margin: 0 15px 22px;
        }
        .text {
            display: block;
            clear: both;
            margin-left: 15px;
        }
        .escolha {
            width: 95%;
            .select-personalizado {
                border-color: transparent;
                color: transparent;
                padding-left: 0;
                .label,
                .seta {
                    display: none;
                }
            }
        }
        .btn-add{
            margin: 0 0 22px 15px;
        }
    }
    .input,
    .select-personalizado {
        border-color: #bbb;
        color: #666;
        @include input-placeholder {
            color: #666;
        }
        .seta {
            background-position: -304px -45px;
        }
    }
    .input-icon-calendar:after {
        right: 19px;
        background-position: -307px -72px;
    }
    .form-group {
        label {
            font: 12px $proxima-nova-semibold;
            color: #444;
            white-space: nowrap;
            display: block;
            margin-bottom: 11px;
        }
        .input-icon,
        input,
        .input,
        .select-personalizado {
            max-width: none;
            width: 100%;
            &.multiple{
                width: 84.997%;
            }
        }
        .btn-extra-big {
            color: #fff;
            background: #00B285;
        }
        .chosen-select {}
    }
    .select-wrapper {
        @include clearfix();
        .select-personalizado {
            text-transform: capitalize;
            width: 74%;
            float: left;
        }
    }
    .btn-add {
        font-size: 19px;
        color: #fff;
        background-color: #aaa;
        padding: 0 23px;
        cursor: pointer;
        float: right;
        line-height: 54px;
        @include transition(all 0.5s);
        &:hover {
            background-color: #676565;
        }
    }
    .btn-border {
        float: left;
        margin-top: 84px;
        margin-left: 15px;
    }
}

@media(max-width: 991px) {
    .pedido-de-reserva {
        .resultado-content,
        form {
            float: none;
            width: 100%;
        }
        .resultado-content {
            width: 97.395833%;
            margin: 0 auto 40px;
        }
        form {
            .form-group {
                width: 237px;
                margin: 0 8px 22px;
                height: 91px;
                position: relative;
                &:last-child{
                    height: auto;
                }
                label {
                    white-space: normal;
                }
                .btn-extra-big {
                    margin-top: 20px;
                }
                .select-personalizado,
                .input-icon,
                .chosen-container {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            .btn-extra-big {
                width: 100%;
                text-align: center;
                padding: 0 0;
            }
            .escolha {
                width: 63.8%;
                .select-personalizado {
                    border-color: #bbb;
                    color: #666;
                    padding-left: 17px;
                    .label,
                    .seta {
                        display: block;
                    }
                    .chosen-select {
                        display: block !important;
                    }
                }
                .chosen-container {
                    display: none;
                }
            }
            .btn-add{
                margin: 14px 0 0;
                height: 50px;
                line-height: 50px;
            }
        }
        .btn-border {
            margin-top: 40px;
            margin-left: 10px;
        }
    }
}

@media(max-width: 479px) {
    .pedido-de-reserva {
        .resultado {
            .box-info {
                height: auto;
            }
        }
        .select-wrapper .select-personalizado {
            width: 76%;
        }
        form {
            .form-group {
                float: none;
                display: block;
                width: 93.75%;
                height: auto;
                margin: 0 3.125% 22px;
                .select-personalizado,
                .input-icon,
                .chosen-container {
                    position: relative;
                    &.multiple{
                        width: 76.997%;
                    }
                }
            }
            .btn-add{
                margin-top: 0;
            }
            .form-group .btn-extra-big {
                margin-top: 0;
                max-width: 300px;
                width: 100%;
            }
        }
    }
}
