.perguntas-frequentes {
    width: 100%;
    padding-bottom: 110px;
    background: #ddd;
    position: relative;
    &:before,
    &:after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &:before {
        height: 71px;
        background-image: url('../img/tornar-se-anfitriao/como-funciona-patas2.png');
        top: 0;
    }
    &:after {
        height: 71px;
        background-image: url('../img/como-funciona/como-funciona-patas.png');
        bottom: 0;
    }
    .title-page {
        padding-top: 15px;
        margin-bottom: 45px;
        position: relative;
        &:after {
            content: "";
            display: block;
            background: url(../img/sprite.png) no-repeat;
            width: 90px;
            height: 90px;
            background-position: -279px -147px;
            position: absolute;
            left: 50%;
            margin-left: -44px;
            bottom: 100%;
        }
    }
    .perguntas-container {
        padding-top: 210px;
        +.perguntas-container {
            padding-top: 160px;
        }
    }
    .pergunta-wrapper+.pergunta-wrapper {
        margin-top: 25px;
    }
    .pergunta {
        display: block;
        width: 100%;
        padding-left: 55px;
        position: relative;
        font: 16px $proxima-nova-bold;
        color: #2C99A5;
        cursor: pointer;
        &:after {
            content: "";
            display: block;
            width: 33px;
            height: 29px;
            background: url(../img/sprite.png) no-repeat;
            background-position: -324px -38px;
            position: absolute;
            left: 0;
            top: -5px;
        }
    }
    .resposta {
        display: none;
        font-size: 15px;
        padding-left: 55px;
        margin-top: 22px;
    }
    .duvidas {
        display: block;
        font: 16px $proxima-nova-bold;
        color: #666;
        a {
            color: #000;
        }
    }
    .pergunta-wrapper {
        margin-left: 126px;
    }
    .duvidas {
        margin-left: 181px;
        margin-top: 50px;
    }
}

@media(max-width: 991px) {
    .perguntas-frequentes {
        .pergunta-wrapper {
            margin-left: 75px;
            padding-right: 10%;
        }
        .duvidas {
            margin-left: 129px;
        }
    }
}

@media(max-width: 479px) {
    .perguntas-frequentes {
        padding-bottom: 90px;
        &:before {
            height: 55px;
        }
        &:after {
            height: 68px;
        }
        .perguntas-container {
            padding-top: 180px;
        }
        .title-page {
            font-size: 16px;
        }
        .pergunta-wrapper {
            width: 81%;
            margin: 0 auto 0;
            padding-right: 0;
        }
        .pergunta {
            font-size: 14px;
            padding-left: 45px;
        }
        .resposta {
            font-size: 12px;
            padding-left: 45px;
            margin-top: 7px;
        }
        .duvidas {
            margin-left: 76px;
            margin-top: 40px;
            font-size: 14px;
        }
    }
}
