.menu-historico {
    display: none;
}

.sessao-chat {
    font: 14px $proxima-nova-regular;
    >.text-sub {
        text-align: center;
        margin: 58px auto 45px;
        max-width: 630px;
    }
    .chat-wrapper {
        width: 100%;
        height: 685px;
        background: #ddd;
        @include clearfix();
    }
    .nome,
    .strong {
        font-family: $proxima-nova-bold;
        color: #000;
        display: block;
        margin-bottom: 2px;
        @include transition(all 0.2s);
    }
    .data {
        font-size: 12px;
        display: block;
        color: #666;
    }
    .conversas-container {
        width: 300px;
        height: 100%;
        float: left;
        padding: 23px 0;
        background: #eee;
    }
    .conversas {
        width: 100%;
        height: 100%;
        padding: 0 34px;
        overflow-y: scroll;
        /* Let's get this party started */
        &::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border: 1px solid #ccc;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ccc;
        }
        .contato {
            cursor: pointer;
            &:hover {
                .nome {
                    color: #198592;
                }
            }
        }
        .contato+.contato {
            margin-top: 21px;
            padding-top: 21px;
            border-top: 1px solid #ddd;
        }
    }
    .conversa {
        width: 870px;
        max-width: 100%;
        height: 100%;
        float: left;
        padding: 27px 18px 63px 56px;
    }
    .mensagens {
        width: 100%;
        height: 423px;
        overflow-y: scroll;
        color: #000;
        padding-right: 51px;
        padding-left: 5px;
        /* Let's get this party started */
        &::-webkit-scrollbar {
            width: 10px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border: 1px solid #bbb;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #bbb;
        }
    }
    .m-01 {
        width: 80.85%;
        float: left;
        background: #fff;
        padding: 19px 21px;
        margin-bottom: 26px;
        @include border-radius(5px);
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 5px 4px 0;
            border-color: transparent #ffffff transparent transparent;
            position: absolute;
            top: 20px;
            right: 100%;
        }
    }
    .m-02 {
        width: 80.85%;
        float: right;
        background: #ccc;
        padding: 19px 21px;
        margin-bottom: 26px;
        @include border-radius(5px);
        position: relative;
        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 0 4px 5px;
            border-color: transparent transparent transparent #cccccc;
            position: absolute;
            top: 20px;
            left: 100%;
        }
    }
    .text-link {
        font: 13px $proxima-nova-bold;
        color: #FF4C4C;
        display: block;
        margin-bottom: 24px;
        padding-left: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    form {
        @include clearfix();
        margin-top: 54px;
        padding-left: 5px;
        textarea {
            display: block;
            width: 72.1%;
            height: 79px;
            border: 2px solid #ccc;
            @include border-radius(7px);
            padding-left: 24px;
            padding-top: 20px;
            font: 14px $proxima-nova-bold;
            color: #000;
            text-align: left;
            background: #fff;
            float: left;
            resize: none;
            @include input-placeholder {
                color: #000;
            }
        }
        .btn-icon {
            float: left;
            width: 18.9%;
            height: 79px;
            margin-left: 21px;
        }
    }
    .widgets-container {
        margin-top: 50px;
        margin-bottom: 53px;
    }
}

@media(max-width: 991px) {
    .sessao-chat {
        .conversa {
            width: 59.8%;
            padding: 27px 1.34% 63px 4.01%;
        }
        .chat-wrapper {
            height: 829px;
        }
        .mensagens {
            height: 525px;
        }
        form {
            textarea {
                width: 59.1%;
                height: 129px;
            }
            .btn-icon {
                width: 31.9%;
                height: 129px;
                margin-left: 11px;
                padding-left: 20px;
            }
        }
    }
}

@media(max-width: 767px) {
    .sessao-chat .conversa {
        width: 54.8%;
    }
}

@media(max-width: 479px) {
    .menu-historico {
        display: block;
        height: 57px;
        background: #1B8692;
        color: #fff;
        font: 14px $proxima-nova-regular;
        text-transform: uppercase;
        padding-top: 18px;
        text-align: center;
        .text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
        }
        .hamburguer {
            display: inline-block;
            vertical-align: middle;
            width: 27px;
            height: 25px;
            @include clearfix();
            i {
                display: block;
                width: 27px;
                height: 2px;
                background: #fff;
                @include transition(all 0.5s);
                +i {
                    margin-top: 7px;
                }
            }
        }
    }
    .sessao-chat {
        >.text-sub {
            font-size: 14px;
            margin: 25px auto 37px;
        }
        .conversas-container {
            display: none;
            position: absolute;
            top: 57px;
            left: 0;
            width: 100%;
            height: 92.8%;
            z-index: 6;
            background: #eee;
        }
        .chat-wrapper {
            height: 785px;
            position: relative;
            &.active {
                .conversas-container {
                    display: block;
                }
                .hamburguer {
                    padding-top: 10px;
                    i {
                        height: 3px;
                    }
                    i:first-child {
                        @include transform(rotate(54deg));
                        +i {
                            @include transform(rotate(-54deg));
                            margin-top: 0;
                            position: relative;
                            top: -3px;
                            +i {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .conversa {
            width: 100%;
            height: 92.8%;
            padding: 25px 10px 0;
        }
        .mensagens {
            padding-right: 11px;
        }
        .m-01,
        .m-02 {
            width: 100%;
        }
        .nome,
        .strong {
            margin-bottom: 6px;
        }
        form {
            margin-top: 35px;
            textarea,
            .btn-icon {
                height: 69px;
            }
            textarea {
                width: 72%;
            }
            .btn-icon {
                font-size: 0;
                width: 19.3%;
                margin-left: 23px;
                &:after {
                    right: 50%;
                    margin-right: -8px;
                }
            }
        }
    }
}
