.sessao-depoimentos {
    >.text-sub {
        text-align: center;
        margin: 62px 0 62px;
    }
    .paginacao {
        margin: 55px 0 50px;
    }
}

@media(max-width: 479px) {
    .sessao-depoimentos {
        >.text-sub {
            font-size: 14px;
            margin: 22px 0 40px;
            padding: 0 25px;
        }
    }
}
