<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

/* @var $anfitriao \Codando\Modulo\Anfitriao */
$imageTemp = is_instanceofOrNew('Codando\Modulo\Arquivo', $anfitriao->getArquivo());

$idmodalidade = input()->_toPost('id_modalidade', '%d', false);
$datainicio = input()->_toPost('datainicio', '%s', false);
$datafim = input()->_toPost('datafim', '%s', false);

/* @var $anfitriaomodalidade <Array>\Codando\Modulo\Anfitriaomodalidade */
$anfitriaomodalidade;

$countanfitriao = count($anfitriaomodalidade);

$textModalidade = '';
$currentModalidade = 0;

/* @var $modalidade \Codando\Modulo\Modalidade */
$modalidade = false;

foreach ($anfitriaomodalidade as $modalidadeTemp) {
    if( $modalidadeTemp->getId() == $idmodalidade ){
        $modalidade = $modalidadeTemp;
        break;
    }
}

$this->display('header', array('menuCurrent' => $menuCurrent));
?>

    <section class="pedido-de-reserva">
        <header class="title-section-container">
            <h1 class="title-section">Pedido de Reserva</h1>
        </header>

        <div class="main-content">
            <div class="resultado-content">
                <div class="resultado">
                    <div class="box-img">
                        <a href="<?= $imageTemp->getImage(); ?>" class="imagem">
                            <img src="<?= $imageTemp->getImage(); ?>" alt="">
                        </a>
                    </div>

                    <div class="box-info">
                        <span class="nome"><?= $anfitriao->getNome(); ?></span>
                        <span class="dog none">DogSitter</span>
                        <span class="local"><?= $anfitriao->getEndereco(); ?> - <?= $anfitriao->getCidade()->getNome(); ?> / <?= $anfitriao->getCidade()->getEstado(); ?></span>
                    </div>
                    
                    <?php if ($modalidade != false && $modalidade->getId() == 2) { ?>
                    <div class="box-price">
                        <span class="preco">R$ <span><?= $anfitriao->getValordiariadaycare() ?></span></span>
                        <span class="periodo">POR DIA</span>
                    </div>
                    <?php } else { ?>
                    <div class="box-price">
                        <span class="preco">R$ <span><?= $anfitriao->getValordiariahospedagem(); ?></span></span>
                        <span class="periodo">POR NOITE</span>
                    </div>
                    <?php } ?>
                   
                </div>
            </div>

            <form data-controller="form" data-action="/reservar/<?= $anfitriao->getId(); ?>">
                <input name="id_modalidade" type="hidden" value="<?= $idmodalidade ?>" />
                <div class="form-group">
                    <label for="datainicio">DATA INÍCIO</label>
                    <div class="input-icon input-icon-calendar">
                        <input type="text" id="data-inicio" name="datainicio" value="<?= $datainicio ?>" placeholder="DATA INÍCIO" class="input input-medium" required data-datepicker>
                    </div>
                </div>
                <?php if ($modalidade == false || $modalidade->getId() != 2) { ?>
                <div class="form-group">
                    <label for="datafim">DATA FINAL</label>
                    <div class="input-icon input-icon-calendar">
                        <input type="text" id="datafim" name="datafim" value="<?= $datafim ?>" placeholder="DATA FINAL" class="input input-medium"  data-datepicker>
                    </div>
                </div>
                <?php } ?>
                
                <div class="form-group">
                    <label for="horadeixar">HORÁRIO QUE IRÁ DEIXAR O PET NO ANFITRIÃO</label>
                    <div class="input-icon">
                        <input type="text" id="horadeixar" name="horadeixar" data-mask="99:99" placeholder="" required class="input input-medium">
                    </div>
                    
                </div>

                <div class="form-group">
                    <label for="horabuscar">HORÁRIO QUE IRÁ BUSCAR O PET NO ANFITRIÃO</label>
                    <div class="input-icon">
                        <input type="text" id="horabuscar" name="horabuscar" data-mask="99:99" placeholder="" required class="input input-medium">
                    </div>
                </div>

                <div class="form-group escolha" style="margin-bottom: 0">
                    <label>ESCOLHA SEU ANIMAL</label>
                    <div class="select-personalizado multiple">
                        <span class="label"></span>
                        <i class="seta"></i>
                        <select data-placeholder="..." name="pets[]" class="chosen-select input input-medium" multiple>
                            <?php
                            
                            /* @var $pet \Codando\Modulo\Pet */
                            foreach ($petList as $pet) {
                            ?>
                            <option value="<?= $pet->getId(); ?>"><?= $pet->getNome(); ?></option>
                            <?php } ?>
                        </select>
                    </div>
                    <a class="btn btn-add" data-fancybox-type="iframe" data-rel="fancybox-iframe" rel="fancybox-iframe" href="/adicionar-pet">+</a>
                </div>
                
                <div class="form-group escolha">
                    <label>Cupom</label>
                    <div class="input-icon">
                        <input type="text" id="cupom" name="cupom" placeholder="" class="input input-medium">
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-extra-big">ENVIAR PEDIDO DE RESERVA</button>
                </div>
                <span class="text feedback"></span>
            </form>

            <a href="/" class="btn-border">voltar</a>
        </div>
    </section>

<?php

$this->display('footer', array('menuCurrent' => $menuCurrent));