<?php
/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

$this->display('header', array('menuCurrent' => $menuCurrent));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Alterar o anfitrião</h1>
    </header>

    <p class="text-sub">Preencha os campos para atualizar o seu cadastro na DogSafe.</p>
    <style>
        .form-container:after{
            background: none !important;
            background-image: none;
        }
    </style>
    <div class="container tornar-se-anfitriao">
        <div class="form-container">
            <div class="chamada-wrapper"> <span>AMA ANIMAIS?</span> <span>Mantenha seu cadastro atualizado.</span> </div>
            <form data-action="/editar-anfitriao" data-controller="form|alteraranfitriao" data-upload="/upload">
                <span class="feedback c-white" style="width: 100%"></span>
                <input name="latlong" type="hidden" value="" />
                <div class="clearfix"></div>
                <label for="email" class="none">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" value="<?= $anfitriao->getEmail(); ?>" placeholder="E-mail*">

                <label for="nome-completo" class="none">nome completo</label>
                <input type="text" id="nome-completo" name="nome" class="form-control" placeholder="Nome completo *" value="<?= $anfitriao->getNome() ?>" required>

                <label for="cpf" class="none">cpf</label>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF *" value="<?= $anfitriao->getCpf(); ?>" required>

                <label for="celular" class="none">celular</label>
                <input type="text" id="celular" name="celular" data-celular class="form-control" value="<?= $anfitriao->getCelular(); ?>" placeholder="Celular *" required>

                <label for="cep" class="none">cep</label>
                <input type="text" id="cep" name="cep" class="form-control" value="<?= $anfitriao->getCep() ?>" placeholder="CEP *" required>
                
                <label for="bairro" class="none">bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" value="<?= $anfitriao->getBairro(); ?>" placeholder="Bairro *">
                
                <label for="endereco" class="none">endereço</label>
                <input type="text" id="endereco" style="width: 96%" name="endereco" class="form-control" value="<?= $anfitriao->getEndereco(); ?>" placeholder="Endereço *" required>

                <div class="select-personalizado">
                    <span class="label">Estado</span>
                    <i class="seta"></i>
                    <select id="estado" name="estado" placeholder="Estado" class="selected estado">
                        <option class="primeiro" value="">selecione*</option>
                        <?php
                        $estadoload = $anfitriao->getCidade()->getEstado();
                        $estadoList = app()->listModulo('estado');
                        /* @var $estado \Codando\Modulo\Estado */
                        foreach ($estadoList as $estado) { ?>
                        <option value="<?= $estado->getId(); ?>" data-sigla="<?= $estado->getSigla(); ?>" <?= $estado->isEquals($estadoload) ? ' selected':NULL; ?>><?= $estado->getNome(); ?></option>
                        <? } ?>
                    </select>
                </div>

                <div class="select-personalizado">
                    <span class="label">Cidade</span>
                    <i class="seta"></i>
                    <select id="cidade" name="id_cidade" placeholder="Cidades" data-selected="<?= $anfitriao->getCidade()->getId() ?>" class="selected cidade">
                        <option class="primeiro" value="">selecione*</option>
                    </select>
                </div>

                <label for="senha" class="none">Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha">
                
                <label for="confsenha" class="none">Confirma Senha</label>
                <input type="password" id="confsenha" name="confsenha" class="form-control" placeholder="Confirma Senha">

                <a class="btn-icon btn-icon-camera file-uploader" id="perfil-uploaded" data-name="perfil" data-text="<span class='label'>ALTERAR FOTO DE PERFIL</span>"></a>
                <a class="btn-icon btn-icon-camera file-uploader upload-file" id="casa-uploaded" data-mult='5' data-name="casa" data-text="<span class='label'>INSERIR ATÉ 5 FOTOS DA CASA</span>"></a>
                <div class='clearfix'></div>
                <div class='casa-uploaded text-wrapper mt-10 to-none'>
                    <?php
                    $count = 0;
                    /* @var $arquivoTemp \Codando\Modulo\Arquivo  */
                    foreach ($anfitriao->getArquivoList() as $arquivoTemp) {
                        if($arquivoTemp->isEquals($anfitriao->getArquivo()) == false){
                             $count++;
                    ?>
                    <p class="c-white mt-10">
                        <input name="arquivo[<?= $count ?>]" value="<?= $arquivoTemp->getId() ?>" type="hidden">
                        <a class="fancybox" data-rel="1" href="<?= $arquivoTemp->getImage() ?>"><?= $count ?>ª Foto Casa</a> 
                        <a class="seta-cima"></a><a class="seta-baixo"></a>
                        <span class="to-right excluir">Excluir</span>
                    </p>
                    <? } } ?>
                </div>
                <div class="text-wrapper feedback">
                    <span>Ao se cadastrar você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
                    <span>* Seu CPF só será usado para cadastro no site e segurança.</span>
                </div>

                <button type="submit" class="btn-icon btn-icon-flecha">ATUALIZAR</button>
            </form>
        </div>

        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
