<?php

/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $pagina Codando\Modulo\Pagina
 */

$this->display('header', array('menuCurrent' => 'chat'));

?>
    <section class="sessao-chat">
        <header class="title-section-container">
            <h1 class="title-section">Chat</h1>
        </header>
        <!--<p class="text-sub">Esse é o seu canal restrito de mensagens, onde você poderá tirar todas as dúvidas sobre os serviços e hospedagens.</p>-->
        <div class="container" data-controller="chat" data-cadastro="<?= input()->getSession('logadocadastro'); ?>" data-anfitriao="<?= input()->getSession('logadoanfitriao'); ?>">
            <?php
            if(count($chatList) > 0){
            ?>
            <div class="chat-wrapper">
                <div class="menu-historico">
                    <span class="hamburguer">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                    <span class="text">Histórico de conversas</span>
                </div>
                
                <div class="conversas-container">
                    <div class="conversas">
                        <?php
                    
                        /* @var $chatTemp \Codando\Modulo\Chat */
                        foreach ($chatList as $chatTemp) {
                            
                            $nome = '';
                            
                            $tipo = false;
                            
                            /* @var $anfitriaoTemp \Codando\Modulo\Anfitriao */
                            $anfitriaoTemp = $chatTemp->getAnfitriao();
                            
                            /* @var $cadastroTemp \Codando\Modulo\Cadastro */
                            $cadastroTemp = $chatTemp->getCadastro();
                            
                            if(is_instanceof('Codando\Modulo\Anfitriao', $anfitriaoTemp) && is_instanceof('Codando\Modulo\Cadastro', $cadastroTemp)){

                                if(input()->getSession('logadoanfitriao') != $anfitriaoTemp->getId() ){
                                    $nome = $anfitriaoTemp->getNome();
                                    $tipo = 2;
                                }

                                if(input()->getSession('logadocadastro') != $cadastroTemp->getId()) { 
                                    $nome = $cadastroTemp->getNome();
                                    $tipo = 1;
                                }
                            
                        ?>
                        <div class="contato" data-id="<?= $chatTemp->getId(); ?>" data-tipo="<?= $tipo; ?>">
                            <span class="nome"><?= $nome; ?></span>
                            <span class="data"><?= $chatTemp->getLastint(); ?></span>
                        </div>
                        <?php } } ?>
                    </div>
                </div>
                
                <div class="conversa">
                    <!--<a id="apagarhist" class="text-link">apagar histórico de conversa</a>-->
                    <div id="mensagens" class="mensagens">
                    </div>

                    <form>
                        <input id="idchat" name="id_chat" value="" type="hidden" />
                        <textarea id="mensagem" name="mensagem" placeholder="Mensagem" required></textarea>
                        <button id="enviar-chat" type="button" class="btn-icon btn-icon-flecha">Enviar</button>
                    </form>
                </div>
            </div>
            <? } else { ?>
            <div class="text-center mt-10">
                <p>Nenhum chat no momento.</p>
            </div>
            <? } ?>
            <div class="widgets-container privacidade">
                <a href="/" class="btn-border">voltar</a>
            </div>
        </div>
    </section>

<?php

$this->display('footer', array('menuCurrent' => 'chat'));
