<?php
/*
 * @var $app \Codando\App
 * @var $this \Codando\System\Template
 * @var $anfitriao \Codando\Modulo\Anfitriao
 * @fazer: terminar
 */

$this->display('header', array('menuCurrent' => $menuCurrent));
?>


<section class="form-generic minha-agenda" data-controller="compromisso">
    <header class="title-section-container">
        <h1 class="title-section">Meus compromisso</h1>
    </header>

    <p class="text-sub">Nesta sessão será possível acompanhar todos compromisso</p>

    <div class="container" id='compromisso'>
        <div class="lista-wrapper">
            <div class="table-header">
                <div class="col-data">
                    <span>Data</span>
                </div>
<!--                <div class="col-data">
                    <span>Titulo</span>
                </div>-->
                <div class="col-data">
                    <span>Horário</span>
                </div>
                <div class="col-data">
                    <span>Horário</span>
                </div>
                <div class="col-status">
                    <span>Opções</span>
                </div>
            </div>

            <div class="table-body">
                <?php
                /* @var $compromisso \Codando\Modulo\Compromisso */
                foreach ((array) $compromissoList as $compromisso) {
                    ?>
                    <div data-id="<?= $compromisso->getId(); ?>" class="table-row">
                        <div class="table-column-name">

                            <div class="col-data">
                                <span>Data</span>
                            </div>
<!--                            <div class="col-data">
                                <span>Titulo</span>
                            </div>-->
                            <div class="col-data">
                                <span>Horário</span>
                            </div>
                            <div class="col-data">
                                <span>Horário</span>
                            </div>
                            <div class="col-status">
                                <span>Opções</span>
                            </div>
                        </div>
                        <div class="col-data">
                            <span><?= $compromisso->getData(); ?></span>
                        </div>
<!--                        <div class="col-data">
                            <span><?= $compromisso->getTitulo(); ?></span>
                        </div>-->
                        <div class="col-data">
                            <span><?= $compromisso->getHorainicio(); ?></span>
                        </div>
                        <div class="col-data">
                            <span><?= $compromisso->getHorafim(); ?></span>
                        </div>
                        <div class="col-info text-center">
                             <span data-rel="<?= $compromisso->getId(); ?>" class="btn btn-big btn-add btn-del excluir-compromisso"></span>
                        </div>
                    </div>
                <? } ?>
            </div>
        </div>

        <div class="widgets-container">
            <a href="/minha-conta" class="btn btn-big btn-escuro">VOLTAR</a>
        </div>

<?= $paginacao; ?>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
