<?php
/*
 * @var $app \Codando\App
 * @var $this \Codando\System\Template
 * @var $anfitriao \Codando\Modulo\Anfitriao
 * @fazer: terminar
 */

$this->display('header', array('menuCurrent' => $menuCurrent));
?>


<section class="form-generic minha-agenda" data-controller="compromisso">
    <header class="title-section-container">
        <h1 class="title-section">Entrevistas</h1>
    </header>

    <p class="text-sub">Nesta sessão será possível acompanhar todas entrevistas</p>

    <div class="container" id='reservas'>
        <div class="lista-wrapper">
            <div class="table-header">
                <div class="col-data">
                    <span>Data</span>
                </div>
                 <div class="col-data">
                    <span>Hora</span>
                </div>
                <div class="col-data">
                    <span>Nome</span>
                </div>
                <div class="col-data">
                    <span>Telefone</span>
                </div>
                <div class="col-data">
                    <span>E-mail</span>
                </div>
                <div class="col-status">
                    <span></span>
                </div>
            </div>

            <div class="table-body">
                <?php
                /* @var $anfitriaoTemp \Codando\Modulo\Anfitriao */
                foreach ((array) $anfitriaoList as $anfitriaoTemp) {
                    ?>
                    <div data-id="<?= $anfitriaoTemp->getId(); ?>" class="table-row">
                        <div class="table-column-name">

                            <div class="col-data">
                                <span>Data</span>
                            </div>
                            <div class="col-data">
                                <span>Hora</span>
                            </div>
                            <div class="col-data">
                                <span>Nome</span>
                            </div>
                            <div class="col-data">
                                <span>Telefone</span>
                            </div>
                            <div class="col-data">
                                <span>E-mail</span>
                            </div>
                            <div class="col-status">
                                <span></span>
                            </div>
                        </div>
                        <div class="col-data">
                            <span><?= $anfitriaoTemp->getDataentrevista(); ?></span>
                        </div>
                        <div class="col-data">
                            <span><?= $anfitriaoTemp->getHoraentrevista(); ?></span>
                        </div>
                        <div class="col-data">
                           <span><?= $anfitriaoTemp->getNome(); ?></span>
                        </div>
                        <div class="col-data">
                            <span><?=$anfitriaoTemp->getCelular(); ?></span>
                        </div>
                        <div class="col-data">
                            <span><?=$anfitriaoTemp->getEmail(); ?></span>
                        </div>
                        <div class="col-info text-center">
                             <!--<span data-rel="<?= $anfitriaoTemp->getId(); ?>" class="btn btn-big btn-add btn-del excluir-compromisso"></span>-->
                        </div>
                    </div>
                <? } ?>
            </div>
        </div>

        <div class="widgets-container">
            <a href="/minha-conta" class="btn btn-big btn-escuro">VOLTAR</a>
        </div>

<?= $paginacao; ?>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
