<?php

/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */
if(isset($_GET['fancybox']) == false)
$this->display('header', array('menuCurrent' => 'login'));

?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Identificação</h1>
    </header>
    <p class="text-sub">Preencha os campos para acessar o seu ambiente restrito.</p>
    <div class="container">
        <div class="form-container identificacao">
            <form data-action="/identificacao" data-controller="form|login">
                <span class="feedback c-white"></span>
                
                <label for="login" class="none">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="E-mail *" required>

                <label for="senha" class="none">Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha *" required>
                
                <div id="tipo" class="select-personalizado">
                    <span class="label">Entrar como?</span>
                    <i class="seta"></i>
                    <select id="tipo" name="tipo" placeholder="Entrar como?" class="selected" required>
                        <option value="" class="primeiro">Entrar como?</option>
                        <option value="1">Anfitrião</option>
                        <option value="2">Hóspede</option>
                    </select>
                </div>
                
                <div class="wrapper">
                    <a href="#esqueci-senha" class="text-italic link-es">Esqueci minha senha</a>
                    <span class="text-italic">É a minha primeira vez aqui.<br>
                        <a href="/cadastre-se">Quero me cadastrar!</a>
                    </span>
                </div>
                
                <div class="wrapper">
                    <button type="submit" class="btn-icon btn-icon-flecha">Entrar</button>
                    <a id="btn-facebook" class="btn-icon btn-icon-facebook">Entrar com facebook</a>
                </div>
                <span class="text-italic">** Não publicaremos nada em seu Facebook, serve apenas para acesso rápido.</span>
            </form>
        </div>
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?php
if(isset($_GET['fancybox']) == false)
$this->display('footer', array('menuCurrent' => 'login'));