<?php
/*
 * @var $app \Codando\App
 * @var $this \Codando\System\Template
 * @var $anfitriao \Codando\Modulo\Anfitriao
 */

/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

$modalidade_id = array();
$modalidadecount = count($anfitriaomodalidade);

/* @var $anfmodalidade \Codando\Modulo\Anfitriaomodalidade */
foreach ($anfitriaomodalidade as $anfmodalidade) {
   $modalidade_id[] =  $anfmodalidade->getModalidade()->getId();
}

$this->display('header', array('menuCurrent' => 'meu_perfil'));
?>

<section class="form-generic meu-perfil">
    <header class="title-section-container">
        <h1 class="title-section">Meu Perfil</h1>
    </header>

    <p class="text-sub">Preencha os campos abaixo para realizar o cadastro do seu perfil na DogSafe</p>

    <div class="container">
        <form data-action="/meu-perfil" data-controller="form|meuperfil" class="form-container">
            <div class="form-wrapper">
                <div class="dados-usuario">
                    <span><span>CPF:</span> <?= $anfitriao->getCpf(); ?></span>
                    <span><span>NOME COMPLETO:</span> <?= $anfitriao->getNome(); ?> <a href="/editar-anfitriao">(Editar Cadastro)</a></span>
                </div>
                <div class="feedback"></div>
                <div class="input-holder">
                    <label for="modalidade" class="none">TIPO DE ATIVIDADE FORNECIDA *</label>
                    <div class="select-personalizado">
                        <span class="label">TIPO DE ATIVIDADE FORNECIDA *</span>
                        <i class="seta"></i>
                        <select id="modalidade" data-toggle="tooltip" data-placement="top" title="TIPO DE ATIVIDADE FORNECIDA *" name="id_modalidade" class="selected">
                            <option value="1" <?= $modalidadecount === 1 && $modalidade_id[0] == 1 ? ' selected':NULL; ?>>Hospedagem</option>
                            <option value="2" <?= $modalidadecount === 1 && $modalidade_id[0] == 2 ? ' selected':NULL; ?>>Daycare</option>
                            <option value="3" <?= $modalidadecount === 2 ? ' selected':NULL; ?>>Hospedagem e Daycare</option>
                        </select>
                    </div>

                    <label for="valordiariahospedagem" class="none">VALOR DA DIÁRIA HOSPEDAGEM *</label>
                    <input type="text" id="valordiariahospedagem" data-decimal name="valordiariahospedagem" class="form-control" value="<?= $anfitriao->getValordiariahospedagem() > 0 ? $anfitriao->getValordiariahospedagem() : NULL; ?>" placeholder="VALOR DA DIÁRIA HOSPEDAGEM *" disabled/>

                    <label for="valordiariadaycare" class="none">VALOR DA DIÁRIA DAYCARE *</label>
                    <input type="text" id="valordiariadaycare" data-decimal name="valordiariadaycare" class="form-control" value="<?= $anfitriao->getValordiariadaycare() > 0 ? $anfitriao->getValordiariadaycare():NULL; ?>" placeholder="VALOR DA DIÁRIA DAYCARE *" disabled/>
                </div>

                <div class="input-holder">
                    <label for="qthospede" class="none">DISPONIBILIDADE PARA QUANTOS HÓSPEDES? *</label>
                    <div class="select-personalizado">
                        <span class="label big">DISPONIBILIDADE PARA QUANTOS HÓSPEDES? *</span>
                        <i class="seta"></i>
                        <select id="qthospede" name="qthospede" data-toggle="tooltip" data-placement="top" title="DISPONIBILIDADE PARA QUANTOS HÓSPEDES? *" placeholder="QUANTOS HÓSPEDES *" class="selected" required>
                            <? for ($hs = 1; $hs < 7; ++$hs) { ?>
                            <option value="<?= $hs ?>" <?= $hs == $anfitriao->getQthospede() ? ' selected':NULL ?>><?= $hs ?> Hóspedes</option>
                            <? } ?> 
                        </select>
                    </div>

                    <label for="horassupervisao" class="none">HORAS DE SUPERVISÃO *</label>
                    <div class="select-personalizado">
                        <span class="label">HORAS DE SUPERVISÃO *</span>
                        <i class="seta"></i>
                        <select id="horassupervisao" data-toggle="tooltip" data-placement="top" title="HORAS DE SUPERVISÃO *" name="horassupervisao" class="selected">
                            <? for ($hsup = 0; $hsup < 20; ++$hsup) { ?>
                                <option value="<?= $hsup ?>" <?= $hsup == $anfitriao->getHorassupervisao() ? ' selected':NULL ?>><?= $hsup ?> Horas</option>
                            <? } ?> 
                        </select>
                    </div>

                    <label for="cancelamento" class="none">Qual tipo de Cancelamento você aceita do hóspede *</label>
                    <div class="select-personalizado" style="width: 228px;">
                        <span class="label">Qual tipo de Cancelamento você aceita do hóspede *</span>
                        <i class="seta"></i>
                        <select id="cancelamento" data-toggle="tooltip" data-placement="top" title="Qual tipo de Cancelamento você aceita do hóspede *" name="id_cancelamento" class="selected">
                            <?php
                            /* @var $cancelamento \Codando\Modulo\Cancelamento */
                            foreach ($cancelamentoList as $cancelamento) {
                            ?>
                            <option data-title="<?= strip_tags( $cancelamento->getDescricao()) ?>" value="<?= $cancelamento->getId(); ?>" <?= $cancelamento->isEquals($anfitriao->getCancelamento()) ? ' selected':NULL ?>><?= $cancelamento->getTitulo() ?></option>
                            <? } ?>
                        </select>
                        <span class="info-icon" data-toggle="tooltip" data-placement="top" title="Tipo de Cancelamento"></span>
                    </div>
                </div>

                <div class="input-holder big">
                    <div class="input-wrapper">
                        <label for="ambiente" class="none">TIPO DE AMBIENTE *</label>
                        <div class="select-personalizado">
                            <span class="label">TIPO DE AMBIENTE *</span>
                            <i class="seta"></i>
                            <select id="ambiente" data-toggle="tooltip" data-placement="top" title="TIPO DE AMBIENTE *" name="id_ambiente" class="selected">
                                <?php
                                /* @var $ambiente \Codando\Modulo\Ambiente */
                                foreach ($ambienteList as $ambiente) {
                                ?>
                                <option value="<?= $ambiente->getId(); ?>" <?= $ambiente->isEquals($anfitriao->getAmbiente()) ? ' selected':NULL ?>><?= $ambiente->getTitulo() ?></option>
                                <? } ?>
                            </select>
                        </div>

                        <label for="qtdanimais" class="none">POSSUI ANIMAIS? QUANTOS? *</label>
                        <div class="select-personalizado s-qtd-animais">
                            <span class="label">POSSUI ANIMAIS? QUANTOS? *</span>
                            <i class="seta"></i>
                            <select id="qtdanimais" name="qtdanimais" data-toggle="tooltip" data-placement="top" title="POSSUI ANIMAIS? QUANTOS? *" class="selected">
                                <option value="0" <?= 0 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>0</option>
                                <option value="1" <?= 1 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>1</option>
                                <option value="2" <?= 2 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>2</option>
                                <option value="3" <?= 3 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>3</option>
                                <option value="4" <?= 4 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>4</option>
                                <option value="5" <?= 5 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>5</option>
                                <option value="6" <?= 6 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>6</option>
                                <option value="7" <?= 7 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>7</option>
                                <option value="8" <?= 8 == $anfitriao->getQtdanimais() ? ' selected':NULL ?>>8</option>
                            </select>
                        </div>

                    </div>

                    <div class="input-wrapper">
                        <label for="sobre" class="none">ESCREVA UM POUCO A SEU RESPEITO *</label>
                        <textarea type="text" id="sobre" name="sobre" class="form-control" placeholder="ESCREVA UM POUCO A SEU RESPEITO *">
                            <?= $anfitriao->getSobre() == NULL ? 'Escreva um pouco a seu respeito':$anfitriao->getSobre(); ?>
                        </textarea>
                    </div>
                </div>

                <div id="animais" class="input-holder hide">
                    <span class="desc">ANIMAIS</span>
                    
                    <div class="input-wrapper tmpl">
                        <input type="text" style="width: 70px;" class="form-control posicao" value="1º " disabled>
                        <label class="none">TAMANHO DO PET</label>
                        <div class="select-personalizado">
                            <span class="label">TAMANHO DO PET</span>
                            <i class="seta"></i>
                            <select name="tamanhopet[]" data-toggle="tooltip" data-placement="top" title="TAMANHO DO PET" class="selected">
                                <option value=""></option>
                               <?php
                                /* @var $tamanhopet \Codando\Modulo\Tamanhopet */
                                foreach ((array)$tamanhopetList as $tamanhopet) {
                                ?>
                                <option value="<?= $tamanhopet->getId(); ?>"><?= $tamanhopet->getTitulo() ?></option>
                                <? } ?>
                            </select>
                        </div>
                        
                        <label class="none">SEXO</label>
                        <div class="select-personalizado">
                            <span class="label">SEXO</span>
                            <i class="seta"></i>
                            <select name="sexo[]" class="selected">
                                <option value=""></option>
                                <option value="1">MACHO</option>
                                <option value="2">FÊMEA</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <?php
                    $countPeta = 0;
                    /* @var $petanf \Codando\Modulo\Petanfitriao */
                    foreach ((array)$petanfitriao as $petanf) {
                    ?>
                    <div class="input-wrapper">
                        <input type="text" style="width: 70px;" class="form-control posicao" value="<?=++$countPeta;?>º " disabled>
                        <label class="none">TAMANHO DO PET</label>
                        <div class="select-personalizado">
                            <span class="label">TAMANHO DO PET</span>
                            <i class="seta"></i>
                            <select name="tamanhopet[]" data-toggle="tooltip" data-placement="top" title="TAMANHO DO PET" class="selected">
                                <option value=""></option>
                               <?php
                                /* @var $tamanhopet \Codando\Modulo\Tamanhopet */
                                foreach ($tamanhopetList as $tamanhopet) {
                                ?>
                                <option value="<?= $tamanhopet->getId(); ?>" <?= $tamanhopet->isEquals($petanf->getTamanhopet()) ? " selected":NULL; ?>><?= $tamanhopet->getTitulo() ?></option>
                                <? } ?>
                            </select>
                        </div>
                        
                        <label class="none">SEXO</label>
                        <div class="select-personalizado">
                            <span class="label">SEXO</span>
                            <i class="seta"></i>
                            <select name="sexo[]" class="selected">
                                <option value=""></option>
                                <option value="1"<?= $petanf->getSexo() == 1 ? " selected":NULL; ?>>MACHO</option>
                                <option value="2"<?= $petanf->getSexo() == 2 ? " selected":NULL; ?>>FEMEA</option>
                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <? } ?>
                    
                </div>
                
                <div class="checkbox-content">
                    <span class="desc">HABILIDADES</span>

                    <div class="checkbox-container">
                        <div class="input-holder">
                            <label for="admmedicacaooral" class="none">Administração de medicação oral</label>
                            <div class="select-personalizado">
                                <span class="label">Administração de medicação oral</span>
                                <i class="seta"></i>
                                <select id="admmedicacaooral" data-toggle="tooltip" data-placement="top" title="Administração de medicação oral" name="admmedicacaooral" class="selected">
                                    <option value="">Administração de medicação oral</option>
                                    <option value="1" <?= 1 == $anfitriao->getAdmmedicacaooral() ? ' selected':NULL ?>>SIM</option>
                                    <option value="2" <?= 2 == $anfitriao->getAdmmedicacaooral() ? ' selected':NULL ?>>NÃO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
                
                <span class="desc">PREFERÊNCIA DE HOSPEDAGEM:</span>

                <div class="input-holder">
                    <label for="tamanhopet" class="none">PESO DO PET *</label>
                    <div class="select-personalizado">
                        <span class="label">PESO DO PET *</span>
                        <i class="seta"></i>
                        <select name="id_tamanhopet" data-toggle="tooltip" data-placement="top" title="PESO DO PET *" class="selected">
                            <option value=""></option>
                           <?php
                            /* @var $tamanhopet \Codando\Modulo\Tamanhopet */
                            foreach ($tamanhopetList as $tamanhopet) {
                            ?>
                                <option value="<?= $tamanhopet->getId(); ?>" <?= $tamanhopet->isEquals($anfitriao->getTamanhopet()) ? ' selected':NULL ?>><?= $tamanhopet->getTitulo() ?></option>
                            <? } ?>
                        </select>
                    </div>
          
                    <label for="aceitamf" class="none">ACEITA FÊMEA E MACHO? *</label>
                    <div class="select-personalizado">
                        <span class="label">ACEITA FÊMEA E MACHO? *</span>
                        <i class="seta"></i>
                        <select id="aceitamf" name="aceitamf" data-toggle="tooltip" data-placement="top" title="ACEITA FÊMEA E MACHO? *" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getAceitamf() == 1 ? ' selected':NULL ?>>SIM</option>
                            <option value="2" <?= $anfitriao->getAceitamf() == 2 ? ' selected':NULL ?>>NÃO</option>
                        </select>
                    </div>

                    <label for="qualsexo" class="none">CASO OPTE PELO NÃO, QUAL O SEXO? </label>
                    <div class="select-personalizado" data-disabled>
                        <span class="label big">CASO OPTE PELO NÃO, QUAL O SEXO? </span>
                        <i class="seta"></i>
                        <select id="qualsexo" name="qualsexo" data-toggle="tooltip" data-placement="top" title="CASO OPTE PELO NÃO, QUAL O SEXO? *" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getQualsexo() == 1 ? ' selected':NULL ?>>Macho</option>
                            <option value="2" <?= $anfitriao->getQualsexo() == 2 ? ' selected':NULL ?>>Fêmea</option>
                        </select>
                    </div>
                </div>

                <div class="input-holder">
                    <label for="medicacaooral" class="none">ACEITA ANIMAIS QUE TOMAM MEDICAÇÃO ORAL? *</label>
                    <div class="select-personalizado">
                        <span class="label big">ACEITA ANIMAIS QUE TOMAM MEDICAÇÃO ORAL? *</span>
                        <i class="seta"></i>
                        <select id="medicacaooral" name="medicacaooral" data-toggle="tooltip" data-placement="top" title="ACEITA ANIMAIS QUE TOMAM MEDICAÇÃO ORAL? *" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getMedicacaooral() == 1 ? ' selected':NULL ?>>SIM</option>
                            <option value="2" <?= $anfitriao->getMedicacaooral() == 2 ? ' selected':NULL ?>>NÃO</option>
                        </select>
                    </div>

                    <label for="aceitapetsidade" class="none">ACEITA PET DE TODAS AS IDADES? </label>
                    <div class="select-personalizado">
                        <span class="label big">ACEITA PET DE TODAS AS IDADES? </span>
                        <i class="seta"></i>
                        <select id="aceitapetsidade" data-toggle="tooltip" data-placement="top" title="ACEITA PET DE TODAS AS IDADES?" name="aceitapetsidade" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getAceitapetsidade() == 1 ? ' selected':NULL ?>>SIM</option>
                            <option value="2" <?= $anfitriao->getAceitapetsidade() == 2 ? ' selected':NULL ?>>NÃO</option>
                        </select>
                    </div>

                    <label for="qualidade" class="none">CASO OPTE PELO NÃO, QUAL IDADE ACEITA?</label>
                    <div class="select-personalizado" data-disabled>
                        <span class="label big">CASO OPTE PELO NÃO, QUAL IDADE ACEITA?</span>
                        <i class="seta"></i>
                        <select id="qualidade" data-toggle="tooltip" data-placement="top" title="CASO OPTE PELO NÃO, QUAL IDADE ACEITA?" name="qualidade" class="selected">
                            <option value="1" <?= $anfitriao->getQualidade() == 1 ? ' selected':NULL ?>>1</option>
                            <option value="2" <?= $anfitriao->getQualidade() == 2 ? ' selected':NULL ?>>2</option>
                            <option value="3" <?= $anfitriao->getQualidade() == 3 ? ' selected':NULL ?>>3</option>
                            <option value="4" <?= $anfitriao->getQualidade() == 4 ? ' selected':NULL ?>>4</option>
                            <option value="5" <?= $anfitriao->getQualidade() == 5 ? ' selected':NULL ?>>5</option>
                            <option value="6" <?= $anfitriao->getQualidade() == 6 ? ' selected':NULL ?>>6</option>
                            <option value="7" <?= $anfitriao->getQualidade() == 7 ? ' selected':NULL ?>>7</option>
                            <option value="8" <?= $anfitriao->getQualidade() == 8 ? ' selected':NULL ?>>8</option>
                            <option value="99" <?= $anfitriao->getQualidade() == 8 ? ' selected':NULL ?>>8+</option>
                        </select>
                    </div>
                </div>

                <label for="animalespecial" class="none">ACEITA ANIMAIS QUE REQUEREM ALGUM TIPO DE CUIDADO ESPECIAL? *</label>
                <div class="select-personalizado select-big">
                    <span class="label">ACEITA ANIMAIS QUE REQUEREM ALGUM TIPO DE CUIDADO ESPECIAL? *</span>
                    <i class="seta"></i>
                    <select id="animalespecial" name="animalespecial" data-toggle="tooltip" data-placement="top" title="ACEITA ANIMAIS QUE REQUEREM ALGUM TIPO DE CUIDADO ESPECIAL? *" class="selected">
                        <option value=""></option>
                        <option value="1" <?= $anfitriao->getAnimalespecial() == 1 ? ' selected':NULL ?>>SIM</option>
                        <option value="2" <?= $anfitriao->getAnimalespecial() == 2 ? ' selected':NULL ?>>NÃO</option>
                    </select>
                </div>

                <span class="desc">DIFERENCIAL:</span>

                <div class="input-holder">
                    <label for="providenciaracao" class="none">PROVIDENCIA A RAÇÃO PARA O HÓSPEDE?</label>
                    <div class="select-personalizado">
                        <span class="label big">PROVIDÊNCIA A RAÇÃO PARA O HÓSPEDE?</span>
                        <i class="seta"></i>
                        <select id="providenciaracao" data-toggle="tooltip" data-placement="top" title="PROVIDÊNCIA A RAÇÃO PARA O HÓSPEDE?" name="providenciaracao" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getProvidenciaracao() == 1 ? ' selected':NULL ?>>SIM</option>
                            <option value="2" <?= $anfitriao->getProvidenciaracao() == 2 ? ' selected':NULL ?>>NÃO</option>
                        </select>
                    </div>

                    <label for="caminhapote" class="none">POSSUI CAMINHA, POTES PARA O HÓSPEDE?</label>
                    <div class="select-personalizado">
                        <span class="label big">POSSUI CAMINHA, POTES PARA O HÓSPEDE?</span>
                        <i class="seta"></i>
                        <select id="caminhapote" name="caminhapote" data-toggle="tooltip" data-placement="top" title="POSSUI CAMINHA, POTES PARA O HÓSPEDE?" class="selected">
                            <option value=""></option>
                            <option value="1" <?= $anfitriao->getCaminhapote() == 1 ? ' selected':NULL ?>>SIM</option>
                            <option value="2" <?= $anfitriao->getCaminhapote() == 2 ? ' selected':NULL ?>>NÃO</option>
                        </select>
                    </div>

                    <div class="small">
                        <label for="buscaleva" class="none">BUSCA E LEVA O HÓSPEDE</label>
                        <div class="select-personalizado">
                            <span class="label big">BUSCA E LEVA O HÓSPEDE</span>
                            <i class="seta"></i>
                            <select id="buscaleva" name="buscaleva" data-toggle="tooltip" data-placement="top" title="BUSCA E LEVA O HÓSPEDE" class="selected">
                                <option value=""></option>
                                <option value="1" <?= $anfitriao->getBuscaleva() == 1 ? ' selected':NULL ?>>SIM</option>
                                <option value="2" <?= $anfitriao->getBuscaleva() == 2 ? ' selected':NULL ?>>NÃO</option>
                            </select>
                        </div>

                        <label for="buscakm" class="none">KM</label>
                        <input type="text" id="buscakm" name="buscakm" value="<?= $anfitriao->getBuscakm(); ?>" data-toggle="tooltip" data-placement="top" title="BUSCA EM ATÉ" class="form-control" placeholder="KM" disabled>
                    </div>
                </div>

                <div class="btn-wrapper">
                    <div class="text-container feedback">
                        <span>Ao realizar o cadastro do seu Pet, você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
                    </div>

                    <div class="btn-content">
                        <button type="submit" class="btn-icon btn-icon-flecha">ATUALIZAR PERFIL</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="text-sub">
            <span class="text"><i class="sprite i-pata-small"></i>Lembramos que nós da DogSafe recomendamos fortemente a carteira de vacinação atualizada, uso de anti-pulgas e carrapatos além de vacina ou coleira contra Leishmaniose para regiões afetadas.</span>
        </div>

        <div class="widgets-container">
            <a href="/minha-conta" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => 'meu_perfil'));
