<?php
/*
 * @var $app \Codando\App
 * @var $this \Codando\System\Template
 * @fazer: terminar
 */

/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

$this->display('header', array('menuCurrent' => $menuCurrent));

?>


<section class="form-generic minha-agenda" data-anfitriao="<?= input()->getSession('logadoanfitriao') ?>" data-controller="minhaagenda" >
    <header class="title-section-container">
        <h1 class="title-section">Minha Agenda / Reservas</h1>
    </header>

    <p class="text-sub">Nesta sessão será possível gerenciar a sua agenda e acompanhar todas as informações das reservas realizadas em nosso site</p>

    <div class="container">

        <div class="bloco-calendario">
            <div class="box-agenda">
                <span class="title-page">GERENCIE SUA AGENDA</span>

                <div class="calendario-wrapper">
                    <div class="calendario" id="datepicker"></div>
                </div>

                <div class="wrapper">
                    <span class="disponivel">Anfitrião disponível</span>
                    <span class="indisponivel">Anfitrião indisponível</span>
                </div>
            </div>
            <div class="box-form">
                <span class="title-page">Bloqueie as datas e horários em que não poderá receber um hóspede</span>

                <form data-controller="form" data-action="/compromisso">
                    <span class="feedback c-white"></span>
                    <input type="hidden" id="titulo" name="titulo" placeholder="Título" value="Titulo" required>
<!--                    <label for="titulo" class="none">Título</label>
                    <input type="text" id="titulo" name="titulo" placeholder="Título" class="form-control" required>-->

                    <label for="data" class="none">Data do Evento</label>
                    <div class="input-icon input-icon-calendar">
                        <input type="text" id="data" name="data" placeholder="Data do Evento" class="form-control" data-datepicker required>
                    </div>

                    <div class="horarios-wrapper">
                        <label class="none">Horário</label>
                        <input type="text" name="horainicio" data-mask="99:99" placeholder="De" class="form-control icon-time" required>

                        <label class="none">Horário</label>
                        <input type="text" name="horafim" data-mask="99:99" placeholder="Até" class="form-control icon-time flag" required>
                    </div>

                    <button type="submit" class="btn-icon btn-icon-flecha">cadastrar</button>
                </form>
                <div class="wrapper meus-compromisso">
                    <a href="/meus-compromisso" style="font-weight: bold">Será possível acompanhar todos os seus compromisso pessoais</a>
                </div>
            </div>
        </div>

        <span class="title-page">RESERVAS DO SITE</span>

        <div id="reservas" class="lista-wrapper">
            <div class="table-header">
                <div class="col-data">
                    <span>Reserva</span>
                </div>

                <div class="col-pet">
                    <span>Pet</span>
                </div>
                <div class="col-hospede">
                    <span>Tutor</span>
                </div>
                <div class="col-valor">
                    <span>Valor</span>
                </div>
                <div class="col-status">
                    <span>Status</span>
                </div>
                <div class="col-info">
                    <span>Info</span>
                </div>                
            </div>
            <?php
            /* @var $reserva \Codando\Modulo\Reserva */
            foreach ($reservaList as $reserva) {

                /* @var $cadastro \Codando\Modulo\Cadastro */
                $cadastro = $reserva->getCadastro();

                $reservapetList = app()->listModulo('reservapet', array(' id_reserva = :id ', array('id' => $reserva->getId())));
                $labelPet = array();
                
                /* @var $reservapet \Codando\Modulo\Reservapet */
                foreach ($reservapetList as $reservapet) {

                    /* @var $pet \Codando\Modulo\Pet */
                    $pet = $reservapet->getPet();
                    $labelPet[] = $pet->getNome();
                }
                
                ?>
                <div class="table-body" data-id="<?=$reserva->getId(); ?>">
                    <div class="table-row">
                        <div class="table-column-name">
                            <div class="col-data">
                                <span>Reserva</span>
                            </div>

                            <div class="col-pet">
                                <span>Pet</span>
                            </div>
                            <div class="col-hospede">
                                <span>Tutor</span>
                            </div>
                            <div class="col-valor">
                                <span>Valor</span>
                            </div>
                            <div class="col-status">
                                <span>Status</span>
                            </div>
                            <div class="col-info">
                                <span>Info</span>
                            </div>
                            
                        </div>

                        <div class="col-data">
                            <span><?= $reserva->getDatainicio(); ?><?= is_null($reserva->getDatafim()) == false ? ' a '.$reserva->getDatafim():NULL;  ?></span>
                        </div>
              
                        <div class="col-pet">
                            <span><?= implode(', ', $labelPet); ?></span>
                        </div>
                        <div class="col-hospede">
                            <span><?= str()->truncate($cadastro->getNome(), 20); ?></span>
                        </div>
                        
                        <div class="col-valor">
                            <span>R$ <?= $reserva->getValor(); ?></span>
                        </div>
 
                        <div class="col-status">
                            <?php
                            
                                switch ($reserva->getStatus()) {
                                    case 1:
                                        echo '<a class="confirmada btn-info">Confirmar Reserva</a>';
                                    break;
                                    case 2: //ta confirmada
                                    case 3: //aguardando
                                        echo '<a class="aguardando btn-info">Aguardando Pagamento</a>';
                                    break;
                                    case 4:
                                        echo '<a class="paga confirmada btn-info">Paga</a>';
                                    break;
                                    case 5:
                                        echo '<a class="concluida btn-info">Hospedagem Concluída</a>';
                                    break;
                                    case 6:
                                        echo '<a class="cancelada btn-info" data-toggle="tooltip" data-placement="top" title="Verifique as políticas de cancelamento em termos de uso">Cancelada</a>';
                                    break;
                                    case 7:
                                        echo '<a class="confirmada btn-info">Aguardando Paypal</a>';
                                    break;
                                }
                                
                            ?>                     
                        </div>
                        <div class="col-info">
                            <span class="btn btn-big btn-add"></span>
                        </div>
                        <div class="detalhes-pet">
                          
                            <?php

                                switch ($reserva->getStatus()){
                                    case 1:
                                        echo '<span class="titulo"><a class="confirmar">Confirmar Reserva</a> <a class="recusar">Recusar Reserva</a></span>';
                                    break;
                                    case 4:
                                        echo '<span class="titulo"><a class="cancelada" data-toggle="tooltip" data-placement="top" title="Verifique as políticas de cancelamento em termos de uso">Cancelar Reserva</a></span>';
                                    break;
                                }
                                
                                
                                
                            if($reserva->getStatus() != 6){
                            ?>

                            
                            <span class="titulo">Detalhes do pagamento</span>
                            <div class="info-wrapper">
                                <? if(is_null($reserva->getDatapagamento()) === false){?>
                                <div class="wrapper">
                                    <span class="strong">Data do pagamento: </span> <?= $reserva->getDatapagamento(); ?>
                                </div>
                                <? } ?>
                                <div class="wrapper">
                                    <span class="strong">Valor a receber: </span> R$ <?= number_format((float) ($reserva->getValor(false) - (($reserva->getValor(false) * 25) / 100)), 2, ",", ".");  ?> (descontado 25% da DOGSAFE)
                                </div>
                                <div class="wrapper">
                                    <span class="strong">Valor total da reserva: </span> R$ <?= $reserva->getValor(); ?>
                                </div>
                                <? if($reserva->getStatus() == 4){?>
                                <div class="wrapper">
                                    O depósito ocorrerá no 3° dia após a finalização da hospedagem ou daycare.
                                </div>
                                <? } ?>
                            </div>
                            <? } ?>
                            
                            <span class="titulo">Detalhes do pet</span>

                            <?php
                            /* @var $reservapet \Codando\Modulo\Reservapet */
                            foreach ($reservapetList as $reservapet){

                                /* @var $pet \Codando\Modulo\Pet */
                                $pet = $reservapet->getPet();
                                ?>
                                <div class="info-wrapper">
                                    <div class="wrapper">
                                        <span class="strong">Nome: </span><?= $pet->getNome(); ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Tipo: </span><?= $pet->getTipo() == 1 ? 'Cachorro':'Gato' ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Idade: </span><?= $pet->getIdade(); ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Tamanho: </span><?= $pet->getTamanhopet(); ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Raça: </span><?= $pet->getRaca(); ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Castrado: </span><?= $pet->getCastrado() ? 'Sim':'Não' ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Possui Alergia?: </span><?= $pet->getAlergia(); ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Faz uso de medicação: </span><?= $pet->getMedicacao() == 1 ? 'Sim':'Não'; ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Requer cuidado especial: </span><?= $pet->getReqcuidado() == 1 ? 'Sim':'Não'; ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Carteira de vacinação atualizada com a antirrábica?: </span><?= $pet->getCarteira() == 1 ? 'Sim':'Não'; ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Fez uso recente de anti pulgas e carrapatos?: </span><?= $pet->getRapaticidapulga() == 1 ? 'Sim':'Não'; ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Possui vacina ou fez uso de coleira de Leishmaniose?: </span><?= $pet->getRegleishmaniose() == 1 ? 'Sim':'Não'; ?>
                                    </div>
                                    <div class="wrapper">
                                        <span class="strong">Fale um pouco sobre o seu cãozinho?: </span><?= $pet->getSobre() ?>
                                    </div>
                                </div>
                            <?php } ?>

                            <div class="horarios">
                                <div class="wrapper">
                                    <span class="strong">Horário de Entrega do Pet(s) ao Anfitrião: </span><?= $reserva->getHoradeixar() ?>
                                </div>
                                <div class="wrapper">
                                    <span class="strong">Horário de Busca do Pet(s) pelo Hóspede: </span><?= $reserva->getHorabuscar(); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>

        </div>
        <?= $paginacao; ?>
    </div>
</section>


<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
