<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$countreserva = $countconversa = 0;

$lastlogincadastro = input()->getSession('lastlogincadastro');
$logadocadastro = input()->getSession('logadocadastro');

if($lastlogincadastro != null && $logadocadastro > 0){
    $datacadastro = current( @explode('in', end( @explode('@', $lastlogincadastro) ) ) );

}

$lastloginanfitriao = input()->getSession('lastloginanfitriao');
$logadoanfitriao = input()->getSession('logadoanfitriao');

if($lastloginanfitriao != null && $logadoanfitriao > 0){
    
    $dataanfitriao = current( @explode('in', end( @explode('@', $lastlogincadastro) ) ) );
    $countreserva = app()->countModulo('reserva', array(' id_anfitriao = :id AND datacadastro >= :dataanfitriao ', array('id' => $logadoanfitriao, 'dataanfitriao' => $dataanfitriao)));
    $countconversa = app()->countModulo('chatconversa', array(' tipo = 1 AND data > :dataanfitriao AND id_chat IN ( SELECT h.id_chat FROM chat h WHERE h.id_anfitriao = :ref ) ', array('ref' => $logadoanfitriao, 'dataanfitriao' => $dataanfitriao)));
}

$this->display('header', array('menuCurrent' => 'minhaconta'));
?>

<section class="form-generic minha-conta-anfitriao">
    <header class="title-section-container">
        <h1 class="title-section">Minha Conta</h1>
    </header>
    
    <? if($logadoanfitriao > 0){ ?>
        <p class="text-sub">Aqui é o seu ambiente restrito, onde você poderá completar os dados do seu perfil e gerenciar reservas</p>
    <? } ?>
    
    <div class="container">
        <div class="form-container">
            <div class="usuario">
                <span class="nome">Oi, <span><?= ucwords( input()->getSession('nome') ); ?></span></span>
                <span>Seja bem-vindo a Dog Safe</span>
                <?php
                if($countReserva >= 1 && $countDepoimento < 1){
                ?>
                <div class="texto-depoimento">
                    Notamos que você utilizou a Dogsafe, caso queira deixa um depoimento<br>
                    <a class="link" data-rel="fancybox-depoimento" rel="fancybox-depoimento" href="#depoimento">Clique aqui</a>
                </div>
                <?php } ?>
            </div>

            <nav class="nav-generic">
                <ul>
                  
                    <? if(input()->getSession('anfitriao.status') == 1){ ?>
                        <li>
                            <a href="<?= input()->getSession('anfitriao.url') ?>">Perfil</a>
                        </li>
                    <? } ?>
                        
                    <? if(ANF_ENTR == input()->getSession('logadoanfitriao')){ ?>
                        <li>
                            <a href="/entrevistas">Entrevistas</a>
                        </li>
                    <? } ?>

                    <? if (input()->getSession('logadoanfitriao') > 0) { ?>
                        <li>
                            <a href="/meu-perfil">Ficha detalhada de perfil</a>
                        </li>
                    <? } ?>
                        
                    <? if(input()->getSession('anfitriao.status') == 2){ ?>
                        <li>
                            <a href="/remarcaentrevista-anfitriao">Remarcar Entrevista</a>
                        </li>
                    <? } ?>
                        
                    <? if (input()->getSession('logadocadastro') > 0) { ?>
                        <li><a href="/meu-cadastro">Atualizar Cadastro</a></li>

                        <li><a href="/meus-pets">Meu Pets</a></li>

                        <li><a href="/minhas-reservas">Minhas Reservas</a></li>
                    <? } ?>
                        
                    <? if (input()->getSession('logadoanfitriao') > 0) { ?>
                        <li>
                            <a href="/minha-agenda">Minha Agenda / Reservas</a>
                            <? if($countreserva  > 0){ ?>
                            <span class="contador"><?= $countreserva; ?></span>
                        <? } ?>
                        </li>
                    <? } ?>
                        
                    <li>
                        <a href="/chat">Chat</a>
                        <? if($countconversa  > 0){ ?>
                            <span class="contador"><?= $countconversa; ?></span>
                        <? } ?>
                    </li>
                    <li><a href="/sair" class="link-sair">Sair do sistema</a></li>
                </ul>
            </nav>
        </div>
        <? if (input()->getSession('logadoanfitriao') > 0) { ?>
        <p class="text-sub">Lembre-se, o dono do cãozinho aguarda a sua confirmação para seguir com a reserva e pagamento. Confirme a sua disponibilidade em Minha Agenda/Reservas.</p>
        <? } ?>
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<section class="form-generic container none">
    <div id="depoimento" class="form-container fale-conosco">
        <form data-action="/depoimento/novo" data-controller="form">
            <div class="input-wrapper">
                <label for="mensagem" class="none">Mensagem</label>
                <textarea class="form-control" id="mensagem" name="texto" type="text" placeholder="Mensagem*" required></textarea>
            </div>
            <div class="input-wrapper">
                <div class="holder">
                    <button type="submit" class="btn-icon btn-icon-flecha">Enviar</button>
                </div>
                <div class="feedback c-white"></div>
            </div>
        </form>
    </div>
</section>
<?php

$this->display('footer', array('menuCurrent' => 'minhaconta'));
