<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <link type="text/plain" rel="author" href="/humans.txt" />
    </head>
    <body>
        <script>
            window.close();
        </script>
    </body>
</html>