<?php
/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

$this->display('header', array('menuCurrent' => $menuCurrent));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Remarcar entrevista o anfitrião</h1>
    </header>

    <p class="text-sub">Preencha os campos para atualizar o seu cadastro na DogSafe.</p>
    <style>
        .form-container:after{
            background: none !important;
            background-image: none;
        }
    </style>
    <div class="container tornar-se-anfitriao">
        <div class="form-container">
            <div class="chamada-wrapper"> <span>AMA ANIMAIS?</span> <span>Mantenha seu cadastro atualizado.</span> </div>
            <form data-action="/remarcaentrevista-anfitriao" data-controller="form">
                <span class="feedback c-white" style="width: 100%"></span>
            
                <div class="clearfix"></div>
                
                <label for="data-entrevista" class="hide">DATA DA ENTREVISTA COM A DOG SAFE</label>
                <div class="input-icon input-icon-calendar">
                    <input type="text" id="data-entrevista" name="dataentrevista" placeholder="DATA DA ENTREVISTA *" class="form-control" data-mask='99/99/9999' data-datepicker required>
                </div>
                 
                <div class="select-personalizado">
                    <span class="label">HORA DA ENTREVISTA *</span>
                    <i class="seta"></i>
                    <select id="cidade" name="horaentrevista" data-toggle="tooltip" data-placement="top" title="Horário de Brasília entre às 08:00 e 21:00" placeholder="HORA DA ENTREVISTA *" class="selected">
                        <option class="primeiro" value="">Horário da Entrevista *</option>
                        <?php
                        $datehoraentr = new DateTime('2017-02-01 08:00');
                        for($hs=0; $hs < 27; $hs ++){ ?>
                            <option value="<?= $datehoraentr->format('H:i'); ?>"><?= $datehoraentr->format('H:i'); ?></option>
                        <? $datehoraentr->modify('+30 minutes'); } ?>
                    </select>
                </div>

                <button type="submit" class="btn-icon btn-icon-flecha">ATUALIZAR</button>
            </form>
        </div>

        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
