.ie .container {
    width: 1170px;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include clearfix();
}

@media(max-width: 991px) {
    .container {
        max-width: 991px;
        width: 97.395833%;
    }
}

@media(max-width: 479px) {
    .container {
        width: 93.75%;
    }
}
