.footer {
    width: 100%;
    background-color: $cor-principal;
    .footer-container {
        position: relative;
    }
    .nav-container {
        width: 23.33333%;
        float: left;
        margin-left: .83333%;
        margin-right: .83333%;
        padding: 65px 0;
        font: 13px $proxima-nova-semibold;
        color: #fff;
        text-transform: uppercase;
    }
    .nav-big {
        width: 46.66666%;
        position: relative;
        .nav-wrapper {
            @include clearfix;
        }
        .menu-footer {
            width: 50%;
            float: left;
        }
        .mais {
            color: #85DAE5;
            text-transform: lowercase;
            position: absolute;
            top: 69px;
            right: 36.1%;
            .mais-text {
                cursor: pointer;
                position: relative;
            }
            .mais-text:after {
                content: " [+]";
                position: absolute;
                top: 0;
                right: -15px;
            }
            &.active {
                .mais-text:after {
                    content: " [-]";
                }
            }
        }
    }
    .mais-cidades {
        display: none;
        font: 13px $proxima-nova-semibold;
        color: #1B8692;
        background: #fff;
        text-transform: uppercase;
        position: absolute;
        z-index: 3;
        width: 185px;
        padding: 10px 4px;
        top: 100%;
        left: 0;
        a:hover {
            text-decoration: underline;
        }
    }
    .newsletter {
        border-bottom: 1px solid $cor-principal-claro;
        border-top: 1px solid $cor-principal-claro;
        padding: 45px 13.5% 45px 8%;
        width: 100%;
        text-align: center;
        clear: both;
        @include clearfix;
        position: relative;
        .i-pata-small{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -8.5px;
            margin-left: -9.5px;
        }
    }
    input[name="email"] {
        background: #fff;
        color: #999;
        width: 223px;
        height: 30px;
        padding: 7px 12px;
        @include border-radius(7px);
        border: none;
        font-size: 11px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        margin-right: 12px;
    }
    .newsletter-form {
        float: left;
    }
    .localidade {
        float: right;
        .text-destaque {
            margin-left: 20px;
        }
    }
    .i-pata-small {
        position: relative;
        &:after,
            &:before {
            content: "";
            display: block;
            width: 13px;
            height: 1px;
            background: $cor-principal-claro;
            position: absolute;
            top: 50%;
        }
        &:after {
            right: -19px;
        }
        &:before {
            left: -19px;
        }
    }
    .contatos {
        padding: 64px 11% 64px 8%;
        width: 100%;
        text-align: center;
        clear: both;
        @include clearfix;
        position: relative;
        .i-pata-small{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -8.5px;
            margin-left: -9.5px;
        }
    }
    .siga-container {
        float: left;
        span {
            vertical-align: middle;
            margin-right: 35px;
        }
        a {
            display: inline-block;
            vertical-align: middle;
        }
        .i-facebook-big {
            margin-right: 45px;
        }
    }
    .pague-container {
        float: right;
        span {
            vertical-align: middle;
            margin-right: 29px;
        }
        a {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .base-rodape {
        width: 50%;
        float: left;
        text-align: center;
        background: #fff;
        color: #999;
        font-size: 11px;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        padding-top: 69px;
        padding-bottom: 59px;
        .copyright {
            margin-right: 28px;
        }
        .logo-trinity {
            margin-left: 20px;
        }
        .logo-dog-footer {
            display: inline-block;
            width: 59px;
            height: 39px;
            margin-right: 50px;
        }
        img {
            max-width: 100%;
        }
        +.base-rodape {
            padding-top: 76px;
        }
    }
    .emails{
        border-bottom: 1px solid #4AA4B1;
        padding: 45px 13.5% 45px 8%;
        width: 100%;
        text-align: center;
        clear: both;
        position: relative;
        @include clearfix;
        .i-pata-small{
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -8.5px;
            margin-left: -9.5px;
        }
        .link-email{
            font: 700 15px/30px $proxima-nova-bold;
            color: #FFF;
            display: block;
            float: right;
            width: 32.5%;
            text-transform: uppercase;
            &:first-child{
                float: left;
            } 
            &:hover{
                color: #55C8D3;
            }
        }
    }
}

@media(max-width: 991px) {
    .footer {
        .nav-container {
            width: 50%;
            margin: 4.3% 0;
            padding: 0 0 0 16.5%;
        }
        .nav-big {
            width: 77%;
            position: relative;
            .menu-footer+.menu-footer {
                padding-left: 32.5%;
            }
            .mais {
                top: 3px;
                right: 1.2%;
            }
        }
        .newsletter,
        .contatos {
            max-width: 991px;
            width: 100%;
            margin: 0 auto;
        }
        .newsletter {
            max-width: 991px;
            width: 100%;
            margin: 0 auto;
            padding: 45px 0;
        }
        .i-pata-small {
            display: none;
        }
        .localidade {
            float: left;
            margin-left: 23px;
        }
        .contatos {
            padding: 64px 0;
        }
        .pague-container {
            float: left;
            margin-left: 6%;
            padding-top: 5px;
        }
    }
}

@media(max-width: 479px) {
    .footer {
        .footer-container {
            padding-top: 27px;
        }
        .title-border {
            font-size: 18px;
        }
        .nav-container {
            width: 93.75%;
            margin: 6.5% 3.125%;
            padding-left: 0;
        }
        .mais-cidades {
            right: 0;
            left: auto;
        }
        .nav-big {
            width: 77%;
            position: relative;
            .menu-footer+.menu-footer {
                padding-left: 0;
                margin-top: 0;
            }
            .menu-footer {
                width: 100%;
            }
            .mais {
                right: -21.4%;
            }
        }
        .newsletter {
            padding: 30px 0;
        }
        .newsletter-form,
        .localidade {
            float: none;
            width: 100%;
            margin-left: 0;
        }
        .newsletter,
        .contatos {
            width: 100%;
        }
        .localidade {
            .btn {
                float: left;
                margin-right: 23px;
            }
            .text-destaque {
                font-size: 12px;
                display: block;
                text-align: left;
                strong {
                    display: block;
                }
            }
        }
        input[name="email"] {
            width: 100%;
            height: 40px;
            margin-right: 0;
            margin-bottom: 30px;
        }
        .newsletter-form .btn {
            width: 100%;
            height: 40px;
            margin-bottom: 30px;
        }
        .contatos {
            padding: 35px 0;
            .text-destaque {
                font-size: 12px;
            }
        }
        .pague-container,
        .siga-container {
            float: none;
        }
        .pague-container {
            margin-left: 0;
            span {
                margin-right: 40px;
            }
        }
        .siga-container {
            margin-bottom: 43px;
            .i-facebook-big {
                margin-right: 23px;
            }
        }
        .base-rodape {
            padding-top: 64px;
            +.base-rodape {
                padding-top: 64px;
                span {
                    margin-bottom: 17px;
                }
            }
            .copyright,
            span {
                display: block;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 10px;
            }
            .logo-dog-footer {
                margin-right: 0;
            }
            .logo-trinity {
                margin-left: 0;
            }
        }
        .emails{
            .link-email{
                float: none;
                text-align: center;
                width: auto;
            }
        }
    }
}
