.header-principal {
    width: 100%;
    height: 155px;
    position: relative;
    background-color: #fff;
    @include clearfix;
    >.icon-container {
        @include clearfix();
        margin-top: 6px;
        float: left;
        margin-top: 55px;
        margin-right: 24px;
        a {
            float: left;
            font-size: 0;
        }
        a:first-child {
            margin-right: 9px;
        }
    }
    .main-logo {
        width: 175px;
        height: 117px;
        position: absolute;
        top: 50%;
        margin-top: -(117px/2);
        left: 50%;
        margin-left: -(175px/2);
        img {
            max-width: 100%;
        }
    }
    a[href*='facebook.com'] {
        @extend .sprite;
        width: 34px;
        height: 34px;
        background-position: -32px -1px;
    }
    a[href*='instagram.com'] {
        @extend .sprite;
        width: 34px;
        height: 34px;
        background-position: -68px -1px;
    }
}

.main-menu {
    float: left;
}

.menu {
    @include clearfix();
    line-height: 50px;
    margin-top: 50px;
    li {
        float: left;
        &.ultimo {
            display: none;
        }
    }
    li+li {
        margin-left: 30px;
    }
    .box-logado {
        margin-left: 315px;
    }
    .box-nao-logado {
        margin-left: 315px; 
        a+a {
            margin-left: 30px;
        } 
    }
    .box-logado {
        text-transform: capitalize;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        @include clearfix();
        +li {
            margin-left: 18px;
        }
        .bt-blue,
        .bt-red {
            font-family: $proxima-nova-semibold;
            color: #fff;
            padding: 4px 14px 3px;
            @include border-radius(5px);
            @include transition(all 0.5s);
        }
        .bt-red {
            background: #FF4D4D;
            margin-left: 5px;
            &:hover {
                background-color: darken(#FF4D4D, 7%);
            }
        }
        .bt-blue {
            background: #00698C;
            &:hover {
                background-color: darken(#00698C, 7%);
            }
        }
        .nome {
            display: block;
            margin-bottom: 3px;
        }
    }
}

.btn-mobile{
    display: none;
    float: left;
    margin: 49px 19.5% 20px;
    padding: 0 20px;
    width: 191px;
}

@media(max-width: 1174px) {
    .menu .box-logado {
        margin-left: 234px;
    }
    .menu .box-nao-logado {
        margin-left: 234px;
    }
}

@media(max-width: 1074px) {
    .menu li+li {
        margin-left: 15px;
    }
    .menu .box-logado {
        margin-left: 171px;
    }
    .menu .box-nao-logado {
        margin-left: 171px;
    }
}

@media(max-width: 991px) {
    .header-principal {
        max-width: 991px;
        width: 97.395833%;
    }
    #menu-hamburguer {
        display: block;
        width: 37px;
        height: 25px;
        float: left;
        @include clearfix();
        i {
            display: block;
            width: 34px;
            height: 2px;
            background: #1B8692;
            @include transition(all 0.5s);
            +i {
                margin-top: 9px;
            }
        }
    }
    .main-menu {
        float: right;
        margin-top: 63px;
        margin-right: 30px;
        position: relative;
        &:after{
            content: "MENU";
            font: 400 14px/25px $proxima-nova-bold;
            color: #1B8692;
            display: block;
            float: right;
            margin-left: 10px;
        }
        .menu {
            display: none;
            width: 256px;
            background: #1B8692;
            line-height: normal;
            color: #fff;
            padding: 30px 28px;
            @include border-radius(7px);
            position: absolute;
            z-index: 15;
            top: 40px;
            right: -18px;
            margin-top: 0;
        }
        .menu li {
            float: none;
            &.ultimo {
                display: block;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
        .menu li {
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 26px;
            border-bottom: 1px solid #00D9D9;
            padding-bottom: 26px;
            &:before {
                display: none;
            }
        }
        &.active {
            #menu-hamburguer {
                padding-top: 13px;
                i {
                    height: 3px;
                }
                i:first-child {
                    @include transform(rotate(54deg));
                    +i {
                        @include transform(rotate(-54deg));
                        margin-top: 0;
                        position: relative;
                        top: -3px;
                        +i {
                            display: none;
                        }
                    }
                }
            }
            .menu {
                display: block;
            }
        }
        .btn-escuro {
            width: 100%;
            background: #fff;
            color: #1B8692;
            font-size: 12px;
        }
        .box-nao-logado {
            a+a {
                margin-left: 0;
            }
            a:first-child {
                display: block;
                margin-bottom: 26px;
                border-bottom: 1px solid #00D9D9;
                padding-bottom: 26px;
            }
        }
        .icon-container {
            >span {
                display: block;
                white-space: nowrap;
                margin-bottom: 25px;
            }
        }
        a[href*='facebook.com'] {
            width: 36px;
            height: 36px;
            color: transparent;
            background-position: -155px -142px;
            margin-right: 9px;
            margin-left: 30%;
        }
        a[href*='instagram.com'] {
            width: 36px;
            height: 36px;
            color: transparent;
            background-position: -194px -141px;
        }
    }
    .btn-mobile{
        display: block;
        margin: 69px 37.3% 20px;
    }
}

@media(max-width: 479px) {
    .header-principal {
        height: 125px;
        .main-logo {
            width: 129px;
            height: 86px;
            margin-left: -120px;
            margin-top: -43px;
        }
        >.icon-container {
            display: none;
        }
    }
    .main-menu {
        margin-right: 12px;
        margin-top: 52px;
        .menu {
            right: -2px;
            top: 73px;
        }
        .main-menu-hamburger{
            float: left;
        }
    }
    .btn-mobile{
        margin: 49px 19.5% 20px;
    }
}
