.menu-footer {
    margin-top: 15px;
    .menu-item {
        a {
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                margin-top: -3px;
                left: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 3px 0 3px 5px;
                border-color: transparent transparent transparent #fff;
                @include transition(all .3s);
                visibility: hidden;
                @include opacity(0);
            }
        }
        &:hover {
            a {
                color: #ddd;
                &:before {
                    visibility: visible;
                    @include opacity(1);
                    left: -15px;
                }
            }
        }
    }
    &-ultimo {
        margin-top: 47px;
    }
}
