.cadastro-pet {
    font-family: $proxima-novabold-italic;
    color: #fff;
    .form-container {
        padding: 50px 0 55px;
        background-image: url('../img/form/mulher-de-oculos-segurando-cachorro-grande.jpg');
        background-position: center top;
        +.text-sub {
            display: block;
            width: 100%;
            margin: 52px auto 0;
            max-width: 766px;
        }
    }
    .form-wrapper {
        max-width: 890px;
        margin: 0 auto;
    }
    .input-holder {
        .select-personalizado,
        .form-control {
            float: left;
            width: 274px;
            margin: 11px;
            //margin: 1.237%;
            border-color: #fff;
        }
        .input-big {
            width: 570px;
        }
    }
    .form-control {
        height: 64px;
    }
    #plano-saude {
        padding-top: 14px;
        padding-right: 0px;
        padding-left: 18px;
    }
    .select-personalizado {
        max-width: none;
        height: 64px;
        .seta {
            width: 18px;
            height: 19px;
            background-position: -286px -45px;
            right: 17px;
            left: auto;
        }
    }
    .big {
        .form-control,
        .select-personalizado {
            height: 102px;
        }
        .select-personalizado .label {
            top: 26px;
            left: 21px;
            width: 80%;
        }
    }
    .btn-wrapper {
        color: #666;
        clear: both;
        padding-top: 45px;
        @include clearfix();
        .text-container {
            float: left;
            width: 48.625%;
        }
        .btn-content {
            float: left;
            margin-left: 2.75%;
            width: 48.625%;
        }
        span {
            color: #fff;
            display: block;
            font-size: 12px;
            text-align: right;
            margin-top: 11px;
            max-width: 347px;
            float: right;
            a {
                color: #00B2B2;
            }
        }
    }
    .btn-icon {
        max-width: 273px;
        width: 100%;
    }
    .text {
        display: block;
        margin-bottom: 21px;
        position: relative;
        padding-left: 35px;
    }
    .i-pata-small {
        position: absolute;
        top: 1px;
        left: 0;
    }
    .widgets-container {
        margin-top: 40px;
    }
    ::-webkit-input-placeholder {
        text-transform: initial;
    }
    :-moz-placeholder {
        text-transform: initial;
    }
    ::-moz-placeholder {
        text-transform: initial;
    } 
    :-ms-input-placeholder {

    }
}

@media(max-width: 991px) {
    .cadastro-pet {
        .form-container+.text-sub {
            font-size: 14px;
        }
        .form-wrapper {
            max-width: 593px;
        }
        .input-holder {
            .select-personalizado,
            .form-control {}
            .input-big {
                width: 274px;
            }
        }
        .ultimo .form-control {
            width: 570px;
        }
        .btn-wrapper {
            padding-top: 40px;
            .text-container {
                width: 52.625%;
            }
            .btn-content {
                width: 45.625%;
                margin-left: 1.75%;
            }
        }
    }
}

@media(max-width: 479px) {
    .cadastro-pet {
        .form-container {
            padding: 50px 30px 55px;
        }
        .input-holder {
            .select-personalizado,
            .form-control,
            .input-big {
                width: 100%;
                float: none;
                display: block;
                margin: 0;
                margin-bottom: 20px;
            }
        }
        .s-tipo {
            height: 100px;
            .label {
                width: 79%;
                margin-top: -14px;
            }
        }
        #plano-saude {
            height: 100px;
        }
        .big {
            .input-big {
                height: 240px;
            }
        }
        .btn-wrapper {
            padding-top: 0;
            .text-container {
                width: 100%;
                margin: 0 auto 0;
                span {
                    text-align: center;
                    display: block;
                    float: none;
                    margin-top: 0;
                }
            }
            .btn-content {
                width: 100%;
                max-width: 300px;
                margin: 20px auto 0;
            }
        }
    }
}
