.cadastro {
    font-family: $proxima-novabold-italic;
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
    background-image: url('../../img/form/mulher-segurando-cachorro.jpg');
    form {
        max-width: 595px;
        margin: 0 auto;
        padding-top: 52px;
        @include clearfix();
        +span {
            display: block;
            margin: 21px 0 7px;
        }
    }
    .form-control,
    .select-personalizado,
    .btn-icon {
        width: 274px;
        float: left;
        margin: 11px;
    }
    .btn-icon {
        margin-top: 28px;
    }
    .select-personalizado {
        max-width: none;
        width: 126px;
        height: 64px;
        .label{
            width: 70%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .seta {
            width: 18px;
            height: 19px;
            background-position: -286px -45px;
            right: 17px;
            left: auto;
        }
    }
    .box{
        float: left;
        display: block;
        width: 100%;
        margin-top: 28px;
        .imagem{
            width: 70px;
            display: block;
            max-height: 80px;
            margin: 0 auto 10px;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .text-wrapper {
        margin-top: 17px;
        line-height: 1.6;
        font-size: 12px;
        text-align: center;
        span:first-child {
            display: block;
        }
        span {
            display: inline-block;
        }
        a {
            color: #58C9D2;
        }
    }
}

@media(max-width: 479px) {
    .form-generic .form-container {
        background-position: 41% 50%;
    }
    .cadastro {
        padding: 65px 28px 50px;
        form {
            padding-top: 0;
        }
        .form-control,
        .select-personalizado {
            width: 100%;
            float: none;
            display: block;
            margin: 0;
            margin-bottom: 20px;
        }
        .btn-icon {
            width: 100%;
            max-width: 274px;
            margin: 0;
            margin-bottom: 20px;
        }
        .wrapper {
            .select-personalizado,
            .form-control {
                width: 100%;
            }
        }
        .text-wrapper {
            margin-top: 0;
            line-height: 1.4;
            span:first-child {
                margin-bottom: 7px;
                +span {
                    margin-bottom: 7px;
                }
            }
        }
    }
}
