.fale-conosco {
    padding: 130px 90px 0;
    background-image: url('../../img/form/mulher-abracando-cachorro.jpg');
    form .row:first-child {
        margin-bottom: 25px;
    }
    .input-wrapper {
        margin-bottom: 25px;
        @include clearfix();
        +.input-wrapper {
            margin-bottom: 15px;
        }
    }
    .input-holder {
        position: relative;
        float: left;
        box-sizing: border-box;
        width: 57.02854%;
        +.input-holder {
            margin-left: 3.1315%;
            width: 39.83996%;
        }
    }
    .holder {
        position: relative;
        float: right;
        box-sizing: border-box;
        margin-left: 3.1315%;
        width: 39.83996%;
        @include clearfix();
        +.holder {
            width: 57.02854%;
            float: left;
            margin-left: 0;
        }
    }
}

@media(max-width: 991px) {
    .fale-conosco {
        padding: 84px 87px 71px;
        .input-holder {
            width: 100%;
            +.input-holder {
                margin-left: 0;
                width: 100%;
            }
        }
        .holder {
            float: none;
            margin-left: 0%;
            width: 100%;
            +.holder {
                width: 100%;
                float: none;
                margin-top: 27px;
            }
        }
    }
}

@media(max-width: 479px) {
    .fale-conosco {
        padding: 30px 15px 15px;
        .input-wrapper {
            margin-bottom: 0;
        }
        .input-holder {
            +.input-holder {}
        }
        .holder {
            +.holder {
                margin-top: 23px;
            }
        }
        .aviso {
            margin-top: 0;
        }
        .aviso+.btn-icon {
            float: left;
            margin-top: 25px;
        }
    }
}
