.identificacao {
    background-image: url('../../img/form/homem-abracando-cachorro.jpg');
    form {
        max-width: 572px;
        margin: 0 auto;
        padding-top: 167px;
        font-family: $proxima-novabold-italic;
    }
    .text-italic {
        color: #fff;
        font-family: $proxima-novabold-italic;
    }
    .select-personalizado {
        max-width: none;
        height: 64px;
        margin-bottom: 15px;
    }
    .wrapper {
        width: 50%;
        float: left;
        margin-top: 20px;
        font-family: $proxima-novabold-italic;
        span {
            display: block;
            a {
                color: #58C9D3;
            }
        }
        .link-es {
            display: block;
            font-size: 12px;
            margin-bottom: 50px;
            &:hover {
                text-decoration: underline;
            }
            +span {
                font-size: 17px;
                span {
                    color: #58C9D2;
                }
            }
        }
        +.wrapper {
            text-align: right;
        }
        +span {
            display: block;
            width: 100%;
            font-size: 12px;
            text-align: center;
            clear: both;
            padding-top: 39px;
        }
    }
    .btn-icon-flecha {
        width: 250px;
        margin-bottom: 17px;
    }
}

@media(max-width: 991px) {
    .form-container.identificacao {
        min-height: 523px;
        form {
            padding-top: 80px;
        }
    }
}

@media(max-width: 991px) {
    .form-container.identificacao {
        background-position: 83% 50%;
    }
    .identificacao {
        form {
            padding: 30px 30px 50px;
        }
        .wrapper {
            width: 100%;
            float: none;
            margin-top: 0;
            +.wrapper {
                text-align: left;
                margin-top: 20px;
            }
            +span {
                padding-top: 17px;
                text-align: left;
            }
            .link-es {
                margin-bottom: 20px;
            }
        }
    }
}
