.meu-cadastro {
    .btn-icon {
        float: none;
    }
    form {
        padding-top: 60px;
    }
    .dados {
        font: 14px $proxima-nova-semibold;
        color: #fff;
        width: 100%;
        text-align: left;
        margin-left: 11px;
        margin-bottom: 35px;
        >span {
            display: block;
            margin-bottom: 1px;
        }
        span span {
            font-family: $proxima-nova-extrabold;
            text-transform: uppercase;
        }
    }
    a {
        color: #58C9D2;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media(max-width: 479px) {
    .meu-cadastro {
        font-size: 12px;
        form {
            padding-top: 0;
            +span {
                margin: 17px 0 0;
            }
        }
    }
}
