.meu-perfil {
    font-family: $proxima-novabold-italic;
    color: #fff;
    .form-container {
        padding: 41px 0 205px;
        color: #525252;
        background: #ddd;
        background-position: center top;
        position: relative;
        +.text-sub {
            display: block;
            width: 100%;
            margin: 52px auto 0;
            max-width: 766px;
        }
        &:before,
            &:after {
            content: "";
            display: block;
            width: 100%;
            height: 153px;
            position: absolute;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:before {
            background-image: url('../img/tornar-se-anfitriao/fundo-patas.jpg');
            top: 0;
        }
        &:after {
            background-image: url('../img/tornar-se-anfitriao/fundo-patas02.jpg');
            bottom: 0;
        }
    }
    .form-wrapper {
        max-width: 890px;
        margin: 0 auto;
        @include clearfix();
    }
    .dados-usuario{
        font: 14px $proxima-nova-semibold;
        color: #666;
        width: 100%;
        background: #ddd;
        text-align: left;
        padding: 16px 27px;
        @include border-radius(5px);
        margin-bottom: 79px;
        position: relative;
        z-index: 2;
        >span {
            display: block;
            margin-bottom: 1px;
        }
        span span {
            font-family: $proxima-nova-extrabold;
            text-transform: uppercase;
        }
        a {
            color: #00B2B2;
        }
    }
    .form-control {
        margin-bottom: 0;
        height: 64px;
    }
    .form-control,
    .select-personalizado {
        border-color: #999;
        color: #666;
        @include input-placeholder {
            color: #666;
        }
    }
    .form-control[disabled],
    .select-personalizado[data-disabled] {
        border-color: #bbb;
        color: #999;
        @include input-placeholder {
            color: #999;
        }
        .seta {
            background-position: -305px -46px;
        }
    }
    .select-personalizado {
        max-width: none;
        height: 64px;
        .seta {
            width: 16px;
            height: 17px;
            background-position: -197px -78px;
            right: 17px;
            left: auto;
        }
        .label.big {
            top: 50%;
            width: 80%;
            margin-top: 0;
            @include transform(translatey(-50%));
        }
    }

    .btn-icon {
        max-width: 273px;
        width: 100%;
    }

    .info-icon{
        display: block;
        width: 25px;
        height: 25px;
        background: url(../img/icon_info.png) no-repeat center;
        float: right;
        position: absolute;
        right: -38px;
        background-size: 22%;
        background-position: center;
        border: 1px solid;
        border-radius: 20px;
        margin-top: 16px;
    }

    .select-big {
        width: 868px;
        max-width: 868px;
        margin: 11px;
    }
    .input-holder {
        .select-personalizado,
        .form-control {
            float: left;
            width: 274px;
            margin: 11px;
            //margin: 1.237%;
        }
    }
    .big {
        .input-wrapper {
            float: left;
        }
        .input-wrapper:first-child {
            width: 592px;
            +.input-wrapper {
                width: 298px;
                .form-control {
                    height: 150px;
                }
            }
        }
    }
    .small {
        @include clearfix();
        float: left;
        .select-personalizado {
            width: 183px;
            float: left;
        }
        .form-control {
            width: 71px;
            float: right;
            padding-left: 21px;
        }
    }
    .checkbox-content {
        clear: both;
        padding-top: 1px;
        .desc {
            margin-top: 23px;
        }
        .checkbox-container {
            margin-bottom: 35px;
            padding: 0 7px;
        }
        .checkbox-wrapper {
            font-size: 14px;
            color: #666;
        }
        .checkbox-wrapper:first-child {
            float: left;
            margin-right: 18px;
        }
    }
    .btn-wrapper {
        color: #666;
        clear: both;
        padding-top: 45px;
        @include clearfix();
        .text-container {
            float: left;
            width: 48.625%;
        }
        .btn-content {
            float: left;
            margin-left: 2.75%;
            width: 48.625%;
        }
        span {
            display: block;
            font-size: 12px;
            text-align: right;
            margin-top: 11px;
            max-width: 347px;
            float: right;
            a {
                color: #00B2B2;
            }
        }
    }
    .desc {
        font: 14px $proxima-nova-semibold;
        color: #00B2B2;
        display: block;
        margin: 25px 0 25px;
        padding: 0 12px;
    }
    .text {
        display: block;
        margin-bottom: 21px;
        position: relative;
        padding-left: 35px;
    }
    .i-pata-small {
        position: absolute;
        top: 1px;
        left: 0;
    }
    .widgets-container {
        margin-top: 40px;
    }
}

@media(max-width: 991px) {
    .meu-perfil {
        .form-wrapper {
            max-width: 593px;
        }
        .dados-usuario {
            margin-bottom: 65px;
        }
        .select-big {
            width: 96.292%;
            max-width: 571px;
        }
        .checkbox-content .checkbox-wrapper {
            input {
                margin-top: 0;
            }
        }
        .big {
            .input-wrapper {
                float: left;
            }
            .input-wrapper:first-child {
                width: 100%;
                +.input-wrapper {
                    width: 100%;
                    .form-control {
                        height: 150px;
                        width: 96.292%;
                    }
                }
            }
        }
        .btn-wrapper {
            .text-container {
                width: 52.625%;
            }
            .btn-content {
                width: 45.625%;
                margin-left: 1.75%;
            }
        }
    }
}

@media(max-width: 479px) {
    .meu-perfil {
        .form-container {
            padding-top: 20px;
            padding-bottom: 150px;
            &:before {
                height: 144px;
            }
            &:after {
                height: 110px;
            }
            +.text-sub {
                font-size: 14px;
                margin-top: 30px;
            }
        }
        .dados-usuario {
            width: 100%;
            margin: 0 auto 25px;
        }
        .form-wrapper {
            padding-left: 30px;
            padding-right: 30px;
        }
        .input-holder {
            .select-personalizado,
            .form-control {
                float: left;
                width: 100%;
                margin: 8px 0;
                padding-left: 17px;
            }
        }
        .s-qtd-animais {
            .label {
                width: 79%;
                margin-top: -16px;
            }
        }
        .select-big {
            width: 100%;
            margin: 8px 0;
            height: 70px;
            .label {
                width: 77%;
                margin-top: -24px;
            }
        }
        .big {
            .input-wrapper:first-child {
                width: 100%;
                +.input-wrapper {
                    width: 100%;
                    .form-control {
                        width: 100%;
                    }
                }
            }
        }
        .small {
            float: none;
            .select-personalizado {
                width: 65%;
                float: left;
                .label {
                    width: 66%;
                }
            }
            .form-control {
                width: 28%;
                float: right;
                padding-left: 21px;
            }
        }
        .btn-wrapper {
            padding-top: 8px;
            .text-container {
                width: 100%;
                float: none;
                display: block;
                margin-bottom: 25px;
                span {
                    float: none;
                    text-align: center;
                }
            }
            .btn-content {
                width: 100%;
                max-width: 300px;
                float: none;
                display: block;
                margin: 0 auto 0;
            }
        }
    }
}
