.minha-conta-hospede {
    .text-sub {
        margin: 57px auto 52px;
        max-width: 637px;
    }
    .form-container {
        background-image: url('../img/form/homem-abracando-cachorro.jpg');
    }
}

.minha-conta-anfitriao {
    .form-container {
        background-image: url('../img/form/mulher-olhando-cachorro.jpg');
        +.text-sub {
            margin: 50px auto 48px;
            max-width: 737px;
            text-align: center;
        }
    }
}

.meus-pets {
    .form-container {
        background-image: url('../img/form/mulher-de-oculos-segurando-cachorro.jpg');
        position: relative;
    }
    .usuario {
        margin-right: 211px;
    }
    .options {
        display: none;
        font-size: 13px;
        color: #999;
        a+a {
            margin-left: 15px;
        }
        a:hover {
            color: #fff;
        }
    }
    .nav-generic {
        ul {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .nav-generic ul li {
        height: 37px;
        @include box-sizing(content-box);
        &:visited,
            &:hover,
            &:active {
            .options {
                display: block;
            }
        }
        &.ultimo {
            height: auto;
            padding-top: 27px;
        }
    }
    .nav-generic ul li+li {
        margin-top: 7px;
        padding-top: 21px;
    }
    .btn {
        width: 213px;
        width: 213px;
        @include box-sizing(border-box);
    }
}

.paginacao-form {
    width: 76px;
    height: 30px;
    position: absolute;
    bottom: 51px;
    left: 200px;
    .prev,
    .next {
        width: 30px;
        height: 30px;
        background: #222;
        position: relative;
        cursor: pointer;
        @include border-radius(50%);
        @include transition(0.5s ease);
        &:hover {
            background-color: lighten(#222, 5%);
        }
        &:before {
            content: "";
            display: block;
            @extend .sprite;
            width: 9px;
            height: 10px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 50%;
        }
    }
    .prev {
        float: left;
        &:before {
            background-position: -482px -41px;
            margin-left: -5px;
        }
    }
    .next {
        float: right;
        &:before {
            background-position: -471px -41px;
            margin-left: -3px;
        }
    }
}

#depoimento{
    padding: 100px 90px 55px;
    width: 650px;
    .input-wrapper{
        margin-bottom: 25px;
    }
    .holder{
        float: none;
        width: 100%;
        margin-left:0;
        .btn-icon{
            display: block;
            margin: 0 auto;
        } 
    }
}

.meus-compromisso{
    margin-top: 27px;
    color: #666;
    font: 14px "proxima_nova_rgregular", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media(max-width: 991px) {
    .meus-pets {
        .form-container .nav-generic {
            margin-left: 35px;
        }
        .form-container .usuario {
            margin-right: 36px;
        }
        .paginacao-form {
            left: 142px;
        }
    }
}

@media(max-width: 479px) {
    .minha-conta-hospede {
        .text-sub {
            font-size: 14px;
        }
        .form-container {
            min-height: 600px;
            background-position: 81% 50%;
        }
    }
    .minha-conta-anfitriao {
        .form-container {
            min-height: 670px;
            background-position: 53% 50%;
            +.text-sub {
                font-size: 14px;
            }
        }
    }
    .meus-pets {
        .form-container {
            min-height: 665px;
            background-position: 59% 50%;
            .nav-generic {
                margin: 0 auto 0;
                ul li {
                    padding-left: 0;
                }
            }
        }
        .options a+a {
            margin-left: 8px;
        }
        .btn {
            width: 100%;
            padding: 0 3px;
        }
        .form-container .usuario {
            margin: 0 auto 55px;
            width: 85%;
            .nome+span {
                font-size: 14px;
            }
        }
        .paginacao-form {
            left: 50%;
            margin-left: -38px;
        }
    }
}
