.minhas-reservas {
    .lista-wrapper {
        display: block;
        width: 100%;
        padding-bottom: 18px;
        margin-bottom: 45px;
        background: #333;
        color: #fff;
        position: relative;
    }
    .table-header {
        font-family: $proxima-nova-bold;
        background: #000;
        @include clearfix();
        padding: 30px 51px;
        margin-bottom: 18px;
    }
    .table-body {
        font-family: $proxima-nova-regular;
        padding: 0 51px;
        @include clearfix();
        label {
            display: none;
            text-transform: uppercase;
        }
    }
    .table-column-name {
        display: none;
    }
    .table-row {
        border-bottom: 1px solid #444;
        @include clearfix();
        &:last-child{
            border-bottom: none;
        }
    }
    .col-data, .col-pet, .col-anfitriao, .col-valor, .col-status {
        float: left;
        width: 20%;
    }
    .btn-wrapper {
        float: right;
        padding-top: 18px;
        @include clearfix();
        .btn-link {
            float: left;
            +.btn-link {
                margin-left: 5px;
            }
        }
    }
    .btn-link {
        display: block;
        text-transform: uppercase;
    }
    .paginacao-form {
        bottom: 26px;
        left: 50%;
        margin-left: -38px;
    }
    .widgets-container {
        margin-top: 0;
        margin-bottom: 40px;
        @include clearfix();
        .btn-escuro {
            float: right;
            padding-left: 33px;
            padding-right: 33px;
        }
    }
}

.link-red {
    color: #FF7272;
}

.link-blue {
    color: #00D8D8;
}

.link-grey {
    color: #868686;
}

.btn-link,
.confirmar,
.recusar {
    display: inline-block;
    font: 14px $proxima-nova-semibold;
    color: #fff;
    background: #555;
    text-align: center;
    text-transform: capitalize;
    border: 0;
    padding: 7px 10px 6px;
    @include border-radius(7px);
    @include transition(all 0.5s);
}

.btn-green {
    background: #008C69;
}

@media(max-width: 991px) {
    .minhas-reservas {
        .table-header {
            display: none;
        }
        .btn-wrapper {
            padding-top: 0;
        }
        .table-body {
            padding: 0 0;
        }
        .lista-wrapper {
            background: #fff;
            padding-bottom: 0;
            margin-bottom: 25px;
        }
        .table-row {
            height: auto;
            line-height: normal;
            width: 100%;
            border: 0;
            margin-bottom: 20px;
            background: #333;
            >.col-data {
                padding-top: 22px;
            }
            >.col-status {
                padding-top: 16px;
                padding-bottom: 16px;
                >a {
                    display: inline-block;
                }
            }
        }
        .col-data,
        .col-pet,
        .col-anfitriao,
        .col-valor,
        .col-status {
            //width: 469px;
            width: 62.71%;
            //margin-left: 30px;
            margin-left: 4.02%;
            float: left;
        }
        .table-column-name {
            display: block;
            //width: 220px;
            width: 29.412%;
            //padding: 22px 28px;
            padding: 22px 3.747%;
            float: left;
            background: #000;
            .col-data,
            .col-pet,
            .col-anfitriao,
            .col-valor,
            .col-status {
                float: none;
                width: 100%;
                margin-left: 0;
            }
        }
        .col-pet,
        .col-anfitriao,
        .col-valor,
        .col-status {
            padding-top: 18px;
            margin-top: 18px;
            border-top: 1px solid #444;
        }
        .container .widgets-container {
            margin-top: 0;
            margin-bottom: 35px;
        }
    }
    .btn-link,
    .confirmar,
    .recusar {
        margin: 0;
        float: left;
    }
}

@media(max-width: 479px) {
    .minhas-reservas {
        .lista-wrapper {
            font-size: 12px;
        }
        .table-row {
            overflow: hidden;
        }
        .table-column-name {
            width: 43%;
            padding: 22px 6.5%;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 100px;
                background: #000;
                position: absolute;
                top: 100%;
                left: 0;
            }
            .col-info {
                padding-top: 18px;
            }
            .col-data,
            .col-pet,
            .col-hospede,
            .col-valor,
            .col-status,
            .col-info {
                span {
                    text-overflow: initial;
                    max-height: none;
                }
            }
        }
        .detalhes-pet .horarios:after {
            bottom: 50%;
            margin-bottom: -27px;
        }
        .col-data,
        .col-pet,
        .col-anfitriao,
        .col-valor,
        .col-status,
        .col-info {
            width: 45%;
            margin-left: 6%;
        }
        .col-data,
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status {
            span {
                display: block;
                max-height: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .col-info {
            padding-top: 16px;
        }
        .btn-wrapper {
            float: none;
            .btn-link {
                font-size: 12px;
                padding: 4px 10px 3px;
                margin-top: 10px;
                margin-right: 5px;
                +.btn-link {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        .container .widgets-container {
            margin-top: 0;
            margin-bottom: 60px;
            .btn-escuro {
                float: none;
                display: block;
                max-width: 300px;
                width: 100%;
                margin: 0 0 0;
            }
        }
    }
}
