.minha-agenda {
    .bloco-calendario {
        width: 100%;
        min-height: 685px;
        padding: 71px 0;
        margin-bottom: 50px;
        background: #ddd;
        position: relative;
        @include clearfix();
        &:before,
            &:after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
        }
        &:before {
            height: 71px;
            background: url('../img/tornar-se-anfitriao/como-funciona-patas2.png');
            top: 0;
        }
        &:after {
            height: 71px;
            background: url('../img/como-funciona/como-funciona-patas.png');
            bottom: 0;
        }
    }
    .box-form {
        .title-page {
            margin-bottom: 62px;
        }
    }
    .box-form,
    .box-agenda {
        padding-top: 45px;
    }
    .box-form {
        width: 380px;
        margin-right: 116px;
        float: right;
        .btn-icon {
            width: 47.5%;
            &:after {
                right: 26px;
            }
        }
    }
    .box-agenda {
        width: 509px;
        margin-left: 58px;
        float: left;
        font: 14px $proxima-nova-regular;
        color: #666;
        .disponivel,
        .indisponivel {
            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 12px;
                @include border-radius(50%);
                margin-right: 14px;
                background: #aaa;
            }
        }
        .disponivel {
            &:before {
                background: #00B259;
            }
        }
        .indisponivel {
            margin-left: 34px;
        }
        .wrapper {
            display: block;
            width: 420px;
            margin: 30px auto 0;
            text-align: center;
        }
        .i-prev,
        .i-next {
            position: absolute;
            top: 173px;
            cursor: pointer;
        }
        .i-next {
            right: 0;
        }
        .i-prev {
            left: 0;
        }
    }
    .input-icon,
    .select-personalizado,
    .horarios-wrapper {
        width: 100%;
        display: block;
    }
    .horarios-wrapper {
        @include clearfix();
        .form-control {
            float: left;
            width: 47.5%;
        }
        .flag {
            margin-left: 5%
        }
    }
    .form-control,
    .select-personalizado {
        background: #fff;
        color: #666;
        border: none;
        height: 60px;
        @include input-placeholder {
            color: #666;
        }
    }
    .select-personalizado {
        max-width: none;
        .seta {
            background-position: -287px -46px;
            margin-top: -9px;
            right: 21px;
        }
    }
    .select-personalizado,
    .form-control {
        padding-left: 22px;
        margin-bottom: 21px;
    }
    .input-icon-calendar:after {
        background-position: -307px -72px;
        margin-top: -18px;
        right: 22px;
    }
    .icon-time{
        background-image: url(../img/time_int.png);
        background-position: 90% center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
    }
    .btn-icon-flecha {
        height: 57px;
    }
    .lista-wrapper {
        display: block;
        width: 100%;
        padding-bottom: 45px;
        margin: 50px 0 54px;
        background: #333;
        color: #fff;
        position: relative;
    }
    >.text-sub {
        margin: 58px auto 45px;
        max-width: 657px;
    }
    .title-page {
        display: block;
        text-align: center;
    }
    .table-header {
        font-family: $proxima-nova-bold;
        background: #000;
        @include clearfix();
        padding: 0px 51px;
        height: 79px;
        margin-bottom: 45px;
        line-height: 79px;
    }
    .table-body {
        font-family: $proxima-nova-regular;
        padding: 0 51px;
        @include clearfix();
        label {
            display: none;
            text-transform: uppercase;
        }
    }
    .table-row {
        padding: 21px 0;
        border-bottom: 1px solid #444;
        @include clearfix();
        &.active {
            border-bottom: 0;
            .btn-add {
                line-height: 26px;
                &:after {
                    content: "-";
                }
            }
        }
    }
    .detalhes-pet {
        display: none;
        background: #444;
        width: 100%;
        padding: 20px 35px 33px;
        float: left;
        margin-top: 32px;
        font-size: 14px;
        .titulo {
            font: 16px $proxima-nova-semibold;
            text-transform: uppercase;
            display: block;
            padding-bottom: 17px;
            margin-bottom: 25px;
            border-bottom: 1px solid #555;
        }
        .strong {
            font-family: $proxima-nova-bold;
        }
        .info-wrapper {
            width: 49%;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 38px;
            line-height: 1.45;
        }
        .horarios {
            position: relative;
            border-top: 1px solid #555;
            padding-left: 66px;
            padding-top: 30px;
            clear: both;
            &:after {
                content: "";
                @extend .sprite;
                @extend .i-calendar;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .table-column-name {
        display: none;
    }
    .col-data, .col-pet, .col-hospede, .col-valor, .col-valor, .col-status{
        float: left;
        width: 18.7%;
    }
    .col-info{
        float: left;
        width: 5%;
    }
    .col-status
    .btn-wrapper {
        float: right;
        padding-top: 18px;
        @include clearfix();
        .btn-link {
            float: left;
            +.btn-link {
                margin-left: 5px;
            }
        }
    }
    .paginacao-form {
        bottom: 35px;
        left: 50%;
        margin-left: -38px;
    }
    .btn-add {
        font-size: 19px;
        color: #fff;
        background-color: #444;
        padding: 0;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        width: 33px;
        height: 23px;
        line-height: 23px;

        &:after {
            content: "+";
            display: block;
        }

        &.btn-del{
            &:after{
                transform: rotate(46deg);
            }
        }
    }
    .confirmar {
        font-size: 16px;
        color: #333;
        background: #00D9D9;
        padding: 2px 15px 1px;
    }
    .recusar {
        font-size: 16px;
        color: #333;
        background: #FF7373;
        padding: 2px 27px 1px;
    }
    .cancelada {
        font-family: $proxima-nova-semibold;
        color: #FF7272;
    }
    .aguardando {
        font-family: $proxima-nova-semibold;
        color: #00D8D8;
    }
    .remarcada,
    .confirmada {
        color: #00D8D8;
    }
    .concluida {
        color: #868686;
    }
    .paginacao {
        text-align: center;
        margin: 0 0 52px;
    }
}

.box-agenda {
    width: 509px;
    margin-left: 58px;
    float: left;
    font: 14px $proxima-nova-regular;
    color: #666;
    .disponivel,
    .indisponivel {
        &:before {
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            @include border-radius(50%);
            margin-right: 14px;
            background: #aaa;
        }
    }
    .disponivel {
        &:before {
            background: #00B259;
        }
    }
    .indisponivel {
        margin-left: 34px;
    }
    .wrapper {
        display: block;
        width: 420px;
        margin: 30px auto 0;
        text-align: center;
    }
    .mes {
        font: 18px $proxima-nova-semibold;
        color: #198592;
        display: block;
        text-align: center;
        margin: 21px 0 21px;
    }
    .calendario {
        display: block;
        width: 420px;
        max-width: 100%;
        margin: 63px auto 0;
        min-height: 299px;
        position: relative;
    }
    .calendario-wrapper {
        position: relative;
    }
}

#compromisso{
    .col-data, .col-pet, .col-hospede, .col-valor, .col-info{
        width: 25%;
    }
    .btn-add{
        float: left;
    }
    .table-row:last-child{
        border-bottom: none;
    }
    .lista-wrapper{
        padding-bottom: 18px;
    }
}

@media(max-width: 991px) {
    .minha-agenda {
        .box-agenda,
        .box-form {
            float: none;
            margin: 0 auto;
        }
        .box-form {
            width: 100%;
            .title-page {
                margin-bottom: 30px;
            }
            .btn-icon {
                width: 290px;
                margin: 11px;
                &:after {
                    right: 26px;
                }
            }
        }
        form {
            @include clearfix();
            max-width: 625px;
            margin: 0 auto;
        }
        .horarios-wrapper {
            .form-control {
                width: 290px;
                margin: 11px;
            }
            .flag {
                width: 290px;
                margin: 11px;
            }
        }
        .input-icon,
        .select-personalizado,
        .form-control,
        .btn-icon-flecha {
            float: left;
            width: 290px;
            margin: 11px;
        }
        .input-icon .form-control {
            width: 100%;
            float: none;
            margin: 0;
        }
        .input-icon-calendar:after {
            margin-top: -9px;
        }
        .btn-add{
            float: left;
        }
        .bloco-calendario {
            padding-bottom: 120px;
        }
        .table-header {
            display: none;
        }
        .btn-wrapper {
            padding-top: 0;
        }
        .table-body {
            padding: 0 0;
        }
        .lista-wrapper {
            background: #fff;
            padding-bottom: 0;
            margin-bottom: 35px;
        }
        .table-row {
            height: auto;
            line-height: normal;
            width: 100%;
            border: 0;
            padding: 0;
            margin-bottom: 20px;
            background: #333;
            >.col-data{
                padding-top: 22px;
            }
        }
        .col-data,
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status,
        .col-info {
            width: 62.71%;
            margin-left: 4.02%;
        }
        .table-column-name {
            display: block;
            width: 29.412%;
            padding: 22px 3.747%;
            float: left;
            background: #000;
            .col-data,
            .col-pet,
            .col-hospede,
            .col-valor,
            .col-status,
            .col-info {
                width: 100%;
                margin-left: 0;
            }
        }
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status,
        .col-info {
            padding-top: 18px;
            margin-top: 18px;
            border-top: 1px solid #444;
        }
        .table-row>.col-status{
            padding-bottom: 0;
        }
        .col-info{
            width: 62.71%;
            height: 42px;
            float: left;
        }
        .detalhes-pet {
            margin-top: 0;
            .info-wrapper {
                width: 100%;
                margin-bottom: 25px;
            }
        }
    }
    #compromisso{
        .col-data, .col-pet, .col-hospede, .col-valor, .col-info{
            width: 62.71%;
        }
        .table-column-name{
            padding-top:0;
            .col-data{
                padding-top: 22px;
            }
        }
    }
}

@media(max-width: 479px) {
    .box-agenda {
        width: 295px;
        padding-bottom: 27px;
        .calendario {
            width: 295px;
            min-height: 247px;
        }
        .wrapper {
            width: 295px;
            margin: 20px auto 0;
        }
    }
    .meus-compromisso{
        text-align: center;
    }
    .minha-agenda {
        .title-page {
            font-size: 20px;
        }
        .box-form {
            padding-top: 20px;
            .title-page {
                width: 80%;
                margin: 0 auto 20px;
            }
            .btn-icon {
                width: 100%;
                margin: 0 auto 19px;
                &:after {
                    right: 26px;
                }
            }
        }
        .bloco-calendario {
            padding-bottom: 85px;
        }
        form {
            padding: 0 30px 0;
        }
        .btn-icon-flecha {
            max-width: 300px;
        }
        .input-icon,
        .select-personalizado,
        .form-control,
        .btn-icon-flecha {
            float: none;
            display: block;
            width: 100%;
            margin: 0 auto 19px;
        }
        .horarios-wrapper {
            .form-control {
                width: 100%;
                margin: 0 auto 19px;
            }
            .flag {
                width: 100%;
                margin: 0 auto 19px;
            }
        }
        .box-agenda {
            width: 295px;
            text-align: center;
            padding-top: 15px;
            .wrapper {
                display: inline-block;
                width: auto;
            }
            .indisponivel,
            .disponivel {
                display: block;
                margin-left: 0;
                text-align: left;
            }
            .disponivel {
                margin-bottom: 15px;
            }
        }
        .lista-wrapper {
            font-size: 12px;
        }
        .table-column-name {
            width: 38%;
            padding: 22px 6.5% 7px;
            .col-info {
                padding-top: 18px;
            }
            .col-data,
            .col-pet,
            .col-hospede,
            .col-valor,
            .col-status,
            .col-info {
                span {
                    max-height: none;
                    white-space: normal;
                }
            }
        }
        .table-column-name{
            .col-data {
                height: 44px;
                line-height: 1;
            }
        }
        .table-row>.col-data {
            margin-top: 22px;
            padding-top: 0;
            height: 44px;
        }
        .detalhes-pet .horarios:after {
            bottom: 50%;
            margin-bottom: -27px;
        }
        .col-data,
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status,
        .col-info {
            width: 50%;
            margin-left: 6%;
        }
        .col-data,
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status {
            span {
                display: block;
                max-height: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .col-pet,
        .col-hospede,
        .col-valor,
        .col-status,
        .col-anfitriao,
        .col-status,
        .col-info {
            padding:18px 0;
            margin-top: 0;
            height: auto;
            border-top: 1px solid #444;
        }
        .col-info {
            padding-top: 16px;
        }
        .col-status{
            padding-bottom: 18px;
        }
        .confirmar {
            font-size: 12px;
            padding: 4px 9px 3px;
            position: relative;
            top: -5px;
        }
        .recusar {
            font-size: 12px;
            padding: 4px 10px 3px;
            position: relative;
            top: -5px;
        }
        .btn-add{
            line-height: 23px;
        }
    }
    #compromisso{
        .col-data, .col-pet, .col-hospede, .col-valor, .col-info{
            width: 50%;
        }
        .col-data{
            margin-top: 22px;
            padding-top: 0;
            height: auto;
            height: 14px;
            line-height: 14px;
        }
        .col-info{
            margin-top: 22px;
        }
        .table-column-name{
            .col-data, .col-pet, .col-hospede, .col-valor, .col-info{
                width: 100%;
            }
        }
        .table-column-name{
            .col-data{
                margin-top: 22px;
                padding-top: 0;
                height: 14px;
                line-height: 14px;
            }
            .col-status{
                margin-top: 22px;
            }
        }
        .btn-add{
            line-height: 23px;
        }
    }
}
