.tornar-se-anfitriao {
    .form-container {
        background-image: url('../../img/form/homem-de-oculos-abracando-cachorro.jpg');
        min-height: 808px;
        @include clearfix();
        position: relative;
        float: left;
        width: 100%;
        background-position: center 0;
        background-size: cover;
        z-index: 2;
        &:after {
            content: "";
            display: block;
            @extend .i-selo;
            position: absolute;
            left: 50%;
            margin-left: -112px;
            top: 94%;
        }
    }
    .chamada-wrapper {
        float: left;
        width: 310px;
        margin: 176px 0 0 65px;
        text-align: center;
        color: #fff;
        span {
            display: block;
        }
        span:first-child {
            font: 40px $proxima-nova-extrabold;
            text-transform: uppercase;
            color: #58C9D2;
        }
        span+span {
            font: 30px $proxima-nova-bold;
            line-height: 1;
        }
    }
    form {
        float: right;
        max-width: 595px;
        margin: 70px 138px 0 0;
        @include clearfix();
        textarea {
            height: 64px;
            padding: 14px 88px 0 21px;
        }
    }
    .form-control,
    .select-personalizado,
    .btn-icon {
        width: 274px;
        float: left;
        margin: 11px;
    }
    .select-personalizado {
        max-width: none;
        height: 64px;
        .seta {
            width: 16px;
            height: 17px;
            background-position: -287px -46px;
            right: 17px;
            left: auto;
        }
    }
    .text-wrapper {
        font: 12px $proxima-novabold-italic;
        color: #fff;
        margin: 11px;
        margin-top: 42px;
        &.mb-132{
            margin-bottom: 132px;
        }
        float: left;
        span {
            display: block;
            text-align: left;
            &:first-child {
                width: 280px;
                max-width: 100%;
                margin-bottom: 13px;
            }
            a {
                color: #58C9D2;
            }
        }
        +.btn-icon {
            width: 212px;
            margin-top: 46px;
            float: right;
        }
    }
    .topicos-container {
        color: #525252;
        background: #ddd;
        min-height: 755px;
        padding-top: 288px;
        position: relative;
        &:before,
            &:after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:before {
            height: 153px;
            background-image: url('../img/tornar-se-anfitriao/fundo-patas.jpg');
            top: 0;
        }
        &:after {
            height: 71px;
            background-image: url('../img/como-funciona/como-funciona-patas.png');
            bottom: 0;
        }
    }
    .topicos-wrapper {
        @include clearfix();
        margin-top: 35px;
        margin-bottom: 28px;
        +.text {
            padding-bottom: 120px;
        }
    }
    .topico {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-bottom: 24px;
        position: relative;
        .i-container {
            display: inline-block;
            vertical-align: middle;
            width: 8%;
            margin-right: 2.5%;
        }
        .i-pata {
            display: inline-block;
            width: 31px;
            height: 27px;
            background: url(../img/sprite.png) no-repeat;
            background-position: -325px -39px;
        }
        .texto {
            width: 86.84%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .text,
    .topicos-wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }
    .title-page {
        display: block;
        margin-bottom: 35px;
    }
    .text {
        font: 20px $proxima-nova-extrabold;
        color: #2C99A5;
        text-transform: uppercase;
        display: block;
        line-height: 1;
    }
    .opcoes {
        padding-bottom: 75px;
    }
    .chamada-cadastrar {
        @include clearfix();
        position: relative;
        z-index: 2;
        border-top: 1px solid #ccc;
        width: 879px;
        max-width: 100%;
        margin: 45px auto 0;
        padding-top: 85px;
        .text {
            font-size: 24px;
            width: 405px;
            max-width: 100%;
            margin-right: 25px;
            margin-left: 17%;
            text-align: right;
            float: left;
        }
        .btn-icon-flecha-cima {
            width: 212px;
            margin-top: 0;
            float: left;
        }
    }
}

@media(max-width: 991px) {
    .tornar-se-anfitriao {
        .chamada-wrapper,
        form {
            float: none;
            margin: 0 auto;
        }
        .chamada-wrapper {
            max-width: 310px;
            margin-top: 70px;
            margin-bottom: 60px;
        }
        .form-container {
            padding-bottom: 85px;
            background-position: 73% 50%;
        }
        .topicos-container {
            .title-page {
                font-size: 20px;
                margin-bottom: 50px;
            }
        }
        .text-wrapper.mb-132{
            margin-bottom: 0;
        }
        .text,
        .topicos-wrapper {
            margin-left: 70px;
            margin-right: 50px;
        }
        .topicos-wrapper {
            font-size: 14px;
            margin-top: 17px;
            +.text {
                text-align: center;
            }
        }
        .topico {
            .i-container {
                width: 14%;
                margin-right: 0;
            }
            .texto {
                width: 83.84%;
            }
        }
        .opcoes {
            .title-page {
                font-size: 24px;
            }
            .opcao .desc {
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
        .chamada-cadastrar {
            width: 93%;
            margin: 45px auto 0;
            .text {
                width: 385px;
                margin-left: 3%;
                margin-right: 5px;
            }
        }
    }
}

@media(max-width: 479px) {
    .tornar-se-anfitriao {
        .chamada-wrapper {
            margin-bottom: 70px;
            span:first-child {
                font-size: 30px;
                +span {
                    font-size: 20px;
                }
            }
        }
        form {
            padding-left: 28px;
            padding-right: 28px;
            textarea {
                padding-right: 58px;
            }
        }
        .form-control,
        .select-personalizado,
        .input-icon {
            width: 100%;
            float: none;
            display: block;
            margin: 0;
            margin-bottom: 20px;
        }
        .btn-icon {
            width: 100%;
            max-width: 274px;
            margin: 0;
            margin-bottom: 20px;
        }
        .text-wrapper {
            margin: 0;
            margin-top: 10px;
            span:first-child {
                width: 100%;
            }
            +.btn-icon {
                width: 100%;
                max-width: 274px;
                margin: 0;
                margin-top: 25px;
            }
        }
        .form-container:after {
            width: 125px;
            height: 159px;
            top: 98%;
            margin-left: -62px;
        }
        .text,
        .topicos-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
        .text {
            font-size: 16px;
        }
        .topicos-wrapper {
            padding: 0 24px 0;
            margin-bottom: 12px;
        }
        .topicos-container {
            padding: 185px 5px 85px;
            &:before {
                height: 105px;
            }
            &:after {
                height: 51px;
            }
            .title-page {
                font-size: 16px;
            }
            .text {
                padding: 0 24px 0;
            }
        }
        .topico {
            width: 100%;
            .i-container {
                margin-right: 3%;
            }
            .texto {
                width: 80.84%;
            }
        }
        .opcoes {
            padding-top: 40px;
            padding-bottom: 50px;
            .title-page {
                font-size: 16px;
                &:after {
                    width: 85px;
                    bottom: -20px;
                    margin-left: -42px;
                }
            }
            .opcao {
                margin-top: 63px;
                +.opcao {
                    margin-top: 40px;
                }
                .desc {
                    font-size: 16px;
                }
            }
        }
        .chamada-cadastrar {
            padding-top: 42px;
            .text {
                font-size: 16px;
                text-align: center;
                width: 87%;
                margin: 0 auto 35px;
                float: none;
                display: block;
            }
            .btn-icon {
                width: 238px;
                float: none;
                display: block;
                margin: 0 auto 0;
            }
        }
    }
}
