<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @FAZER: FILTRO && Limpar, JS AVALIACAO
 */

$modalidade = input()->_toGet("modalidade", "%d");
$cep = input()->_toGet("cep", "xss%s");
$datainicio = input()->_toGet("datainicio", "%s");
$datafim = input()->_toGet("datafim", "xss%s");
$ambienteg = (int) input()->_toGet('ambiente', '%d', false);
$tamanho = (int) input()->_toGet('tamanho', '%d', false);
$cidade = (int) input()->_toGet('id_cidade', '%d', false);
$cepgeo = input()->getSession('cepgeo');

$is = is();

//if ($is->nul($datainicio) === true) {
//    $datainicio = date('d/m/Y');
//}

$valorinicio = input()->_toGet('valorinicio', 'xss%s', false);
$valorfim = input()->_toGet('valorfim', 'xss%s', false);

$countanfitriao = count($anfitriaoList);

/* @var $anfitriaoVmax \Codando\Modulo\Anfitriao */
$anfitriaoVmax = current(app()->listModulo('anfitriao', ' qthospede >= 1 && status = 1 ', 1, ' valordiariahospedagem DESC, valordiariadaycare DESC '));

if (is_instanceof('Codando\Modulo\Anfitriao', $anfitriaoVmax)) {
    
    $valordmax = $anfitriaoVmax->getValordiariadaycare(false);
    $valorhmax = $anfitriaoVmax->getValordiariahospedagem(false);
    $valormax = $valordmax;
    if($valorhmax > $valordmax){
        $valormax = $valorhmax;
    } 

    $valormax = number_format((float)$valormax, 0, ",", ".");
}

$anfitriaoVmin = current(app()->listModulo('anfitriao', ' qthospede >= 1 && status = 1 ', 1, ' valordiariahospedagem ASC, valordiariadaycare ASC '));

if (is_instanceof('Codando\Modulo\Anfitriao', $anfitriaoVmin)) {
    
    $valordmin = $anfitriaoVmin->getValordiariadaycare(false);
    $valorhmin = $anfitriaoVmin->getValordiariahospedagem(false);
    $valormin = $valordmin;
    if($valorhmin < $valordmin){
        $valormin = $valorhmin;
    } 

    $valormin = number_format((float)$valormin, 0, ",", ".");
}

$modalidade = $modalidade < 1 ? 0 : $modalidade;

$this->display('header', array('menuCurrent' => $menuCurrent));
?>

<section class="encontre-um-anfitriao">
    <header class="title-section-container">
        <h1 class="title-section">Encontre um anfitrião</h1>
    </header>

    <div class="main-content">
        <form data-controller="busca" action="/encontre-um-anfitriao">
            <input type="hidden" name="id_cidade" value="<?= $cidade; ?>" />
            <input type="hidden" name="latlong" value="" />
            <label for="modalidade" hidden class="hide">Modalidade</label>
            <div class="select-personalizado">
                <span class="label">Modalidade</span>
                <i class="seta"></i>
                <select id="modalidade" name="modalidade" placeholder="Modalidade" class="selected">
                    <option value="1"<?= $modalidade == 1 ? ' selected' : NULL; ?>>Hospedagem</option>
                    <option value="2"<?= $modalidade == 2 ? ' selected' : NULL; ?>>Daycare</option>
<!--                    <option value="3"<?= $modalidade == 3 ? ' selected' : NULL; ?>>Hospedagem e Daycare</option>-->
                </select>
            </div>

            <label for="cep" hidden class="hide">CEP</label>
            <input type="text" id="cep" name="cep" value="<?= $cep; ?>" placeholder="cep" class="input input-medium">

            <label for="data-inicio" hidden class="hide">DATA INICIAL</label>
            <div class="input-icon input-icon-calendar">
                <input type="text" id="data-inicio" name="datainicio" value="<?= $datainicio; ?>" placeholder="DATA INICIAL" class="input input-medium" data-datepicker>
            </div>

            <label for="data-fim" hidden class="hide">DATA FINAL</label>
            <div class="input-icon input-icon-calendar">
                <input type="text" id="data-fim" name="datafim" value="<?= $datafim; ?>" placeholder="DATA FINAL" class="input input-medium" data-datepicker>
            </div>

            <label for="tamanho" class="none">TAMANHO DO PET</label>
            <div class="select-personalizado">
                <span class="label">TAMANHO DO PET</span>
                <i class="seta"></i>
                <select id="tamanho" name="tamanho" class="selected">
                    <option value=""></option>
                    <?php
                    /* @var $tamanhopet \Codando\Modulo\Tamanhopet */
                    foreach ($tamanhopetList as $tamanhopet) {
                        ?>
                        <option value="<?= $tamanhopet->getId(); ?>" <?= $tamanho == $tamanhopet->getId() ? ' selected' : NULL; ?>><?= $tamanhopet->getTitulo(); ?></option>
                    <? } ?>
                </select>
            </div>

            <label for="ambiente" class="none">TIPO DE AMBIENTE</label>
            <div class="select-personalizado">
                <span class="label">TIPO DE AMBIENTE</span>
                <i class="seta"></i>
                <select id="ambiente" name="ambiente" class="selected">
                    <option value=""></option>
                    <?php
                    /* @var $ambiente \Codando\Modulo\Ambiente */
                    foreach ($ambienteList as $ambiente) {
                        ?>
                        <option value="<?= $ambiente->getId() ?>" <?= $ambienteg == $ambiente->getId() ? ' selected' : NULL; ?>><?= $ambiente->getTitulo(); ?></option>
                    <? } ?>
                </select>
            </div>

            <div class="range-wrapper">
                <span class="text">PREÇO DA DIÁRIA:</span>
                <span class="valor valor-min">R$ 0</span>
                <input id="valorinicio" maxlength="256" name="valorinicio" placeholder="R$ 0" value="<?= $valorinicio; ?>" data-min="<?= $valormin; ?>"  type="hidden">
                <input id="valorfim" maxlength="256" name="valorfim" placeholder="R$ 200,00" value="<?= $valorfim; ?>" data-max="<?= $valormax; ?>" type="hidden">
                <div class="input-range noUi-target noUi-ltr noUi-horizontal noUi-background" data-min="<?= $valormin; ?>" data-max="<?= $valormax; ?>" data-star="<?= $valorinicio; ?>" data-end="<?= $valorfim; ?>" data-step="5"></div>
                <span class="valor valor-max">R$ 200</span>
            </div>

            <div class="btn-wrapper">
                <button type="submit" class="btn btn-extra-big btn-danger">Filtrar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <div class="dados-resultado">
            <? if ($countanfitriao < 1) { ?>
                <span class="total">NÃO ENCONTRAMOS ANFITRIÕES.</span>
            <? } else { ?>
                <span class="total">ENCONTRAMOS <?= $countanfitriao ?> ANFITRIÕES.</span>
            <? } ?>
            <!--<a href="#" class="limpar">Limpar Filtro</a>-->
        </div>
    </div>

    <div class="container" <? if($cep != NULL) { ?> data-cepgeo="<?= $cepgeo; ?>" <?}?> data-controller="anfitriaolist">
        <div class="resultados-wrapper">
            <?php
            /* @var $anfitriaoTemp \Codando\Modulo\Anfitriao */
            foreach ($anfitriaoList as $anfitriaoTemp) {

                $arfitriao_url = $anfitriaoTemp->getUrl();

                $petanfitriaoCount = app()->countModulo('petanfitriao', array(' id_anfitriao = :anfitriao ', array('anfitriao' => $anfitriaoTemp->getId())));
                /* @var $imagemTemp \Codando\Modulo\Arquivo */
                $imagemTemp = is_instanceofOrNew('Codando\Modulo\Arquivo', $anfitriaoTemp->getArquivo());
                ?>
                <div class="resultado" data-title="<?= $anfitriaoTemp->getNome(); ?>" data-latlong="<?= $anfitriaoTemp->getLatlong(); ?>">
                    <div class="box-img">
                        <a href="<?= $arfitriao_url; ?>?modalidade=<?= $modalidade ?>" class="imagem">
                            <img src="<?= $imagemTemp->getImage(303,303) ?>" alt="<?= $anfitriaoTemp->getNome(); ?>">
                        </a>
                    </div>

                    <div class="box-info">
                        <a href="<?= $anfitriaoTemp->getUrl(); ?>?modalidade=<?= $modalidade ?>"><span class="nome" title="<?= $anfitriaoTemp->getNome(); ?>"><?= $anfitriaoTemp->shortNome(); ?></span></a>
                        <span class="local"><?= $anfitriaoTemp->getCidade()->getNome() . ' - '. $anfitriaoTemp->getCidade(); ?></span>
                        <?php if ($petanfitriaoCount > 0) { ?>
                            <span class="possui-animais">Este Anfitrião possui animais</span>
                        <?php } ?>
                    </div>

                    <div class="box-price">
                        <? if ($modalidade == 1 || $modalidade == 3) { ?>
                            <span class="preco">R$ <span><?= $anfitriaoTemp->getValordiariahospedagem(); ?></span></span>
                            <span class="periodo">POR NOITE</span>
                        <? } ?>
                        <? if ($modalidade == 2 || $modalidade == 3) { ?>
                            <span class="preco">R$ <span><?= $anfitriaoTemp->getValordiariadaycare(); ?></span></span>
                            <span class="periodo">POR DIA</span>
                        <? } ?>
                        <? if ($modalidade == 0) { ?>
                            <span class="preco">R$ <span><?= ($anfitriaoTemp->getValordiariahospedagem() > 0 ? $anfitriaoTemp->getValordiariahospedagem():$anfitriaoTemp->getValordiariadaycare()); ?></span></span>
                            <span class="periodo">POR <?= ($anfitriaoTemp->getValordiariahospedagem() > 0 ? " NOITE":" DIA"); ?></span>
                        <? } ?>
                    </div>

                    <div class="box-avaliacao anfitriao-interna">
                        <div class="estrelas patas no-botton" data-ava="<?= $anfitriaoTemp->getAvaliacao(); ?>">
                            <i class="pata<?= $anfitriaoTemp->getAvaliacao() >= 1 ? ' active' : NULL; ?>"></i>
                            <i class="pata<?= $anfitriaoTemp->getAvaliacao() >= 2 ? ' active' : NULL; ?>"></i>
                            <i class="pata<?= $anfitriaoTemp->getAvaliacao() >= 3 ? ' active' : NULL; ?>"></i>
                            <i class="pata<?= $anfitriaoTemp->getAvaliacao() >= 4 ? ' active' : NULL; ?>"></i>
                            <i class="pata<?= $anfitriaoTemp->getAvaliacao() >= 5 ? ' active' : NULL; ?>"></i>
                        </div>
                        <span class="avaliacoes"><?= $anfitriaoTemp->getQtdavaliacao(); ?> Avaliações</span>
                    </div>
                </div>
            <?php } ?>
        </div>
        <? if ($countanfitriao > 0) { ?>
            <div id="mapa" class="mapa-wrapper" style="position: relative;overflow: hidden;min-width: 300px;min-height: 800px;">

            </div>
        <? } ?>
        <div class="clearfix"> </div>
        <?= $paginacao; ?>
    </div>
  
</section>

<?
$this->display('footer', array('menuCurrent' => $menuCurrent));
