<?php

$this->display('header', array('menuCurrent' => $menuCurrent));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Tornar-se um anfitrião</h1>
    </header>

    <p class="text-sub">Preencha os campos para se tornar um anfitrião na DogSafe.</p>

    <div class="container tornar-se-anfitriao">
        <div class="form-container">
             <form data-controller="paypalconta">
                 <div class="chamada-wrapper" style="width:532px;">
                    <span>TEM CONTA NO PAYPAL COMO VENDEDOR?</span>
                    <span>Caso não tenha crie sua conta <a style="color: #58c9d2;" href="https://www.paypal.com/br/signup/account/premier?country.x=BR&Z3JncnB0=" target="_blank">aqui</a>.</span>
                    <button id="jatenho" type="button" class="btn-icon btn-icon-flecha">Já tem, então continue</button>
                </div>
             </form>
            <div class="chamada-wrapper paypalconta hide">
                <span>AMA ANIMAIS?</span>
                <span>Venha fazer parte da nossa comunidade.</span>
            </div>

            <form data-action="/tornar-se-anfitriao" class="hide paypalconta" data-controller="form" data-upload="/upload">
                <span class="feedback c-white" style="width: 100%"></span>
                <input name="latlong" type="hidden" value="" />
                <div class="clearfix"></div>
                <label for="email" class="none">e-mail</label>
                <input type="text" id="email" name="email" class="form-control" data-toggle="tooltip" data-placement="top" title="E-mail da sua conta Paypal *" placeholder="e-mail*">

                <label for="nome-completo" class="none">nome completo</label>
                <input type="text" id="nome-completo" name="nome" class="form-control" placeholder="Nome completo*" required>

                <label for="cpf" class="none">cpf</label>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF *" required>

                <label for="celular" class="none">celular</label>
                <input type="text" id="celular" name="celular" data-celular class="form-control" placeholder="Celular *" required>

                <label for="cep" class="none">cep</label>
                <input type="text" id="cep" name="cep" class="form-control" placeholder="CEP *">
                
                <label for="bairro" class="none">bairro</label>
                <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Bairro *">
                
                <label for="endereco" class="none">endereço</label>
                <input type="text" style="width: 96%" id="endereco" name="endereco" class="form-control" placeholder="Endereço *">

                <div class="select-personalizado">
                    <span class="label">Estado</span>
                    <i class="seta"></i>
                    <select id="estado" name="estado" placeholder="Estado" class="selected estado">
                        <option class="primeiro">selecione*</option>
                        <?php
                        
                        $estadoList = app()->listModulo('estado');
                        /* @var $estado \Codando\Modulo\Estado */
                        foreach ($estadoList as $estado) { ?>
                            <option value="<?= $estado->getId(); ?>" data-sigla="<?= $estado->getSigla(); ?>"><?= $estado->getNome(); ?></option>
                        <? } ?>
                    </select>
                </div>

                <div class="select-personalizado">
                    <span class="label">Cidade</span>
                    <i class="seta"></i>
                    <select id="cidade" name="id_cidade" placeholder="Cidades" class="selected cidade">
                        <option class="primeiro">selecione*</option>
                    </select>
                </div>

                <label for="senha" class="none">Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha*">
                
                <label for="confsenha" class="none">Confirma Senha</label>
                <input type="password" id="confsenha" name="confsenha" class="form-control" placeholder="Confirma Senha *">
                
<!--                 <label for="horaentrevista" class="hide">HORA DA ENTREVISTA</label>
                <input type="text" id="horaentrevista" name="horaentrevista" data-toggle="tooltip" data-placement="top" title="Horário de brasília entre às 08:00 e 18:00" placeholder="HORA DA ENTREVISTA" class="form-control" data-mask='99:99' required>-->
                
                 <label for="data-entrevista" class="hide">DATA DA ENTREVISTA COM A DOG SAFE</label>
                <div class="input-icon input-icon-calendar">
                    <input type="text" id="data-entrevista" name="dataentrevista" placeholder="DATA DA ENTREVISTA *" class="form-control" data-mask='99/99/9999' data-datepicker required>
                </div>
                 
                <div class="select-personalizado">
                    <span class="label">HORA DA ENTREVISTA *</span>
                    <i class="seta"></i>
                    <select id="cidade" name="horaentrevista" data-toggle="tooltip" data-placement="top" title="Horário de Brasília entre às 08:00 e 21:00" placeholder="HORA DA ENTREVISTA *" class="selected">
                        <option class="primeiro" value="">Horário da Entrevista *</option>
                        <?php
                        $datehoraentr = new DateTime('2017-02-01 08:00');
                        for($hs=0; $hs < 27; $hs ++){ ?>
                            <option value="<?= $datehoraentr->format('H:i'); ?>"><?= $datehoraentr->format('H:i'); ?></option>
                        <? $datehoraentr->modify('+30 minutes'); } ?>
                    </select>
                </div>
                
                <a class="btn-icon btn-icon-camera file-uploader" id="perfil-uploaded" data-name="perfil" data-text="<span class='label'>INSERIR FOTO DE PERFIL</span>"></a>
                <a class="btn-icon btn-icon-camera file-uploader upload-file" id="casa-uploaded" data-mult='5' data-name="casa" data-text="<span class='label'>INSERIR ATÉ 5 FOTOS DA CASA</span>"></a>
                <div class='clearfix'></div>
                <div class='casa-uploaded text-wrapper mt-10 to-none'></div>
                <div class="text-wrapper mb-132">
                    <span>Ao se cadastrar você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
                    <span>* Seu CPF só será usado para cadastro no site e segurança.</span>
                </div>

                <button type="submit" class="btn-icon btn-icon-flecha">CADASTRE-SE</button>
            </form>
        
        </div>
        <div class="clearfix"></div>
        <div class="topicos-container">
            <span class="title-page">POR QUE VOCÊ VAI GOSTAR DE FAZER PARTE DA DOG SAFE:</span>

            <span class="text">VOCÊ NO CONTROLE</span>

            <div class="topicos-wrapper text-sub">
                <div class="topico">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <div class="texto">Sinalize o serviço que você pode oferecer: Day Care, Hospedagem;</div>
                </div>

                <div class="topico">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <div class="texto">Trabalhe fazendo o que ama;</div>
                </div>

                <div class="topico">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <div class="texto">Escolha o tipo de Pet que você gostaria de receber: Tamanho, idade por exemplo;</div>
                </div>

                <div class="topico">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <div class="texto">Reserva e pagamento online.</div>
                </div>

                <div class="topico">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <div class="texto">Controle a sua agenda;</div>
                </div>
            </div>

            <span class="text">TODA RESERVA POSSUI COBERTURA VETERINÁRIA PARA EMERGÊNCIAS DE ATÉ R$ 5 MIL REAIS.</span>
        </div>

        <div class="opcoes">
            <h2 class="title-page">COMO EU COMEÇO?</h2>
            <?php
            
            $comocomecoList = app()->listModulo('comocomeco', NULL, 3, ' ordem DESC ');
            $ordem = 1;
            /* @var $comocomeco \Codando\Modulo\Comocomeco */
            foreach ($comocomecoList as $comocomeco) {
                
                $imageComo = is_instanceofOrNew('Codando\Modulo\Arquivo', $comocomeco->getArquivo());
                
            ?>
            <div class="opcao text-sub">
                <a href="#" class="imagem">
                    <img src="<?= $imageComo->getImage(); ?>">
                    <span class="circle"><?= $ordem++; ?></span>
                </a>
                <span class="desc"><?= $comocomeco->getTitulo() ?></span>
                <div class="text-content">
                    <?= $comocomeco->getTexto(); ?>
                </div>
            </div>
            <? } ?>

            <div class="chamada-cadastrar">
                <span class="text">COMECE JÁ, VENHA FAZER PARTE DA NOSSA COMUNIDADE</span>
                <a href="#top" class="btn-icon btn-icon-flecha-cima">CADASTRE-SE</a>
            </div>
        </div>
        <?php
        
        $faqList = app()->listModulo('faq', 'tipo = 1', 4);
        
        ?>
        <div class="perguntas-frequentes" data-controller="faq">
            <div class="perguntas-container">
                <h2 class="title-page">PERGUNTAS FREQUENTES</h2>
                <?php 
                /* @var $faq  \Codando\Modulo\Faq */
                foreach ($faqList as $faq) {
                ?>
                    <div class="pergunta-wrapper">
                        <span class="pergunta"><?= $faq->getPergunta(); ?></span>
                        <div class="resposta text-sub"><?= $faq->getResposta(); ?></div>
                    </div>
                <?php } ?>

                <span class="duvidas">Quer tirar mais dúvidas? Acesse nossa página de <a href="/perguntas-frequentes">Perguntas Frequentes.</a></span>
            </div>
        </div>

        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
