<?php
/* @var $anfitriao \Codando\Modulo\Anfitriao */
$anfitriao;

/* @var $imageTemp \Codando\Modulo\Arquivo */
$imageTemp = is_instanceofOrNew('Codando\Modulo\Arquivo', $anfitriao->getArquivo());

/* @var $anfitriaomodalidade <Array>\Codando\Modulo\Anfitriaomodalidade */
$anfitriaomodalidade;

$countanfitriao = count($anfitriaomodalidade);

$textModalidade = '';
$currentModalidade = 0;

if (count($anfitriaomodalidade) > 1) {
    $textModalidade = 'Hospedagem e DayCare';
} else {

    $antmodalidade = current($anfitriaomodalidade);
    $currentModalidade = $antmodalidade->getModalidade()->getId();
    $textModalidade = $antmodalidade->getModalidade();
}

$urlfull = COD_URL . $anfitriao->getUrl();

$modalidade = input()->_toGet("modalidade", "%d");

$this->display('header', array('menuCurrent' => $menuCurrent));
?>
<section class="anfitriao-interna" data-anfitriao="<?= $anfitriao->getId() ?>" data-logado="<?= input()->getSession('logado') > 0 ? 'true' : 'false'; ?>"  data-controller="anfitriao">
    <header class="header-wrapper">
        <div class="container">
            <? if (input()->getSession('logado') > 0 && ( input()->getSession('logadoanfitriao') != $anfitriao->getId() && input()->getSession('logadocadastro') > 0 )) { ?>
            <a href="/chat/<?= $anfitriao->getId() ?>" class="btn-icon btn-icon-fale">FALE COM O ANFITRIÃO <span class="agende-tx">Agende uma visita</span></a>
            <? } ?>
            <div class="text-wrapper">
                <h1 class="h-title"><?= $anfitriao->shortNome(); ?></h1>
                <span class="tipo"><?= $textModalidade; ?></span>
            </div>

            <div class="patas-wrapper">
                <ul class="patas">
                    <li class="pata<?= $anfitriao->getAvaliacao() >= 1 ? ' active' : NULL; ?>"></li>
                    <li class="pata<?= $anfitriao->getAvaliacao() >= 2 ? ' active' : NULL; ?>"></li>
                    <li class="pata<?= $anfitriao->getAvaliacao() >= 3 ? ' active' : NULL; ?>"></li>
                    <li class="pata<?= $anfitriao->getAvaliacao() >= 4 ? ' active' : NULL; ?>"></li>
                    <li class="pata<?= $anfitriao->getAvaliacao() >= 5 ? ' active' : NULL; ?>"></li>
                </ul>
                <span><?= $anfitriao->getQtdavaliacao(); ?> Avaliações</span>
            </div>
        </div>
    </header>

    <div class="container" data-controller="carrossel">
        <div class="galeria">
            <div class="foto-maior" style="overflow: hidden;">
                <a href="<?= $imageTemp->getImage(); ?>" class="fancybox" data-rel="1" >
                    <img src="<?= $imageTemp->getImage(1024); ?>" alt="">
                </a>
            </div>
            <?php
            $arquivoList = $anfitriao->getArquivoList();
            if (count($arquivoList) > 1) {
                ?>
                <div class="carrossel" data-carrossel>
                    <span class="i-wrapper" data-prev>
                        <img src="/img/galeria/prev.png" alt="">
                    </span>
                    <div class="wrapper">
                        <?php
                        /* @var $arquivoItem \Codando\Modulo\Arquivo */
                        foreach ($arquivoList as $arquivoItem) {
                            if ($arquivoItem->isEquals($imageTemp) == false) {
                                ?>
                                <a href="<?= $arquivoItem->getImage(); ?>" data-rel="1" class="imagem-wrapper fancybox">
                                    <img src="<?= $arquivoItem->getImage(1024); ?>" alt="">
                                </a>
                                <?
                            }
                        }
                        ?>
                    </div>
                    <span class="i-wrapper" data-next>
                        <img src="/img/galeria/next.png" alt="">
                    </span>
                </div>
            <? } ?>

        </div>

        <form action="/reserva/<?= $anfitriao->getId(); ?>" method="POST" class="form-wrapper">

            <div class="input-holder">

                <? if ($countanfitriao == 2) { ?>
                    <label for="modalidade" class="none">Modalidade</label>
                    <div class="select-personalizado" style="max-width:inherit;margin-bottom:17px;margin-top:-29px;background:#555;border:none;">
                        <span class="label">Modalidade</span>
                        <i class="seta"></i>
                        <select id="modalidade" name="id_modalidade" placeholder="Modalidade" class="selected">
                            <option value="1"<?= $modalidade == 1 ? ' selected' : NULL; ?> data-valor="<?= $anfitriao->getValordiariahospedagem(); ?>">Hospedagem</option>
                            <option value="2"<?= $modalidade == 2 ? ' selected' : NULL; ?> data-valor="<?= $anfitriao->getValordiariadaycare(); ?>">Daycare</option>
                        </select>
                    </div>
                <? } else { ?>
                    <input value="<?= $antmodalidade->getModalidade()->getId() ?>" name="id_modalidade" type="hidden">
                <? } ?>

                <label for="datainicio" class="none">DATA INÍCIO</label>
                <div class="input-icon input-icon-calendar">
                    <input type="text" id="datainicio" name="datainicio" placeholder="DATA INÍCIO" required class="input input-medium">
                </div>

                <label for="datafim" class="none">DATA FINAL</label>
                <div class="input-icon input-icon-calendar">
                    <input type="text" id="datafim" name="datafim" placeholder="DATA FINAL" class="input input-medium">
                </div>
            </div>

            <div class="input-holder">
                <? if ($countanfitriao == 2) { ?>
                    <div class="box-price">
                        <span class="preco">R$ <span><?= $anfitriao->getValordiariahospedagem() ?></span></span>
                        <span class="periodo">POR NOITE</span>
                    </div>
                <? } else { ?>
                    <div class="box-price">
                        <span class="preco">R$ <span><?= $currentModalidade == 2 ? $anfitriao->getValordiariadaycare() : $anfitriao->getValordiariahospedagem(); ?></span></span>
                        <span class="periodo"><?= $currentModalidade == 2 ? 'POR DIA' : 'POR NOITE' ?></span>
                    </div>
                <? } ?>

                <div class="box">
                    <button type="submit" class="btn btn-extra-big btn-danger">RESERVAR</button>
                    <!--<a href="#agendar" class="text" data-click>Agendar Visita</a>-->
                </div>

            </div>


        </form>

        <form data-action="/agendar/<?= $anfitriao->getId(); ?>" method="post" data-controller="form" class="form-wrapper agendar none">
            <div class="input-holder">
                <label for="data" class="none">DATA</label>
                <div class="input-icon input-icon-calendar">
                    <input type="text" id="data" name="data" placeholder="DATA" class="input input-medium" data-datepicker>
                </div>
                <div class="feedback"></div>
            </div>

            <div class="input-holder">
                <div class="box">
                    <button type="submit" class="btn btn-extra-big btn-danger">Agendar</button>
                    <a href="#reservar" class="text" data-click>Reservar</a>
                </div>

            </div>
        </form>

        <div class="reserva-wrapper">
            <div class="garantia">
                Fique tranquilo! Todas as hospedagens realizadas através da DogSafe estão cobertas por nossa Garantia Veterinária de até R$5.000
            </div>

            <span class="titulo">Perfil do anfitrião e ambiente</span>

            <div class="perfil-wrapper">
                <span class="topico casa">Ambiente: <?= $anfitriao->getAmbiente(); ?></span>
                <span class="topico olho">Supervisão <?= $anfitriao->getHorassupervisao(); ?>h</span>
                <span class="topico cachorro">Atende até <?= $anfitriao->getQthospede(); ?> hóspede(s)</span>
                <span class="topico pilula">Administra medicamento oral: <?= $anfitriao->getAdmmedicacaooral() == 1 ? 'Sim' : 'Não'; ?></span>
                <span class="topico cancelamento" data-toggle="tooltip" data-placement="top" title="<?= $anfitriao->getCancelamento()->getDescricao(); ?>">Cancelamento: <?= $anfitriao->getCancelamento(); ?></span>
            </div>
        </div>

        <div class="text-content">
            <span class="titulo">Sobre o Anfitrião</span>
            <?= $anfitriao->getSobre(); ?>
        </div>

        <div class="info-content">
            <div class="bloco">
                <span class="titulo">Calendário</span>

                <div class="box-agenda">
                    <div class="calendario-wrapper">
                        <div class="calendario" id="datepicker"></div>
                    </div>
                    <div class="wrapper">
                        <span class="disponivel">Anfitrião disponível</span>
                        <span class="indisponivel">Anfitrião indisponível</span>
                    </div>
                </div>
            </div>

            <div class="bloco">
                <span class="titulo">Preferência de Hospedagem</span>

                <div class="hospedagem-icons">
                    <div class="item">
                        <div class="img-wrapper">
                            <img src="/img/categorias-animais/ate5kg.png" alt="">
                        </div>
                        <span>Até 5 KG</span>
                        <i class="sprite i-<?= $anfitriao->getTamanhopet()->getId() >= 1 ? 'sim' : 'nao' ?>"></i>
                    </div>

                    <div class="item">
                        <div class="img-wrapper">
                            <img src="/img/categorias-animais/5kg-10kg.png" alt="">
                        </div>
                        <span>5-10 KG</span>
                        <i class="sprite i-<?= $anfitriao->getTamanhopet()->getId() >= 2 ? 'sim' : 'nao' ?>"></i>
                    </div>

                    <div class="item">
                        <div class="img-wrapper">
                            <img src="/img/categorias-animais/10kg-20kg.png" alt="">
                        </div>
                        <span>10-20 KG</span>
                        <i class="sprite i-<?= $anfitriao->getTamanhopet()->getId() >= 3 ? 'sim' : 'nao' ?>"></i>
                    </div>

                    <div class="item">
                        <div class="img-wrapper">
                            <img src="/img/categorias-animais/mais30kg.png" alt="">
                        </div>
                        <span>+ de 30 KG</span>
                        <i class="sprite i-<?= $anfitriao->getTamanhopet()->getId() >= 4 ? 'sim' : 'nao' ?>"></i>
                    </div>
                </div>

                <div class="hospedagem-text">
                    - <?= $anfitriao->getAceitamf() == 1 ? 'Aceita' : 'Não aceita'; ?> fêmeas;<br>
                    - <?= $anfitriao->getMedicacaooral() == 1 ? 'Aceita' : 'Não aceita'; ?> animais que tomam medicamentos orais;<br>
                    - <?= $anfitriao->getAceitapetsidade() == 1 ? 'Aceita' : 'Não aceita'; ?> animais de todas as idades;<br>
                    - <?= $anfitriao->getAnimalespecial() == 1 ? 'Aceita' : 'Não aceita'; ?> animais que requerem algum tipo de cuidado especial;<br>
                </div>

                <div class="diferenciais-text">
                    <span class="titulo">Diferenciais do Anfitrião</span>
                    <? if ($anfitriao->getProvidenciaracao() == 1) { ?>
                        - Providencia a ração para o hóspede;<br>
                    <? } ?>

                    - <?= ($anfitriao->getCaminhapote() == 1) ? 'Possui' : 'Não possui' ?> caminha, potes para o hóspede;<br>

                    <? if ($anfitriao->getBuscaleva() == 1) { ?>
                        - Busca e leva o hóspede em um raio de até <?= $anfitriao->getBuscakm(); ?>km.
                    <? } ?>
                </div>

                <div class="pets-anfitriao">
                    <span class="titulo">Pets do Anfitrião</span>
                    <?php
                    $machos = array();
                    $femea = array();

                   /* @var $petanf \Codando\Modulo\Petanfitriao */
                    foreach ($petanfitriao as $petanf) {
                        if ($petanf->getSexo() == 1) {
							if(is_instanceof('Codando\Modulo\Tamanhopet', $petanf->getTamanhopet()))
                            $machos[] = $petanf->getTamanhopet()->getTitulo();
                        } else {
							if( is_instanceof('Codando\Modulo\Tamanhopet', $petanf->getTamanhopet()) )
                            $femea[] = $petanf->getTamanhopet()->getTitulo();
                        }
                    }

                    $cmachos = count($machos);
                    $cfemea = count($femea);

                    $textLabel = array();

                    if ($cmachos > 0)
                        $textLabel[] = $cmachos . ' Macho(s) (com ' . implode(' e ', $machos) . ') ';

                    if ($cfemea > 0)
                        $textLabel[] = $cfemea . ' Fêmea(s) (com ' . implode(' e ', $femea) . ') ';
                    ?>
                    - <?= count($petanfitriao); ?> pet(s), sendo <?= implode('/', $textLabel); ?>
                </div>
            </div>
        </div>

        <div class="regiao-anfitriao">
            <span class="titulo">Região do Anfitrião</span>

            <? if ($anfitriao->getLatlong() !== NULL) { ?>
                <div class="mapa-wrapper" data-latlong="<?= $anfitriao->getLatlong(); ?>" data-title="<?= $anfitriao->getNome(); ?>">

                </div>
            <? } ?>
        </div>

        <? if (input()->getSession('logado') > 0 && ( input()->getSession('logadoanfitriao') != $anfitriao->getId() && input()->getSession('logadocadastro') > 0 )) { ?>
            <form data-action="/comentar/<?= $anfitriao->getId(); ?>" data-controller="form|comentar" class="form-comentario">
                <span class="titulo">Deixe o seu comentário</span>

                <div class="input-wrapper">
                    <label for="comentario" class="none">Comentario</label>
                    <textarea type="text" id="comentario" name="texto" placeholder="Escreva aqui o seu comentário sobre o anfitrião" required></textarea>
                    <input name="avaliacao" type="hidden" value="0" required/>
                    <div class="votacao-wrapper">
                        <span>Avalie este anfitrião</span>
                        <ul class="patas">
                            <li class="pata" data-val="1"></li>
                            <li class="pata" data-val="2"></li>
                            <li class="pata" data-val="3"></li>
                            <li class="pata" data-val="4"></li>
                            <li class="pata" data-val="5"></li>
                        </ul>
                    </div>
                </div>
                <span class="aviso feedback">* Você só poderá comentar e avaliar, caso utilize os serviços deste anfitrião.</span>
                <button type="submit" class="btn-icon btn-icon-flecha">COMENTAR</button>
            </form>
            <?
        }

        if (count($comentarioList) > 0) {
            ?>

            <div class="comentarios">
                <span class="titulo">Comentários (<?= count($comentarioList) ?>)</span>

                <?php
                /* @var $comentario \Codando\Modulo\Comentarioanfitriao */
                foreach ($comentarioList as $comentario) {

                    /* @var $cadastro \Codando\Modulo\Cadastro */
                    $cadastro = $comentario->getCadastro();

                    $avaliacao = $comentario->getAvaliacao();
                    ?>
                    <div class="comentario">
                        <span class="nome"><?= $cadastro->getNome(); ?></span>
                        <ul class="patas">
                            <li class="pata<?= $avaliacao >= 1 ? ' active' : NULL; ?>"></li>
                            <li class="pata<?= $avaliacao >= 2 ? ' active' : NULL; ?>"></li>
                            <li class="pata<?= $avaliacao >= 3 ? ' active' : NULL; ?>"></li>
                            <li class="pata<?= $avaliacao >= 4 ? ' active' : NULL; ?>"></li>
                            <li class="pata<?= $avaliacao == 5 ? ' active' : NULL; ?>"></li>
                        </ul>
                        <div class="comentario-text">
                            <?= $comentario->getTexto(); ?>
                        </div>
                    </div>             
                <? } ?>

            </div>
        <? } ?>
        <!--        <div class="widgets-container"> 
                    <div class="icones-compartilhar">
                        <span>COMPARTILHAR</span>
                        <a href="whatsapp://send?text=<?= urlencode($urlfull); ?>" class="sprite i-btn-whats"></a>
        
                        <div class="share-button share-facebook">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=<?= urlencode($urlfull); ?>" title="Compartilhar via Facebook" target="_blank" rel="external">
                                <div class="sprite i-btn-facebook"> </div>
                                <span class="none">Facebook</span>
                            </a>
                        </div>
        
                        <div class="share-button share-twitter">
                            <a href="https://twitter.com/home?status=<?= urlencode($urlfull); ?>" title="Compartilhar via Twitter" target="_blank" rel="external">
                                <div class="sprite i-btn-twitter"> </div>
                                <span class="none">Twitter</span>
                            </a>
                        </div>
        
                        <div class="share-button share-googleplus">
                            <a href="https://plus.google.com/share?url=<?= urlencode($urlfull); ?>" title="Compartilhar via Google" target="_blank" rel="external">
                                <div class="sprite i-btn-googleplus"> </div>
                                <span class="none">Google+</span>
                            </a>
                        </div>
                    </div>
                </div>-->
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => $menuCurrent));
