<?php

$this->display('header', array('menuCurrent' => $menuCurrent));

?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Cadastre-se</h1>
    </header>
    <p class="text-sub">Preencha os campos para realizar o seu cadastro na DogSafe</p>
    <div class="container">
        <div class="form-container cadastro">
  
            <form data-action="/cadastre-se" data-controller="form|cadastro">
                <span class="feedback" style="width: 100%"></span>
                <div class="clearfix"></div>
                <input type="hidden" id="latlong" name="latlong" value="">
                <label for="email" class="none">e-mail</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="e-mail*" required>

                <label for="nome-completo" class="none">nome completo</label>
                <input type="text" id="nome-completo" name="nome" class="form-control" placeholder="nome completo*" required>

                <label for="cpf" class="none">cpf</label>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="cpf*" required>

                <label for="celular" class="none">celular</label>
                <input type="text" id="celular" name="celular" class="form-control" data-celular placeholder="celular*" required>

                <label for="cep" class="none">cep</label>
                <input type="text" id="cep" name="cep" class="form-control" placeholder="cep*" required>

                <label for="endereco" class="none">endereco</label>
                <input type="text" id="endereco" name="endereco" class="form-control" placeholder="endereco*" required>
                
                <div class="select-personalizado">
                    <span class="label">Estado</span>
                    <i class="seta"></i>
                    <select id="estado" name="estado" placeholder="Estado" class="selected estado">
                        <option class="primeiro" value="">selecione*</option>
                        <?php
                        $estadoList = app()->listModulo('estado');

                        /* @var $estado \Codando\Modulo\Estado */
                        foreach ($estadoList as $estado) {
                            ?>
                            <option value="<?= $estado->getId(); ?>" data-sigla="<?= $estado->getSigla(); ?>"><?= $estado->getNome(); ?></option>
                        <? } ?>
                    </select>
                </div>

                <div class="wrapper">
                    <div class="select-personalizado">
                        <span class="label">Cidade</span>
                        <i class="seta"></i>
                        <select id="cidade" name="id_cidade" placeholder="Cidade" class="selected cidade">
                            <option class="primeiro" value="">selecione *</option>
                        </select>
                    </div>

                    <label for="senha" class="none">Senha</label>
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha*" required>
                </div>

                <a id="btn-facebook" class="btn-icon btn-icon-facebook">Entrar com facebook</a>
                <button type="submit" class="btn-icon btn-icon-flecha">Enviar</button>
            </form>

            <div class="text-wrapper">
                <span>Ao se cadastrar você concorda com os <a href="/termos">termos de uso</a> e a <a href="/privacidade">política de privacidade</a> da DogSafe</span>
                <span>* Seu CPF só será usado para cadastro no site e segurança.</span>
                <span>** Não publicaremos nada em seu Facebook, serve apenas para acesso rápido.</span>
            </div>
        </div>
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<?php

$this->display('footer', array('menuCurrent' => $menuCurrent));
