<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $pagina Codando\Modulo\Pagina
 */


/* @var $imagemTemp Codando\Modulo\Arquivo  */
$imagemTemp = is_instanceof('Codando\Modulo\Arquivo', $pagina->getArquivo()) ? $pagina->getArquivo() : NULL;

/* @var $pagina Codando\Modulo\Pagina  */
$pagina;

$countImg = count($pagina->getArquivoList());

$this->display('header', array('menuCurrent' => $menuCurrent));
?>


    <section class="sessao-como-funciona">
        <header class="title-section-container">
            <h1 class="title-section">Como funciona</h1>
        </header>

        <p class="text-sub">Com a DogSafe o seu melhor amigo estará em boas mãos. Saiba como funciona:</p>

        <div class="container">

            <div class="como-funciona-wrapper">
                <div class="imagens">
                    <div class="imagem">
                        <img src="/img/como-funciona/01.jpg" alt="">

                        <span class="text"><?= $pagina->getTitulo() ?></span>
                    </div>
                    <div class="imagem">
                        <img src="/img/como-funciona/02.jpg" alt="">

                        <span class="text"><?= $pagina->getSubtitulo(); ?></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="descricao">
                    <?= $pagina->getTexto(); ?>
                </div>

                <div class="opcoes">
                    <h2 class="title-page">ESCOLHA UMA DE NOSSAS OPÇÕES E FAÇA SUA RESERVA, É MUITO SIMPLES:</h2>
                    <?
                    $ordem = 1;
                    /* @var $comofunciona \Codando\Modulo\Comofunciona */
                    foreach ($comofuncionaList as $comofunciona) {

                        $imageComo = is_instanceofOrNew('Codando\Modulo\Arquivo', $comofunciona->getArquivo());

                    ?>
                    <div class="opcao text-sub">
                        <a href="#" class="imagem">
                            <img src="<?= $imageComo->getImage(); ?>">
                            <span class="circle"><?= $ordem++; ?></span>
                        </a>
                        <span class="desc"><?= $comofunciona->getTitulo() ?></span>
                        <div class="text-content">
                            <?= $comofunciona->getTexto(); ?>
                        </div>
                    </div>
                    <? } ?>

                </div>
            </div>

            <div class="widgets-container">
                <a href="/" class="btn-border">voltar</a>
            </div>
        </div>
    </section>


<?php

$this->display('footer', array('menuCurrent' => $menuCurrent));
