<?php
$this->display('header', array('menuCurrent' => 'index'));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">DADOS ENCONTRADOS.</h1>
    </header>

    <div class="container">
        <div class="col-4">
            <p class="text-sub">Contato <?= count($contatoList); ?>.</p><br>
            <div class="form-container fale-conosco contato">
                <form data-action="/deletar-fale-conosco" method="post" data-controller="form">
                    <div class="findlist">
                        <?php
                        /* @var $item \Codando\Modulo\Contato */
                        foreach ($contatoList as $k => $item) {
                            ?>
                            <div class="item">
                                <label for="contato<?= $k; ?>" class="input-wrapper">
                                    <input id="contato<?= $k; ?>" name="contato[<?= $k; ?>]" type="checkbox" class="checkbok">
                                    <span class="item-nome"><?= $item->getNome(); ?></span>
                                    <span class="item-data"><?= $item->getData(); ?></span>
                                </label>
                            </div>
                        <?php } ?>
                    </div>
                    <button class="btn-icon btn-danger">excluir</button>
                    <p class="feedback"></p>
                </form>
            </div>
        </div>
        <div class="col-4">
            <p class="text-sub">Cadastro <?= count($cadastroList); ?>.</p><br>
            <div class="form-container fale-conosco cadastro1">
                <form data-action="/deletar-cadastro" data-controller="form">
                    <div class="findlist">
                        <?php
                        /* @var $itemT \Codando\Modulo\Cadastro */
                        foreach ($cadastroList as $k => $itemT) {
                            ?>
                            <div class="input-wrapper">
                                <label for="cadastro<?= $k; ?>" class="input-wrapper">
                                    <span class="item-nome"><?= $itemT->getNome(); ?></span>
                                    <span class="item-data"><?= $itemT->getDatacadastro(); ?></span>
                                    <input id="cadastro<?= $k; ?>" name="cadastro[<?= $k; ?>]" placeholder="CPF*" type="text" required class="w-input input-cpf-delete">
                                </label>
                            </div>
                        <?php } ?>
                    </div>
                    <button class="btn-icon btn-danger">excluir</button>
                    <p class="feedback"></p>
                </form>
            </div>
        </div>
        <div class="col-4">
            <p class="text-sub">Anfitrião <?= count($anfitriaoList); ?>.</p><br>
            <div class="form-container fale-conosco anfitriao">
                <form data-action="/deletar-anfitriao" data-controller="form">
                    <div class="findlist">
                        <?php
                        /* @var $itemTe \Codando\Modulo\Anfitriao */
                        foreach ($anfitriaoList as $k => $itemTe) {
                            ?>
                            <div class="input-wrapper">
                                <span class="item-nome"><?= $itemTe->getNome(); ?></span>
                                <span class="item-data"><?= $itemTe->getDatacadastro(); ?></span>
                                <input id="cadastro<?= $k; ?>" name="anfitriao[<?= $k; ?>]" placeholder="CPF*" type="text" required class="w-input input-cpf-delete">
                            </div>
                        <?php } ?>
                    </div>
                    <button class="btn-icon btn-danger">excluir</button>
                    <p class="feedback"></p>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="widgets-container">
            <a href="/ver-meus-dados" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<style>
    .form-generic{
        background-position-x: 0;
    }
    .form-generic .form-container{
        padding: 130px 45px;
    }
    .form-generic .form-container.contato{
        background-position-x: 0;
    }
    .form-generic .form-container.anfitriao{
        background-position-x: 100%;
    }
    .form-generic .form-container.cadastro1{
        background-position-x: center;
    }
    .fale-conosco .input-wrapper{
        display: block;
        margin-bottom: 15px;
        color: #FFF;
    }
    .fale-conosco .input-wrapper .item-data{
        float: right;
    }
    .btn-danger{
        display: block;
        margin: 10px auto 0;
    }
    .input-cpf-delete{
        width: 100%;
        margin-top: 22px;
        display: block;
        vertical-align: middle;
        height: 64px;
        border: 2px solid #ddd;
        -webkit-border-radius: 7px;
        -khtml-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
        padding: 0 24px;
        font: 14px "proxima_novasemibold", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        color: #fff;
        text-align: left;
        background: transparent;
        position: relative;
        z-index: 2;
    }
    .fale-conosco form ::-webkit-input-placeholder {
        color: #FFF;
    }
    .fale-conosco form ::-moz-placeholder {
        color: #FFF;
    }
    .fale-conosco form :-ms-input-placeholder {
        color:  #FFF;
    }
    .fale-conosco form:-moz-placeholder {
        color: #FFF;
    }
    .feedback{
        margin-top: 15px;
        text-align: center;
    }
</style>
<?php
$this->display('footer', array('menuCurrent' => 'index'));
