<?php
$this->display('header', array('menuCurrent' => 'contato_view'));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">Fale conosco</h1>
    </header>

    <p class="text-sub">Preencha o formulário e entre em contato conosco. Será um prazer atendê-lo.</p>
    
    <div class="container">
        <div class="form-container fale-conosco">
            <form data-action="/fale-conosco" data-controller="form">
                <div class="input-wrapper">
                    <div class="input-holder">
                        <label for="nome" class="none">Nome</label>
                        <input type="text" id="nome" name="nome" class="form-control" placeholder="Nome*" required>

                        <label for="email" class="none">E-mail</label>
                        <input type="text" id="email" name="email" class="form-control" placeholder="E-mail*" required>

                        <label for="telefone" class="none">Telefone</label>
                        <input type="text" id="telefone" data-celular name="telefone" class="form-control" placeholder="Telefone*" required>
                    </div>
                    <div class="input-holder">
                        <label for="mensagem" class="none">Mensagem</label>
                        <textarea class="form-control" id="mensagem" name="mensagem" type="text" placeholder="Mensagem*"></textarea>
                    </div>
                </div>
                <div class="input-wrapper">
                    <div class="holder">
                        <span class="aviso">* Campos Obrigatórios</span>
                        <button type="submit" class="btn-icon btn-icon-flecha">Enviar</button>
                    </div>

                    <div class="holder">
                        <?php
                        /* @var $localizacao \Codando\Modulo\Localizacao */
                        $localizacao;

                        if (is_instanceof('Codando\Modulo\Localizacao', $localizacao) === true) {

                            $telefones = explode('/', $localizacao->getTelefone());

                            $telefone = array_map(function($tel) {
                                return '<a href="tel:' . $tel . '" class="telefone">' . $tel . '</a>';
                            }, $telefones);

                            $emails = explode('/', $localizacao->getEmail());

                            $email = array_map(function($em) {
                                return '<a href="mailto:' . $em . '" class="email">' . $em . '</a>';
                            }, $emails);

                            echo implode('', $telefone);

                            echo implode('', $email);
                        }
                        ?>
                    </div>
                    <div class="feedback c-white"></div>
                </div>
            </form>
        </div>

        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<?php
$this->display('footer', array('menuCurrent' => 'contato_view'));

