<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $depoimento \Codando\Modulo\Depoimento  */

$q = input()->_toGet("q", "xss%s");

$this->display('header', array('menuCurrent' => 'depoimento'));
?>

<section class="sessao-depoimentos">
    <header class="title-section-container">
        <h1 class="title-section">depoimentos</h1>
    </header>
    <p class="text-sub">Confira abaixo os depoimentos de quem confiou e aprovou os nossos serviços.</p>
    <div class="container" <?= count($depoimentoList) < 4 ? 'style="margin-bottom:55px;"' : ''; ?>>
        <section class="depoimentos text-sub text-sub-branco">
            <?php
            $depoimentoList = app()->listModulo('depoimento', NULL, 3, 'data DESC');

            /* @var $depoimentofirst \Codando\Modulo\Depoimento  */
            $depoimentofirst = array_shift($depoimentoList);

            /* @var $depoimentomiddle \Codando\Modulo\Depoimento  */
            $depoimentomiddle = array_shift($depoimentoList);

            /* @var $depoimentolast \Codando\Modulo\Depoimento  */
            $depoimentolast = array_shift($depoimentoList);

            if (is_instanceof('Codando\Modulo\Depoimento', $depoimentofirst) === true) {
                $imageDepoimentof = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentofirst->getArquivo());
                $text = $depoimentofirst->getTexto();
                ?>
                <article class="depoimento depoimento-principal">
                    <div class="i-mensagem-container">
                        <i class="sprite i-mensagem"></i>
                    </div>
                    <div class="text-wrapper"><?= $depoimentofirst->getTexto(); ?></div>
                    <div class="autor-container">
                        <a class="imagem-autor">
                            <img src="<?= $imageDepoimentof->getImage(); ?>">
                        </a>
                        <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentofirst->getNome(); ?></span>
                    </div>
                    <a class="link" href="#inline-<?= $depoimentofirst->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
                </article>
                <div id="inline-<?= $depoimentofirst->getId(); ?>" class="depoimento-view">
                    <h2 style="text-align: center;">Depoimento</h2><br>
                    <?= $text; ?>
                </div>
            <? } ?>
            <?
            if (is_instanceof('Codando\Modulo\Depoimento', $depoimentomiddle) === true) {
                $imageDepoimentom = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentomiddle->getArquivo());
                $text = $depoimentomiddle->getTexto();
                ?>
                <article class="depoimento">
                    <div class="autor-container">
                        <a class="imagem-autor">
                            <img src="<?= $imageDepoimentom->getImage() ?>">
                        </a>
                        <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentomiddle->getNome(); ?></span>
                    </div>
                    <div class="i-mensagem-container">
                        <i class="sprite i-mensagem"></i>
                    </div>
                    <div class="text-wrapper"><?= str()->truncate($text, 210); ?></div>
                    <a class="link" href="#inline-<?= $depoimentomiddle->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
                </article>
                <div id="inline-<?= $depoimentomiddle->getId(); ?>" class="depoimento-view">
                    <h2 style="text-align: center;">Depoimento</h2><br>
                    <?= $text; ?>
                </div>
            <? } ?>
            <?
            if (is_instanceof('Codando\Modulo\Depoimento', $depoimentolast) === true) {
                $imageDepoimentol = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentolast->getArquivo());
                $text = $depoimentolast->getTexto();
                ?>
                <article class="depoimento ultimo">
                    <div class="autor-container">
                        <a href="#" class="imagem-autor">
                            <img src="<?= $imageDepoimentol->getImage() ?>">
                        </a>
                        <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentolast->getNome(); ?></span>
                    </div>

                    <div class="i-mensagem-container">
                        <i class="sprite i-mensagem"></i>
                    </div>
                    <div class="text-wrapper"><?= str()->truncate($text, 210); ?></div>
                    <a class="link" href="#inline-<?= $depoimentolast->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
                </article>
                <div id="inline-<?= $depoimentolast->getId(); ?>" class="depoimento-view">
                    <h2 style="text-align: center;">Depoimento</h2><br>
                    <?= $text; ?>
                </div>
            <? } ?>
        </section>
    </div>
    <div class="container">
        <? echo $paginacao; ?>
    </div>
</section>
<?
$this->display('footer', array('menuCurrent' => 'depoimento'));
