<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $dica \Codando\Modulo\Dica  */

$q = input()->_toGet("q", "xss%s");

$this->display('header', array('menuCurrent' => 'dica'));
?>


<section class="sessao-dicas">
    <header class="title-section-container">
        <h1 class="title-section">Dicas</h1>
    </header>

    <p class="text-sub">Acompanhe nossas dicas e novidades sobre o mundo pet.</p>

    <div class="main-content">
        <div class="dicas">
            <?
            foreach ($dicaList as $dica) {
                /* @var $imgDica \Codando\Modulo\Arquivo */
                $imgDica = is_instanceofOrNew('Codando\Modulo\Arquivo', $dica->getArquivo());

                $url = $dica->getUrl();
                ?>
                <div class="dica">
                    <a href="<?= $url; ?>" class="imagem">
                        <img src="<?= $imgDica->getImage(270, 200, 'crop'); ?>" alt="">
                    </a>
                    <a href="<?= $url; ?>" class="dica-link"><?= $dica->getTitulo(); ?></a>
                </div>
            <? } ?>
        </div>
    </div>

    <div class="container">
        <? echo $paginacao; ?>
    </div>
</section>

<?
$this->display('footer', array('menuCurrent' => 'dica'));
