<?php

/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$this->display('header', array('menuCurrent' => 'faq'));

$hospede = array();
$anfitriao = array();

/* @var $faq  \Codando\Modulo\Faq */
foreach ($faqList as $faq) {
    if ($faq->getTipo() == 1) {

        $anfitriao[] = '<div class="pergunta-wrapper"><span class="pergunta">' . $faq->getPergunta() . '</span><div class="resposta text-sub">' . $faq->getResposta() . '</div></div>';
    } else {
        $hospede[] = '<div class="pergunta-wrapper"><span class="pergunta">' . $faq->getPergunta() . '</span><div class="resposta text-sub">' . $faq->getResposta() . '</div></div>';
    }
}

?>


<section class="form-generic" data-controller="faq">
    <header class="title-section-container">
        <h1 class="title-section">PERGUNTAS FREQUENTES</h1>
    </header>

        <!--<p class="text-sub">Aqui você poderá tirar todas as dúvidas sobre a DogSafe.</p>-->

    <div class="container">

        <div class="perguntas-frequentes">

            <div class="perguntas-container">
                <h2 class="title-page">PERGUNTAS FREQUENTES ANFITRIÃO</h2>
                <?= implode('', $anfitriao) ?>
            </div>
            
            
            <div class="perguntas-container">
                <h2 class="title-page">PERGUNTAS FREQUENTES HÓSPEDE</h2>
                <?= implode('', $hospede) ?>
            </div>

        </div>


        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>

<?

$this->display('footer', array('menuCurrent' => 'faq'));
