<?php $redesocialList = app()->listModulo('redesocial'); ?>
<footer class="footer">    <div class="footer-container container">
        <div class="nav-container">
            <h2 class="title title-medium title-border">empresa</h2>
            <nav class="menu-footer">
                <ul>
                    <li class="menu-item"><a href="/">inicial</a></li>
                    <li class="menu-item"><a href="/sobre">dog safe</a></li>
                    <li class="menu-item"><a href="/como-funciona">como funciona</a></li>
                    <li class="menu-item"><a href="/privacidade">política de privacidade</a></li>
                    <li class="menu-item"><a href="/termos">termos de uso</a></li>
                    <li class="menu-item"><a href="/perguntas-frequentes">perguntas frequentes</a></li>
                    <li class="menu-item"><a href="/ver-meus-dados">VER MEUS DADOS</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-container">
            <h2 class="title title-medium title-border">conteúdo</h2>
            <nav class="menu-footer">                <ul>
                    <li class="menu-item"><a href="/blog">blog</a></li>
                    <li class="menu-item"><a href="/dicas">dicas</a></li>
                    <?php
                    $countParceiro = app()->countModulo('parceiro');
                    if ($countParceiro > 0) {
                        ?>
                        <li class="menu-item"><a href="/parceiros">parceiros</a></li>
                    <?php } ?>
                    <li class="menu-item"><a href="/depoimentos">depoimentos</a></li>
                    <li class="menu-item"><a href="/fale-conosco">fale conosco</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-container nav-big">
            <h2 class="title title-medium title-border">top cidades</h2>
            <div class="mais">
                <?php
                $cidadeList = (array) app()->listModulo('cidade', array(' destaque = 1 '), 10, ' ordem ASC ');
                $cidadekey = array_keys($cidadeList);
                $cidadeMais = (array) app()->listModulo('cidade', ' destaque = 1 AND id_cidade NOT IN (' . implode(',', $cidadekey) . ') ', 5, ' ordem ASC ');
                if (count($cidadeMais) > 0) {
                    ?>
                    <span class="mais-text">mais cidades</span>
                    <div class="mais-cidades">
                        <ul>
                            <?php
                            /* @var $cidadem \Codando\Modulo\Cidade */
                            foreach ($cidadeMais as $cidadem) {
                                ?>
                                <li>
                                    <a href="/encontre-um-anfitriao?cidade=<?= $cidadem->getId(); ?>"><?= $cidadem->getNome() . '/' . $cidadem->getEstado()->getSigla(); ?></a>
                                </li>
                            <?php } ?>
                        </ul>
                    </div>
                <?php } ?>
            </div>
            <div class="nav-wrapper">
                <nav class="menu-footer">
                    <ul>
                        <?php
                        $count = 0;
                        while ($count < 5) {
                            /* @var $cidadeTemp \Codando\Modulo\Cidade */
                            $cidadeTemp = array_shift($cidadeList);
                            if (is_instanceof('Codando\Modulo\Cidade', $cidadeTemp)) {
                                ?>
                                <li>
                                    <a href="/encontre-um-anfitriao?cidade=<?= $cidadeTemp->getId(); ?>"><?= $cidadeTemp->getNome() . '/' . $cidadeTemp->getEstado()->getSigla(); ?></a>
                                </li>
                                <?php
                            }
                            $count++;
                        }
                        ?>
                    </ul>
                </nav>
                <nav class="menu-footer">
                    <ul>
                        <?php
                        $count = 0;
                        while ($count < 5) {
                            /* @var $cidadeTemp \Codando\Modulo\Cidade */
                            $cidadeTemp = array_shift($cidadeList);
                            if (is_instanceof('Codando\Modulo\Cidade', $cidadeTemp)) {
                                ?>
                                <li>
                                    <a href="/encontre-um-anfitriao?cidade=<?= $cidadeTemp->getId(); ?>"><?= $cidadeTemp->getNome() . '/' . $cidadeTemp->getEstado()->getSigla(); ?></a>
                                </li>
                                <?php
                            }
                            $count++;
                        }
                        ?>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="newsletter">
            <form data-action="/newsletter" data-controller="form" class="newsletter-form">
                <span class="feedback absolute mt-40 c-white"></span>
                <input type="text" name="email" placeholder="Insira o seu e-mail e receba novidades" required>
                <button type="submit" class="btn btn-small btn-claro">cadastrar</button>
            </form>
            <i class="sprite i-pata-small"></i>
            <div <?= input()->getSession('cidade.nome') != NULL ? NULL : 'id="geolocation"'; ?> class="localidade">
                <a href="#" class="btn btn-small btn-laranja">
                    <i class="sprite i-localizacao-branco"></i>
                </a>
                <span class="text-destaque text-destaque-small">
                    <strong>VOCÊ ESTÁ EM: </strong><?= input()->getSession('cidade.nome') != NULL ? input()->getSession('cidade.nome') : 'Brasil'; ?>
                </span>
            </div>
        </div>
        <div class="emails">
            <a class="link-email" href="mailto:atendimento@dogsafe.com.br" target="_blank">atendimento@dogsafe.com.br</a>
            <a class="link-email" href="mailto:imprensa@dogsafe.com.br" target="_blank">imprensa@dogsafe.com.br</a>
            <i class="sprite i-pata-small"></i>
        </div>
        <div class="contatos">
            <div class="siga-container">
                <span class="text-destaque text-destaque-medium"><strong>SIGA-NOS </strong> NAS REDES SOCIAIS</span>
                <?php
                $redes = array('facebook' => ' i-facebook-big', 'instagram' => 'i-instagram-big');
                /* @var $redesocial \Codando\Modulo\Redesocial */
                foreach ($redesocialList as $redesocial) {
                    $class = isTo($redesocial->getLink(), $redes);
                    ?>
                    <a <?= href_target($redesocial->getLink()) ?> class="<?= $class; ?>">
                        <i class="sprite <?= $class; ?>"></i>
                    </a>
                <?php } ?>
            </div>
            <i class="sprite i-pata-small"></i>
            <div class="pague-container">
                <span class="text-destaque text-destaque-medium">
                    <strong>PAGUE  </strong> COM A PLATAFORMA</span>
                <a href="#" class="i-paypal">
                    <i class="sprite i-paypal"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="base-rodape">
            <span class="copyright">Copyright &copy; 2016</span>
            <a href="/" class="logo-dog-footer"><img src="/img/logo-dogsafe-grande.png"></a>
        </div>
        <div class="base-rodape">
            <span>Site Criado por:</span>
            <a href="https://neexbrasil.com/" class="logo-trinity" title="Neex Brasil - Criação de Site e Aplicativos">
                <img width="100" src="/img/logo_neexbrasil.png" alt="Trinity Brasil - Criação de Site e Aplicativos">
            </a>
        </div>
    </div>
</footer>
<iframe id="jserro" width="0" height="0" frameborder="0" src="/jserro.php"></iframe>
<script type="text/javascript" src="/js/jserro.js" async defer></script>
<?= js()->_addLoadBody('/js/browser_selector.js'); ?>
<<<<<<< HEAD
<script async defer>
    //window.fbAsyncInit = function () {
    //        FB.init({
    //            appId: '279480292466896',
    //            xfbml: true,
    //            version: 'v2.7'
    //        });
    //    };
    //    (function (d, s, id) {
    //        var js, fjs = d.getElementsByTagName(s)[0];
    //        if (d.getElementById(id)) {
    //            return;
    //        }
    //        js = d.createElement(s);
    //        js.id = id;
    //        js.src = "//connect.facebook.net/en_US/sdk.js";
    //        fjs.parentNode.insertBefore(js, fjs);
    //    }(document, 'script', 'facebook-jssdk'));
=======

<script async defer>
//    window.fbAsyncInit = function () {
//        FB.init({
//            appId: '279480292466896',
//            xfbml: true,
//            version: 'v2.7'
//        });
//    };
//    (function (d, s, id) {
//        var js, fjs = d.getElementsByTagName(s)[0];
//        if (d.getElementById(id)) {
//            return;
//        }
//        js = d.createElement(s);
//        js.id = id;
//        js.src = "//connect.facebook.net/en_US/sdk.js";
//        fjs.parentNode.insertBefore(js, fjs);
//    }(document, 'script', 'facebook-jssdk'));
>>>>>>> 8845e740a81e6901ba9ff2d091cd55f5ba5540d4
</script>
</body>
</html>