<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start':
                            new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5FTS9BL');
        </script>
        <!-- End Google Tag Manager -->
        <?php echo meta(); ?>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="width">
        <link type="text/plain" rel="author" href="/humans.txt" />
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" sizes="36x36" href="/img/favicon/android-icon-36x36.png">
        <link rel="apple-touch-icon" sizes="48x48" href="/img/favicon/android-icon-48x48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/android-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="/img/favicon/android-icon-96x96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/android-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/android-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#1B8692">
        <meta name="theme-color" content="#1B8692">
<<<<<<< HEAD
        <meta http-equiv="Cache-Control" content="no-store" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
=======
		<meta http-equiv="Cache-Control" content="no-store" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
>>>>>>> 8845e740a81e6901ba9ff2d091cd55f5ba5540d4
        <script src="/js/browserup.js" async defer></script>
        <!--[if lt IE 9]>
            <script src="/js/html5.js"></script>
            <script src="/js/respond.js"></script>
        <![endif]-->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-28704441-49', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <?php flush(); ?>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FTS9BL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <noscript>
        Para completa funcionalidade deste site é necessário habilitar o JavaScript.
        Aqui estão as <a href="http://www.enable-javascript.com/pt/" target="_blank">
            instruções de como habilitar o JavaScript no seu navegador</a>.
        </noscript>
        <header class="header-principal container">
            <?php
            $redesocialList = app()->listModulo('redesocial');
            ?>
            <div class="icon-container">
                <?php
                /* @var $redesocial \Codando\Modulo\Redesocial */
                foreach ($redesocialList as $redesocial) {
                    ?>
                    <a <?= href_target($redesocial->getLink()) ?> ><?= $redesocial->getNome(); ?></a>
                <?php } ?>
            </div>

            <nav class="main-menu">
                <div class="main-menu-hamburger" id="menu-hamburguer">
                    <i></i><i></i><i></i>
                </div>

                <ul class="link link-bold menu">
                    <li>
                        <a href="/encontre-um-anfitriao">encontre um anfitrião</a>
                    </li>
                    <li><a href="/como-funciona">como funciona</a></li>
                    <?php if (is()->id(input()->getSession('logado')) === false) { ?>
                        <li class="box-nao-logado">
                            <a href="/cadastre-se">cadastre-se</a>
                            <a href="/identificacao">entrar</a>
                        </li>
                    <?php } else { ?>
                        <li class="box-logado">
                            <span class="nome">Oi, <?= input()->getSession('nome'); ?></span>
                            <div class="links-wrapper">
                                <a href="/minha-conta" class="bt-blue">minha conta</a>
                                <a href="/sair" class="bt-red">sair</a>
                            </div>
                        </li>
                    <?php } ?>
                    <?php if (is()->id(input()->getSession('logadoanfitriao')) === false) { ?>
                        <li>
                            <div class="link-ultimo">
                                <a href="/tornar-se-anfitriao" class="btn btn-big btn-escuro">tornar-se anfitrião</a>
                            </div>
                        </li>
                    <?php } ?>
                    <li class="ultimo">
                        <div class="icon-container">
                            <span><span class="link-bold">SIGA-NOS</span> NAS REDES SOCIAIS</span>
                            <?php
                            /* @var $redesocial \Codando\Modulo\Redesocial */
                            foreach ($redesocialList as $redesocial) {
                                ?>
                                <a <?= href_target($redesocial->getLink()) ?> ><?= $redesocial->getNome(); ?></a>
                            <? } ?>
                        </div>
                    </li>
                </ul>
            </nav>

            <a href="/" class="main-logo" title="Dog Safe">
                <img src="/img/logo-dogsafe-grande.png" alt="Dog Safe">
            </a>
            <?php if (is()->id(input()->getSession('logadoanfitriao')) === false) { ?>
                <a href="/tornar-se-anfitriao" class="btn btn-big btn-escuro btn-mobile">tornar-se anfitrião</a>
            <?php } ?>
        </header>
        <div class="clearfix"></div>