<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$this->display('header', array('menuCurrent' => 'index'));

/* @var $player \Codando\Modulo\Player */
$player = current(app()->listModulo('player', NULL, 1, 'RAND()'));

/* @var $imgPlayer \Codando\Modulo\Arquivo */
$imgPlayer = is_instanceofOrNew('Codando\Modulo\Arquivo', $player->getArquivo());
?>

<section class="home-container">
    <div class="img-fundo" style="background-image:url('<?= $imgPlayer->getImage(); ?>');"></div>
    <div class="home">
        <h1 class="title title-extra-big">encontre um anfitrião <span class="text-destaque text-destaque-big text-destaque-claro"><strong>próximo</strong> de você</span></h1>

        <form action="/encontre-um-anfitriao" id="buscatop" data-controller="busca" class="form-banner container">
            <input type="hidden" name="latlong" value=""/>
            <label for="boarding" disabled class="hide">Selecione</label>
            <div class="select-personalizado">
                <span class="label">Selecione</span>
                <i class="seta"></i>
                <select id="boarging" name="modalidade" placeholder="Selecione" class="selected">
                    <option value="" class="primeiro">Selecione</option>
<!--                    <option value="3">Hospedagem e Daycare</option>-->
                    <option value="1">Hospedagem</option>
                    <option value="2">Daycare</option>
                </select>
            </div>
            <label for="cep" disabled class="hide">CEP</label>
            <input type="text" id="cep" name="cep" placeholder="cep" class="input input-medium">

            <label for="data-inicio" disabled class="hide">data inicial</label>
            <div class="input-icon input-icon-calendar">
                <input type="text" id="data-inicio" name="datainicio" placeholder="DATA INICIAL" value="" class="input input-medium" data-datepicker>
            </div>

            <label for="data-fim" disabled class="hide">data final</label>
            <div class="input-icon input-icon-calendar">
                <input type="text" id="data-fim" name="datafim" placeholder="DATA FINAL" class="input input-medium" data-datepicker>
            </div>

            <button type="submit" class="btn btn-extra-big btn-danger">encontrar um anfitrião</button>
        </form>
    </div>
</section>


<section class="home-como-funciona">
    <h2 class="title title-big title-escuro">como funciona</h2>
    <p class="text-sub">Com a DogSafe o seu melhor amigo estará em boas mãos. Saiba como funciona:</p>
    <section class="como-funciona">
        <?php
        $comofuncionalist = app()->listModulo('comofunciona', NULL, 3, ' ordem ASC ');
        $countComo = 0;
        $passos = array('um', 'dois', 'tres');

        /* @var $comofunciona \Codando\Modulo\Comofunciona */
        foreach ($comofuncionalist as $comofunciona) {

            /* @var $iconImg \Codando\Modulo\Arquivo */
            $iconImg = is_instanceofOrNew('Codando\Modulo\Arquivo', $comofunciona->getArquivo());
            ?>
            <article class="descricao">
                <a href="/como-funciona" class="imagem">
                    <img src="<?= $iconImg->getImage(); ?>">
                    <i class="sprite passo-<?= $passos[$countComo]; ?>"></i>
                </a>
                <h3 class="title title-small title-escuro"><?= $comofunciona->getTitulo(); ?></h3>
            </article>
            <?
            $countComo++;
        }
        ?>

    </section>

    <section class="cao-seguro">
        <a class="imagem">
            <img src="/img/seu-cao-seguro.png">
            <i class="i-selo"></i>
        </a>

        <div class="detalhes">
            <span class="title-bigger">Seu cão <strong>seguro</strong></span>
            <div class="detalhes-container">
                <div class="text-container">
                    <div class="i-container">
                        <i class="sprite i-pata"></i>
                    </div>
                    <p class="text-sub">Seguro veterinário de até R$ 5 mil;</p>
                </div>

                <!--                <div class="text-container">
                                    <div class="i-container">
                                        <i class="sprite i-calendario"></i>
                                    </div>
                                    <p class="text-sub">Nosso site possibilita o agendamento de uma pré-visita aos anfitriões;</p>
                                </div>-->

                <div class="text-container">
                    <div class="i-container">
                        <i class="sprite i-caderno"></i>
                    </div>
                    <p class="text-sub">Os anfitriões passam por um processo seletivo;</p>
                </div>

                <div class="text-container">
                    <div class="i-container">
                        <i class="sprite i-celular"></i>
                    </div>
                    <p class="text-sub">Atendimento exclusivo por e-mail ou telefone.</p>
                </div>
            </div>
        </div>
    </section>
</section>
<?php

$depoimentoList = app()->listModulo('depoimento', ' status = 1 ', 3, 'data DESC');

if(count($depoimentoList) > 0){
?>
<section class="home-depoimentos container">
    <h2 class="title title-big title-escuro">DEPOIMENTOS</h2>
    <p class="text-sub">Confira abaixo os depoimentos de quem confiou e aprovou os nossos serviços.</p>

    <section class="depoimentos text-sub text-sub-branco">
        <?php
        
        /* @var $depoimentofirst \Codando\Modulo\Depoimento  */
        $depoimentofirst = array_shift($depoimentoList);

        /* @var $depoimentomiddle \Codando\Modulo\Depoimento  */
        $depoimentomiddle = array_shift($depoimentoList);

        /* @var $depoimentolast \Codando\Modulo\Depoimento  */
        $depoimentolast = array_shift($depoimentoList);

        if (is_instanceof('Codando\Modulo\Depoimento', $depoimentofirst) === true) {
            $imageDepoimentof = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentofirst->getArquivo());
            $text = $depoimentofirst->getTexto();
            ?>
            <article class="depoimento depoimento-principal">
                <div class="i-mensagem-container">
                    <i class="sprite i-mensagem"></i>
                </div>
                <div class="text-wrapper"><?= $depoimentofirst->getTexto(); ?></div>
                <div class="autor-container">
                    <a class="imagem-autor">
                        <img src="<?= $imageDepoimentof->getImage() ?>">
                    </a>
                    <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentofirst->getNome(); ?></span>
                </div>
                <a class="link" href="#inline-<?= $depoimentofirst->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
            </article>
            <div id="inline-<?= $depoimentofirst->getId(); ?>" class="depoimento-view">
                <h2 style="text-align: center;">Depoimento</h2><br>
                <?= $text; ?>
            </div>
        <? } ?>
        <?
        if (is_instanceof('Codando\Modulo\Depoimento', $depoimentomiddle) === true) {
            $imageDepoimentom = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentomiddle->getArquivo());
            $text = $depoimentomiddle->getTexto();
            ?>
            <article class="depoimento">
                <div class="autor-container">
                    <a class="imagem-autor">
                        <img src="<?= $imageDepoimentom->getImage() ?>">
                    </a>
                    <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentomiddle->getNome(); ?></span>
                </div>
                <div class="i-mensagem-container">
                    <i class="sprite i-mensagem"></i>
                </div>
                <div class="text-wrapper"><?= str()->truncate($text, 210); ?></div>
                <a class="link" href="#inline-<?= $depoimentomiddle->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
            </article>
            <div id="inline-<?= $depoimentomiddle->getId(); ?>" class="depoimento-view">
                <h2 style="text-align: center;">Depoimento</h2><br>
                <?= $text; ?>
            </div>
        <? } ?>
        <?
        if (is_instanceof('Codando\Modulo\Depoimento', $depoimentolast) === true) {
            $imageDepoimentol = is_instanceofOrNew('Codando\Modulo\Arquivo', $depoimentolast->getArquivo());
            $text = $depoimentolast->getTexto();
            ?>
            <article class="depoimento ultimo">
                <div class="autor-container">
                    <a href="#" class="imagem-autor">
                        <img src="<?= $imageDepoimentol->getImage() ?>">
                    </a>
                    <span class="text-sub text-sub-branco text-sub-small"><?= $depoimentolast->getNome(); ?></span>
                </div>

                <div class="i-mensagem-container">
                    <i class="sprite i-mensagem"></i>
                </div>
                <div class="text-wrapper"><?= str()->truncate($text, 210); ?></div>
                <a class="link" href="#inline-<?= $depoimentolast->getId(); ?>" data-rel="fancybox-depoimento-1" rel="fancybox-depoimento-1">continue lendo</a>
            </article>
            <div id="inline-<?= $depoimentolast->getId(); ?>" class="depoimento-view">
                <h2 style="text-align: center;">Depoimento</h2><br>
                <?= $text; ?>
            </div>
        <? } ?>
    </section>
</section>

<?php
}

$this->display('footer', array('menuCurrent' => 'index'));
