<?php

$this->display('header', array('menuCurrent' => 'index'));
?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">PARA RECUPERAR SEUS DADOS PRECISAMOS DE ALGUMAS INFORMAÇÕES.</h1>
    </header>

    <p class="text-sub">Qual o seu CPF/E-mail?</p>

    <div class="container">
        <div class="form-container fale-conosco">
            <form action="/consulta-dados" method="post">
                <div class="input-wrapper">
                    <label for="CPF" class="none">CPF</label>
                    <input type="text" id="CPF" name="cpf" class="form-control" placeholder="Digite o CPF sem pontos, vírgulas ou traço">
                </div>
                <div class="input-wrapper">
                    <label for="email" class="none">Nome</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail*" required>
                </div>
                <div class="input-wrapper">
                    <div class="holder">
                        <span class="aviso">* Campos Obrigatórios</span>
                        <button type="submit" class="btn-icon btn-icon-flecha">Consultar</button>
                    </div>

                    <div class="feedback c-white"></div>
                </div>
            </form>
        </div>

        <div class="widgets-container">
            <a href="/ver-meus-dados" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<?php

$this->display('footer', array('menuCurrent' => 'index'));
