<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $noticia \Codando\Modulo\Noticia  */

$q = input()->_toGet("q", "xss%s");

$this->display('header', array('menuCurrent' => 'noticia'));
?>


<section class="blog">
    <header class="title-section-container">
        <h1 class="title-section">Blog</h1>
    </header>

    <p class="text-sub">Acompanhe nosso blog e fique por dentro das novidades e notícias do mundo pet.</p>

    <div class="container">
        <div class="postagens">
            <?
            foreach ($noticiaList as $noticia) {
                /* @var $imgNoticia \Codando\Modulo\Arquivo */
                $imgNoticia = is_instanceofOrNew('Codando\Modulo\Arquivo', $noticia->getArquivo());
                list($data, $hora) = explode('-', $noticia->getData('d.m.Y-h:m'));
                $url = $noticia->getUrl();
                ?>
                <div class="postagem">
                    <a href="<?= $url; ?>" class="imagem">
                        <img src="<?= $imgNoticia->getImage(570, 427, 'crop'); ?>" alt="">
                    </a>
                    <span class="text-date"><?= $data . ' às ' . $hora; ?></span>
                    <h2 class="title-view"><?= $noticia->getTitulo(); ?></h2>
                    <div class="text-wrapper"><?= str()->truncate($noticia->getResumo(), 250); ?></div>
                    <a href="<?= $url; ?>"class="btn btn-big btn-escuro">leia mais</a>
                </div>
            <? } ?>
        </div>
    </div>

    <div class="container">
        <?= $paginacao; ?>
    </div>
</section>

<?
$this->display('footer', array('menuCurrent' => 'noticia'));
