<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $noticia Codando\Modulo\Noticia
 */


/* @var $imagemTemp Codando\Modulo\Arquivo  */
$imagemTemp = is_instanceof('Codando\Modulo\Arquivo', $noticia->getArquivo()) ? $noticia->getArquivo() : NULL;

/* @var $noticia \Codando\Modulo\Noticia  */
$noticia;

$url = $config['root'] . $noticia->getUrl();

$countImg = count($noticia->getArquivoList());

$subtitulo = $noticia->getSubtitulo();

list($data, $hora) = explode('-', $noticia->getData('d\.m\.Y-H:m'));

$this->display('header', array('menuCurrent' => 'noticia'));
?>

<section class="view-generic">
    <header class="title-section-container">
        <h1 class="title-section">Blog</h1>
    </header>
    <div class="container">
        <div class="cabecalho">
            <span class="text-date"><?= $data . ' às ' . $hora; ?> </span>
            <h2 class="title-view"><?= $noticia->getTitulo(); ?></h2>
            <?= $subtitulo != NULL ? '<div class="subtitle-view">' . $subtitulo . '</div>' : ''; ?>
            <span class="creditos">
                <?= $noticia->getAutor() != null ? '<strong>' . $noticia->getAutor() . '</strong>' : ''; ?>
                <?= $noticia->getFonte() != null ? '<br>Fonte: ' . $noticia->getFonte() . '' : ''; ?>
            </span>
        </div>
        <? if ($countImg > 0) { ?>
            <div class="imagens-container" data-controller="player" data-notloadimg data-center>
                <div class="prev" data-prev>
                    <i class="sprite i-seta-e"></i>
                </div>
                <div class="next" data-next>
                    <i class="sprite i-seta-d"></i>
                </div>
                <div class="imagens" data-list>
                    <?
                    /* @var $imagemTemp \Codando\Modulo\Arquivo */
                    foreach ($noticia->getArquivoList() as $imagemTemp) {
                        ?>
                        <a href="<?= $imagemTemp->getImage(); ?>" data-rel="fancybox-galeria-blog-<?= $noticia->getId(); ?>" rel="fancybox-galeria-blog-<?= $noticia->getId(); ?>" class="imagem" data-item>
                            <img src="<?= $imagemTemp->getImage(470, 358); ?>" alt="">
                            <?= $imagemTemp->getLegenda() != NULL ? '<p class="descricao-imagem">' . $imagemTemp->getLegenda() . '</p>' : ''; ?>
                        </a>
                    <? } ?>
                    <div class="mask-player">
                        <img src="/img/mask-player.jpg" alt="">
                    </div>
                </div>
            </div>
        <? } ?>
        <div class="descricao"><?= $noticia->getTexto(); ?></div>

        <div class="widgets-container">
            <a href="/blog" class="btn-border">voltar</a>

            <div class="icones-compartilhar">
                <span>COMPARTILHAR</span>
                <a href="whatsapp://send?text=<?= urlencode($url); ?>" target="_blank" class="sprite i-btn-whats"><span class="none">Compartilhar via Whatsapp</span></a>

                <div class="share-button share-facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<?= urlencode($url); ?>" title="Compartilhar via Facebook" target="_blank" rel="external">
                        <div class="sprite i-btn-facebook"> </div>
                        <span class="none">Facebook</span>
                    </a>
                </div>

                <div class="share-button share-twitter">
                    <a href="https://twitter.com/home?status=<?= urlencode($url . ' ' . $noticia->getTitulo()); ?>" title="Compartilhar via Twitter" target="_blank" rel="external">
                        <div class="sprite i-btn-twitter"> </div>
                        <span class="none">Twitter</span>
                    </a>
                </div>

                <div class="share-button share-googleplus">
                    <a href="https://plus.google.com/share?url=<?= urlencode($url); ?>" title="Compartilhar via Google+" target="_blank" rel="external">
                        <div class="sprite i-btn-googleplus"> </div>
                        <span class="none">Google+</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<?php
$this->display('footer', array('menuCurrent' => 'noticia'));
