<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$last_url =  paginaUrl($baseUrl, 'p', $numPages);
$first_url = paginaUrl($baseUrl, 'p', 1);

if(false){
?>

<div class="bloco-paginador mt-0">
    
    <? if ($pagnum <= 1) {?>
    <a class="bt-desativado bt-page w-inline-block"><img src="/img/icone-primeira.png"></a>
    <? }else { ?>
    <a class=" bt-page w-inline-block" itemprop="url" href="<?= $first_url; ?>"><img src="/img/icone-primeira.png"></a>
    <? } ?>
    
    <?php
    if ($pagnum > 1) {

        $prev_url = paginaUrl($baseUrl, 'p', ($pagnum - 1));

        meta()->setLink('prev', COD_URL . $prev_url);
    ?>
        <a class="bt-page w-inline-block" itemprop="url" href="<?= $baseUrl ?>" href="<?= $prev_url ?>" title="Anterior"><img alt="Anterior" src="/img/icone-anterior.png"></a>
    <?php } else {  ?>
        <a class="bt-desativado bt-page w-inline-block" disabled title="Anterior"><img alt="Anterior" src="/img/icone-anterior.png"></a>
     <? } ?>
 
    <div class="form-page w-form">
        <form id="email-form-pag" action="<?= $baseUrl; ?>">
            <input class="campo-page w-input" id="page-2" maxlength="256" name="p" value="<?= intval($pagnum) ?>" placeholder="01" type="text" required>
            <p class="texto-paginas">de <?= $numPages ?></p>
        </form>
    </div>
    
    <?php
    if ($pagnum < $numPages) {

        $next_url = paginaUrl($baseUrl, 'p', ($pagnum + 1));

        meta()->setLink('next', COD_URL . $next_url);
        ?>  
        <a href="<?= $next_url ?>" itemprop="url" class="bt-page w-inline-block" title="Próximo"><img src="/img/icone-proxima.png" alt="Próximo"></a>
    <? } else { ?>
        <a class="bt-page w-inline-block bt-desativado"><img src="/img/icone-proxima.png" alt="Próximo"></a>
    <? } ?>
    <? if ($numPages > 1) { ?>    
    <a class="bt-page w-inline-block" itemprop="url" href="<?= $last_url; ?>"><img src="/img/icone-ultima.png"></a>
    <? } ?>
</div>
<? } ?>


 <nav class="paginacao">
    <a href="/" class="btn-border"><i></i>voltar</a>
    <? if($numPages > 1){ ?>
    <span class="qtd"><span>Página <?= intval($pagnum) ?></span> de <?= $numPages ?></span>
    <div class="pag">
        <form action="<?= $baseUrl; ?>">
            <?php
            if ($pagnum > 1) {

                $prev_url = paginaUrl($baseUrl, 'p', ($pagnum - 1));

                meta()->setLink('prev', COD_URL . $prev_url);
            ?>
                <a class="prev" itemprop="url" href="<?= $baseUrl ?>" href="<?= $prev_url ?>" title="Anterior"></a>
            <?php } else {  ?>
                <a class="prev" disabled title="Anterior"></a>
            <? } ?>

            <input type="text" class="atual" name="p" value="<?= intval($pagnum) ?>" required>
            
            <?php
            if ($pagnum < $numPages) {

                $next_url = paginaUrl($baseUrl, 'p', ($pagnum + 1));

                meta()->setLink('next', COD_URL . $next_url);
                ?>  
                <a href="<?= $next_url ?>" itemprop="url" class="next" title="Próximo"></a>
            <? } else { ?>
                <a class="next" disabled></a>
            <? } ?>
        </form>
    </div>
    <? } ?>
</nav>
