<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 * @var $pagina Codando\Modulo\Pagina
 */

/* @var $imagemTemp Codando\Modulo\Arquivo  */
$imagemTemp = is_instanceof('Codando\Modulo\Arquivo', $pagina->getArquivo()) ? $pagina->getArquivo() : NULL;

/* @var $pagina Codando\Modulo\Pagina  */
$pagina;

If ($imagemTemp != NULL) {
    meta()->setMeta('og:image', $config['root'] . $imagemTemp->getImage(750, 750));
}

$countImg = count($pagina->getArquivoList());

$this->display('header', array('menuCurrent' => 'pagina'));
?>
<section class="view-generic">
    <header class="title-section-container">
        <h1 class="title-section"><?= $pagina->getTitulo(); ?></h1>
    </header>
    
    <div class="container">
        <?php if($countImg > 0) {?>
        <div class="imagens-container" data-controller="player" data-notloadimg data-center>
            
            <div class="prev" data-prev>
                <i class="sprite i-seta-e"></i>
            </div>
            <div class="next" data-next>
                <i class="sprite i-seta-d"></i>
            </div>

            <div class="imagens" data-list>
                <?php
                
                /*@var $arquivo \Codando\Modulo\Arquivo */
                foreach ($pagina->getArquivoList() as $arquivo) {
                ?>
                <a href="<?= $arquivo->getImage(); ?>" class="imagem fancybox" data-rel="fancybox" rel="fancybox" data-item>
                    <img src="<?= $arquivo->getImage(470, 358, 'crop'); ?>" alt="">
                    <? if(strlen($arquivo->getLegenda()) > 2){ ?>
                    <p class="descricao-imagem"><?= $arquivo->getLegenda() ?></p>
                    <? } ?>
                </a>
                <? } ?>

                <div class="mask-player">
                    <img src="/img/mask-player.jpg" alt="">
                </div>
            </div>
        </div>
        <?php } ?>
        
        <div class="descricao">
            <?= $pagina->getTexto(); ?>
        </div>
        
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<?php
$this->display('footer', array('menuCurrent' => 'pagina'));
