<?php
/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

/* @var $parceiro \Codando\Modulo\Parceiro  */

$q = input()->_toGet("q", "xss%s");

$this->display('header', array('menuCurrent' => 'parceiro'));
?>
<section class="parceiros">
    <header class="title-section-container">
        <h1 class="title-section">Parceiros</h1>
    </header>

    <p class="text-sub">Cliente DogSafe tem diversos benefícios em nossa rede de parceiros credenciados.</p>

    <div class="main-content">
        <div class="parceiros">
            <?
            foreach ($parceiroList as $parceiro) {
                /* @var $imgParceiro \Codando\Modulo\Arquivo */
                $imgParceiro = is_instanceofOrNew('Codando\Modulo\Arquivo', $parceiro->getArquivo());
                ?>
                <div class="parceiro">
                    <a href="<?= $parceiro->getLink(); ?>" target="_blank" class="logo">
                        <img src="<?= $imgParceiro->getImage(); ?>" alt="">
                    </a>
                    <span class="nome"><?= $parceiro->getTitulo(); ?></span>
                    <div class="descricao"><?= $parceiro->getTexto(); ?></div>
                </div>
            <? } ?>
        </div>
    </div>

    <div class="container">
        <?= $paginacao; ?>
    </div>
</section>

<?
$this->display('footer', array('menuCurrent' => 'parceiro'));
