<?php

/*
 * @var $app Codando\App
 * @var $this Codando\System\Template
 */

$this->display('header', array('menuCurrent' => 'recuperar'));

?>
<section class="form-generic">
    <header class="title-section-container">
        <h1 class="title-section">RECUPERAR SENHA</h1>
    </header>
    <p class="text-sub">Preencha os campos abaixo para alterar o sua senha.</p>
    <div class="container">
        <div class="form-container identificacao">
            <form data-action="/recuperar" data-controller="form">
                <span class="feedback c-white"></span>
                          
                <label for="senha" class="none">Nova Senha</label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Nova Senha *" required>
                
                <label for="senha" class="none">Confirma senha</label>
                <input type="password" id="confsenha" name="confsenha" class="form-control" placeholder="Confirma senha *" required>
                         
                <div class="wrapper">
                    <button type="submit" class="btn-icon btn-icon-flecha">ALTERAR</button>
                </div>
                
                
            </form>
        </div>
        <div class="widgets-container">
            <a href="/" class="btn-border">voltar</a>
        </div>
    </div>
</section>
<?php

$this->display('footer', array('menuCurrent' => 'recuperar'));
